{#<a href="{% url 'dikko:product_list' sfield=sfield.slug slug=obj.slug %}">#}
<div class="block1 hov-img-zoom pos-relative m-b-30 p-l-15 p-r-15">
    <img src="{{ obj.image.url }}" alt="IMG-BENNER">

    <div class="block1-wrapbtn w-size2">
        <!-- Button -->
        <a href="{% url 'dikko:product_list' sfield=sfield.slug slug=obj.slug %}"
           class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
            {{ obj }}
        </a>
    </div>
</div>
