                    
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="{{ obj.image.url }}" alt="" />
														<a href="{% url 'dikko:product_list' sfield=sfield.slug slug=obj.slug %}" class="link"><i class="fa fa-link"></i></a>
													</div>
													<div class="product-content">
														<h2><a href="{% url 'dikko:product_list' sfield=sfield.slug slug=obj.slug %}">{{ obj }}</a></h2>
{#														<span> توسط <strong><a href="#"> مدیریت </a></strong> در <strong><a href="#"> اپلیکیشن</a></strong></span>#}
														<div class="product-meta">
															<ul>
                                                                {% load filter_numbers %}
																<li><i class="fa fa-shopping-cart"></i> {{ obj.products.count|persian_int }} کالا</li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>10 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
                                                        <p>{{ obj.description }}</p>

													</div>
												</div>
