
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="{{ obj.image.url }}" alt="" />
														 <a href="{% url 'products:product_details' slug=obj.slug dikko=dikko.slug %}" class="link"><i class="fa fa-link"></i></a>
                                                         <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														 <h3><a href="{% url 'products:product_details' slug=obj.slug dikko=dikko.slug %}">{{ obj }}</a></h3>
{#														<span> توسط <strong><a href="#"> مدیریت </a></strong> در <strong><a href="#"> اپلیکیشن</a></strong></span>#}
														<div class="product-meta">
															<ul>
                                                                {% load filter_numbers %}
																<li><i class="fa fa-shopping-cart"></i> {{ obj.products.count|persian_int }} کالا</li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>10 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
                                                        <p>{{ obj.description }}</p>

													</div>
												</div>
