                    
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="{{ obj.image.url }}" alt="" />
														<a href="#" class="link"><i class="fa fa-link"></i></a>
														<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														<h2><a href="{% url 'dikko:handcrafts_dikko_list' slug=obj.slug %}">{{ obj }}</a></h2>
{#														<span> توسط <strong><a href="#"> مدیریت </a></strong> در <strong><a href="#"> اپلیکیشن</a></strong></span>#}
														<div class="product-meta">
															<ul>
																<li><i class="fa fa-shopping-cart"></i> 20 فروش </li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>10 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
                                                        <p>{{ obj.description }}</p>
														<div class="price">
															<span>$30.00</span>
															<del>$33.00</del>
														</div>
													</div>
												</div>
