{% load filter_numbers %}
{% load staticfiles %}

<div class=" p-l-15 p-r-15 p-t-30">
    <!-- Block2 -->
    <div class="block2">
{#        <div id="add_wishlist_p{{ obj.id }}" class="favorite"></div>#}
        <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
            {% if obj.discount %}
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                    <span>{{ obj.discount|persian_int }}%</span></div>
            {% endif %}

            <a href="{% url 'products:product_details' slug=obj.slug dikko=obj.dikko_set.all.first.slug %}">

                {#                {% for image in obj.image.image.all %}#}
                {#                {{ obj.image.all.first }}#}
                <img src="{{ obj.image.all.first.image.url }}" alt="IMG-PRODUCT">
                {#                {% endfor %}#}

            </a>
            <a href="{% url 'products:product_details' slug=obj.slug dikko=obj.dikko_slug %}">
                <div class="trans-0-4">

                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>

                    <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                    </a>

                    {#                <div class="block2-btn-addcart w-size1 trans-0-4">#}
                    {#                    <!-- Button -->#}
                    {#                    <form class="form-product-ajax" class="form">#}
                    {#                        {% csrf_token %}#}
                    {#                        <input type="hidden" name="product_id" value="{{ obj.id }}">#}
                    {#                        <input type="hidden" name="product_name" class="product_name" value="{{ obj.title }}">#}
                    {#                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">#}
                    {##}
                    {#                            اضافه به سبد خرید#}
                    {#                        </button>#}
                    {#                    </form>#}
                    {##}
                    {#                </div>#}
                </div>
            </a>
        </div>

        <div class="block2-txt p-t-20" style="text-align: center">
            <a href="{% url 'products:product_details' slug=obj.slug dikko=obj.dikko_slug %}"
               class="block2-name dis-block s-text3">
                {{ obj }}
            </a>

            <span class="block2-price m-text6">
									{{ obj.price|persian_int }} تومان
								</span>
        </div>

    </div>
</div>
{##}
{#{% block javascript %}#}
{#    <script>#}
{##}
{#        $(document).ready(function () {#}
{##}
{##}
{#            var ajax_url = '/favorite_list/check';#}
{#            var ajax_method = 'GET';#}
{#            var data = {"product_id":{{obj.id}}};#}
{##}
{#            $.ajax({#}
{#                url: ajax_url,#}
{#                method: ajax_method,#}
{#                data: data,#}
{#                success: function (data) {#}
{#                    var valid = data.valid;#}
{#                    if (valid === 1) {#}
{#                    } else {#}
{#                        $("#add_wishlist_p{{ obj.id }}").hide();#}
{#                    }#}
{#                }#}
{##}
{#            });#}
{##}
{##}
{#            $("#add_wishlist_p{{ obj.id }}").on("click",function(){#}
{#                console.log("clickkkkkkkk")#}
{#                add_favorite();#}
{#            });#}
{#        });#}
{##}
{##}
{#        function add_favorite() {#}
{#            var ajax_url = '/favorite_list/add';#}
{#            var ajax_method = 'GET';#}
{#            var data = {"product_id":{{obj.id}}};#}
{#            $.ajax({#}
{#                url: ajax_url,#}
{#                method: ajax_method,#}
{#                data: data,#}
{#                success: function (data) {#}
{#                    var valid = data.valid#}
{#                    if (valid === 1) {#}
                        {#                        $("#add_favorite_btn").html("حذف از علاقه مندی ها")#}
{#                        console.log("valiid")#}
{#                        var nameProduct = $('.block2-name').html()#}
{#                        swal(nameProduct, "به لیست علاقه مندی ها اضافه شد", "success");#}
{#                        $("#add_wishlist_p").hide();#}
{#                    } else {#}
{#                        console.log("noottt")#}
                        {#                        $("#add_favorite_btn").html("اضافه به علاقه مندی ها")#}
{#                        var nameProduct = $('.block2-name').html()#}
{##}
{#                        swal(nameProduct, "از لیست علاقه مندی ها حذف شد", "success");#}
{##}
{#                    }#}
{#                }#}
{##}
{#            });#}
{##}
{#        }#}
{#    </script>#}
{#{% endblock %}#}
