{#<div class="col-lg-4 col-sm-6 col-xs-12">#}
{#    <div class="product-item mb-70">#}
{##}
{#        <div class="product-img">#}
{#            <a href="{% url 'dikko:handcrafts_dikko_list' pk=obj.name %}"> <img src="{{ obj.image.url }}"#}
{#                                                                                alt="not found"></a>#}
{#            <a href="{% url 'dikko:handcrafts_dikko_list' pk=obj.name %}" class="link"><i class="fa fa-link"></i></a>#}
            {#                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>#}
{#        </div>#}
{##}
{#        <div class="product-content">#}
{#            <h2><a href="{% url 'dikko:handcrafts_dikko_list' pk=obj.name %}">{{ obj }}</a></h2>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}


<div class="col-lg-4 col-sm-6 col-xs-12" style="margin-bottom: 25px">
    <div class="banner_item align-items-center" style="background-image:url({{ obj.image.url }})">
						<div class="banner_category">
							<a href="{% url 'dikko:handcrafts_dikko_list' slug=obj.slug %}">{{ obj }}</a>
						</div>
					</div>
</div>



