{% extends 'base.html' %}
{% load staticfiles %}
{% load filter_numbers %}
{% block seo %}
 <title>فروشگاه اینترنتی بق بند | {{ sfield }}</title>
    <meta name="description" content="خرید اینترنتی جدیدترین های {{sfield}} در {{sfield.field}} فروشگاه اینترنتی بق بند">
    {% endblock %}
{% block stylesheet %}
{% endblock %}


{% block content %}

    <!-- header start -->

    <!-- breadcumb-area start -->

    <div class="breadcumb-area ptb-70 "
         style="background:url({{ sfield.image2.url }})no-repeat scroll center center / cover">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap">
                        <h2>{{ sfield }}</h2>
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

    <!-- profile-area start -->
    <div class="profile-menu-area bg-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="profile-menu text-center">
                        <ul>
                            <li class="active"><a href="#profile" data-toggle="tab">محصولات</a></li>
                            <li><a href="#shop" data-toggle="tab">درباره {{ sfield }}</a></li>
                            {#								<li><a href="#followers" data-toggle="tab">دنبال کننده</a></li>#}
                            {#								<li><a href="#following" data-toggle="tab">طرفدار</a></li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-content bg-2 ptb-20">
        <div class="tab-pane active" id="profile">
            <div class="container">


                <div class="view-wrap">
                    <div class="row">
                        <div class="col-md-6 col-lg-7 col-xs-12">
                            <h2 class="shop-title">
                                {{ object_list.count }} دیکو در {{ sfield }}
                            </h2>
                        </div>
                        <div class="col-md-6 col-lg-5 clear col-xs-12">
                            <div class="selector">
                                <select name="#">
                                    <option value="Default sorting">براساس</option>
{#                                    <option value="#">پر بازدید ترین</option>#}
{#                                    <option value="#">پر فروش ترین</option>#}
{#                                    <option value="#">محبوب ترین</option>#}
                                </select>
                            </div>
                            <div class="other-page">
                                <ul>
                                    <li class="active"><a href="#profile-grid" data-toggle="tab"><i
                                            class="fa fa-th-large"></i></a></li>
                                    <li><a href="#profile-list" data-toggle="tab"><i
                                            class="fa fa-list-ul"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="profile-grid">
                                <div class="featured-prodcuts-area ptb-70 bg-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="row profile-grid">
                                                <div class="wrap-slick2" style="direction: ltr">
                                                    <div class="slick2">
                                                        {% for obj in object_list %}
                                                            {% include "dikko/_dikko.html" %}
                                                        {% endfor %}

                                                        {#                                                {% for obj in object_list %}#}
                                                        {#                                                    {% include "dikko/_product.html" %}#}
                                                        {#                                                {% endfor %}#}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#                                            </div>#}
                            </div>
                            <div class="tab-pane fade shop-list-area" id="profile-list">

                                {% for obj in object_list %}
                                    {% include "dikko/_L_dikko.html" %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            {#            <div class="featured-prodcuts-area ptb-70 bg-2">#}
            {#                <div class="container">#}
            {#                    <div class="row">#}
            {#                        <div class="col-md-8 col-md-offset-2 col-xs-12">#}
            {#                            <div class="section-title text-center">#}
            {#                                <h2>سرکشی در دیکو های مختلف</h2>#}
            {#                                <p> صنایع دستی اصیل خراسان جنوبی را در دیکو های مختلف ببینید </p>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="row">#}
            {#                        <div class="wrap-slick2" style="direction: ltr">#}
            {#                            <div class="slick2">#}
            {#                                <div class="block1 hov-img-zoom pos-relative m-b-30 p-l-15 p-r-15">#}
            {#                                    <img src="{% static 'dikko/index/images/banner-02.jpg' %}" alt="IMG-BENNER">#}
            {##}
            {#                                    <div class="block1-wrapbtn w-size2">#}
            {#                                        <!-- Button -->#}
            {#                                        <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">#}
            {#                                            Dresses#}
            {#                                        </a>#}
            {#                                    </div>#}
            {#                                </div>#}
            {#                                <div class="block1 hov-img-zoom pos-relative m-b-30 p-l-15 p-r-15">#}
            {#                                    <img src="{% static 'dikko/index/images/banner-02.jpg' %}" alt="IMG-BENNER">#}
            {##}
            {#                                    <div class="block1-wrapbtn w-size2">#}
            {#                                        <!-- Button -->#}
            {#                                        <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">#}
            {#                                            Dresses#}
            {#                                        </a>#}
            {#                                    </div>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
        <div class="tab-pane" id="shop">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-xs-12">
                        <div class="profile-wrap shop-list-area">

                            <div class="blog-details-wrap mb-20">
                                <img src="img/blog/blog-details.jpg" alt=""/>
                                <div class="blog-details-content">
                                    <h3>{{ field }}</h3>

                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                        طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                        ابزارهای کاربردی می باشد.</p>
                                    <div class="text">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                        طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                        ابزارهای کاربردی می باشد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                        صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                        مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                        کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                    </div>
                                    <ul>
                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                                        <li> نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</li>
                                        <li>چاپگرها و متون بلکه روزنامه و مجله</li>
                                        <li>در ستون و سطرآنچنان که لازم است</li>
                                        <li>و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                            ابزارهای کاربردی می باشد.
                                        </li>
                                    </ul>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                        طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                        ابزارهای کاربردی می باشد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                        صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                        مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                        کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <h4>یک فایل خوب </h4>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                                        </div>
                                        <div class="col-md-6 hidden-sm">
                                            <img src="img/blog/blog-details-2.jpg" alt=""/>
                                        </div>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                        طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                        ابزارهای کاربردی می باشد</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <!-- Pagination -->
    {% if is_paginated %}
        <ul class="pagination" style="margin-right: 190px">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

    <!-- ... end Pagination -->

    {#    <!-- profile-area start -->#}

    <!-- newsletter-area start -->
{% endblock %}

{% block javascript %}


    <script>
        $(document).ready(function () {
            {% if sfield.name == 'چرم' %}
                $("#background-div").addClass("bg-img-charm");

            {% elif sfield.name == 'لباس سنتی' %}
                $("#background-div").addClass("bg-img-sonati-dress");
            {% endif %}

        })


    </script>


{% endblock %}

