{% extends 'base.html' %}
{% load staticfiles %}
{% load filter_numbers %}
   {% block seo %}
    <title> فروشگاه اینترنتی بق بند | {{ dikko.name }}</title>
    <meta name="description" content="خرید اینترنتی جدیدترین محصولات {{dikko.name}} از فروشگاه اینترنتی بق بند">

    {% endblock %}
{% block stylesheet %}
{% endblock %}


{% block content %}

    <!-- header start -->

    <!-- breadcumb-area start -->
    <div class="breadcumb-area ptb-70 bg-5"
         style="background:url({{ dikko.image2.url }})no-repeat scroll center center / cover">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap">
                        <h2>{{ dikko.name }}</h2>
                        {#                        <ul>#}
                        {##}
                        {#                            <li>{{ dikko.sfield }}</li>#}
                        {##}
                        {##}
                        {#                        </ul>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

    <!-- profile-area start -->
    <div class="profile-menu-area bg-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="profile-menu text-center">
                        <ul>
                            <li class="active"><a href="#profile" data-toggle="tab">محصولات</a></li>
                            <li><a href="#shop" data-toggle="tab">درباره {{ dikko.name }}</a>
                            </li>
                            {#								<li><a href="#followers" data-toggle="tab">دنبال کننده</a></li>#}
                            {#								<li><a href="#following" data-toggle="tab">طرفدار</a></li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-area bg-2 ptb-20">
        <div class="tab-content">
            <div class="tab-pane active" id="profile">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-xs-12">
                            <div class="profile-wrap">

                                <div class="view-wrap">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-7 col-xs-12">
                                            <h2 class="shop-title">
                                                {% if object_list|length  < 12 %}
                                                    نمایش{{ object_list|length |persian_int }}کالا از
                                                    {{ object_list|length |persian_int }}کالا
                                                {% else %}
                                                    نمایش 12 کالا از   {{ object_list|length |persian_int }}
                                                {% endif %}
                                            </h2>
                                        </div>
                                        <div class="col-md-6 col-lg-5 clear col-xs-12">
                                            <div class="selector">
                                                <select name="#">
                                                    <option value="Default sorting">براساس</option>
{#                                                    <option value="#">بیشترین دانلود</option>#}
{#                                                    <option value="#">بیشترین قیمت</option>#}
{#                                                    <option value="#">جدید ترین</option>#}
{#                                                    <option value="#">بیشترین پسند</option>#}
                                                </select>
                                            </div>
                                            <div class="other-page">
                                                <ul>
                                                    <li class="active"><a href="#profile-grid" data-toggle="tab"><i
                                                            class="fa fa-th-large"></i></a></li>
                                                    <li><a href="#profile-list" data-toggle="tab"><i
                                                            class="fa fa-list-ul"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="featured-prodcuts-area ptb-70 bg-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="profile-grid">
                                                        <div class="row">


                                                                    {#                                                            <div class="wrap-slick2">#}
                                                                    {#                                                                <div class="slick2">#}

                                                                    {% for obj in object_list %}
                                                                        <div class="col-lg-3 col-sm-6 col-xs-12">
                                                                        {% include "dikko/_product.html" %}
                                                                        </div>
                                                                    {% endfor %}

                                                            {#                                                {% for obj in object_list %}#}
                                                            {#                                                    {% include "dikko/_product.html" %}#}
                                                            {#                                                {% endfor %}#}

                                                            {#                                                                </div>#}
                                                            {#                                                            </div>#}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="shop">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-xs-12">
                            <div class="profile-wrap shop-list-area">

                                <div class="blog-details-wrap mb-20">
                                    <img src="img/blog/blog-details.jpg" alt=""/>
                                    <div class="blog-details-content">
                                        <h3>{{ field }}</h3>

                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                            ابزارهای کاربردی می باشد.</p>
                                        <div class="text">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                            ابزارهای کاربردی می باشد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                            صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                            مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                        </div>
                                        <ul>
                                            <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                                            <li> نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</li>
                                            <li>چاپگرها و متون بلکه روزنامه و مجله</li>
                                            <li>در ستون و سطرآنچنان که لازم است</li>
                                            <li>و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                                ابزارهای کاربردی می باشد.
                                            </li>
                                        </ul>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                            ابزارهای کاربردی می باشد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                            صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                            مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <h4>یک فایل خوب </h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                    ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                    ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                                            </div>
                                            <div class="col-md-6 hidden-sm">
                                                <img src="img/blog/blog-details-2.jpg" alt=""/>
                                            </div>
                                        </div>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                            ابزارهای کاربردی می باشد</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Pagination -->
        {% if is_paginated %}
            <ul class="pagination" style="margin-right: 190px">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}

        <!-- ... end Pagination -->
    </div>
    <!-- profile-area start -->

    <!-- newsletter-area start -->
{% endblock %}
{% block javascript %}

{% endblock %}
