{% extends 'base.html' %}
{% load staticfiles %}
{% block seo %}
 <title>فروشگاه اینترنتی بق بند | {{ field }}</title>
    <meta name="description" content="خرید آنلاین جدیدترین های {{ field }} خراسان جنوبی از فروشگاه اینترنتی بق بند">
    {% endblock %}
{% block stylesheet %}
{% endblock %}


{% block content %}

    <!-- header start -->

    <!-- breadcumb-area start -->

    <div class="breadcumb-area ptb-70" style="background:url({{ field.image2.url }})no-repeat scroll center center / cover">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap">
                        <h2>{{ field }}</h2>
                        <ul>

                            {#						<li>{{dikko.name }}</li>#}


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

    <!-- profile-area start -->
    <div class="profile-menu-area bg-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="profile-menu text-center">
                        <ul>
                            <li class="active"><a href="#profile" data-toggle="tab">محصولات</a></li>
                            <li><a href="#shop" data-toggle="tab">درباره {{ field }}</a>
                            </li>
                            {#								<li><a href="#followers" data-toggle="tab">دنبال کننده</a></li>#}
                            {#								<li><a href="#following" data-toggle="tab">طرفدار</a></li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-area bg-2 ptb-20">
        <div class="tab-content">
            <div class="tab-pane active" id="profile">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-xs-12">
                            <div class="profile-wrap">

                                <div class="view-wrap">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-7 col-xs-12">
                                            <h2 class="shop-title">
                                                {{ object_list.count }} زیرشاخه در {{ field }}
                                            </h2>
                                        </div>
                                        <div class="col-md-6 col-lg-5 clear col-xs-12">
                                            <div class="selector">
                                                <select name="#">
                                                    <option value="Default sorting">براساس</option>
                                                    <option value="#">پر بازدید ترین</option>
                                                    <option value="#">پر فروش ترین</option>
                                                    <option value="#">محبوب ترین</option>

                                                </select>
                                            </div>
                                            <div class="other-page">
                                                <ul>
                                                    <li class="active"><a href="#profile-grid" data-toggle="tab"><i
                                                            class="fa fa-th-large"></i></a></li>
                                                    <li><a href="#profile-list" data-toggle="tab"><i
                                                            class="fa fa-list-ul"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="profile-grid">
                                                <div class="row profile-grid">
                                                    <div class="banner">
		                                                <div class="container">
                                                    {% for obj in object_list %}
                                                        {% include "dikko/_sfield.html" %}
                                                    {% endfor %}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="tab-pane fade shop-list-area" id="profile-list">

                                                {% for obj in object_list %}
                                                    {% include "dikko/_L_sfield.html" %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="shop">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-xs-12">
                            <div class="profile-wrap shop-list-area">

                                <div class="blog-details-wrap mb-20">
                                    <img src="img/blog/blog-details.jpg" alt=""/>
                                    <div class="blog-details-content">
                                        <h3>{{ field }}</h3>

                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                            ابزارهای کاربردی می باشد.</p>
                                        <div class="text">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                            ابزارهای کاربردی می باشد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                            صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                            مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                        </div>
                                        <ul>
                                            <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                                            <li> نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</li>
                                            <li>چاپگرها و متون بلکه روزنامه و مجله</li>
                                            <li>در ستون و سطرآنچنان که لازم است</li>
                                            <li>و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                                ابزارهای کاربردی می باشد.
                                            </li>
                                        </ul>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                            ابزارهای کاربردی می باشد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                            صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                            مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <h4>یک فایل خوب </h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                    ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                    ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                                            </div>
                                            <div class="col-md-6 hidden-sm">
                                                <img src="img/blog/blog-details-2.jpg" alt=""/>
                                            </div>
                                        </div>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                            ابزارهای کاربردی می باشد</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
    <!-- profile-area start -->

    <!-- newsletter-area start -->
{% endblock %}
{% block javascript %}


    <script>
        $(document).ready(function () {
            {% if field == 'صنایع دستی' %}
                $("#background-div").addClass("bg-img-handcrafts");
                {% elif field == 'پوشاک' %}
                $("#background-div").addClass("bg-img-dresses");
            {% endif %}
        })


    </script>


{% endblock %}
