.bd-hide {
	display: none;
}

.bd-main {
	background-color: #ffffff;
	border: 1px solid #000;
	padding: 5px;
	z-index: 9999;
	width: auto !important;
	margin: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bd-calendar {
	width: 210px;
	padding: 0;
	margin: 0;
}

.bd-title {
	width: 210px;
	padding: 0;
	margin: 0;
}

.bd-calendar table {
	border: none;
	width: 210px;
}

.bd-dropdown {
	display: inline-block;
	float: right;
	width: 75px;
}

.bd-dropdown select {
	width: 100%;
	height: 30px;
	border: none;
	cursor: pointer;
}

.bd-next, .bd-prev {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color:yellow;
	height: 30px;
	width: 30px;
	margin: 0;
	padding: 0;
	border: none;
	display: inline-block;
	float: right;
}

.bd-table thead {
	background-color:#ffffff ;
	color: #ffffff;
}

.bd-table thead tr {
	height: 30px;
	cursor: context-menu;
}

.bd-table thead tr th {
	text-align: center;
}

.bd-table tbody tr td {
	border: none;
}

.bd-empty-cell {
	width: 30px;
	height: 30px;
}

.bd-table-days button {
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: #F8F8F8;
	border: 0;
}

.bd-table-days button:hover {
	color: red;
	font-weight: bold;
	background-color: #E7E7E7;
}

.bd-today {
	background-color: #DFF0D8 !important;
	color: green;
}

.bd-holiday {
    background-color: #FDE8E8 !important;
}

.bd-selected-day {
	color: red;
	font-weight: bold;
}

.bd-goto-today {
	width: 210px;
	height: 30px;
	color: #FFF;
	background-color: #555555;
	padding-top: 5px;
	cursor: pointer;
	text-align: center;
}