<form class="form-reply-comment-ajax" method="post" action="{% url 'comments:reply_comment' %}" data-endpoint="{% url 'comments:reply_comment' %}" class="form">
{% csrf_token %}
<input type="hidden" name="comment_id" value="{{ comment.id }}">

<span class="reply-span">
            <li>
											<div class="comment-img">
												<img src="img/comment/2.jpg" alt="" />
											</div>
											<div class="comment-info">
												<h4><a href="#">{{ comment.author.user.first_name }}</a></h4>
												<button class="reply pull-left btn btn-link" onclick="focusMethod()" type="submit">جواب دادن</button>
												<span>{{ comment.created_date }}</span>
												<p>{{ comment.text }}</p>
											</div>
										</li>
    </span>
</form>