                                                                            													<div class="col-lg-4 col-sm-6 col-xs-12">
    <div class="product-item mb-50">
        <div class="product-img">
            <img src="{{ obj.image.url }}" alt="not found" >
                <a href="{% url 'products:product_details' slug=obj.slug dikko=dikko.url %}" class="link"><i class="fa fa-link"></i></a>
                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
        </div>
        <div class="product-content">
            <h3><a href="{% url 'products:product_details' slug=obj.slug dikko=dikko.url %}">{{ obj }}</a></h3>
            <span> توسط <strong><a href="#"> {{ profile.user.first_name }} </a></strong> در  <strong><a href="#"> {{ profile.seller_profile.my_field }} </a></strong></span>
            <div class="product-meta">
                <ul>
                    <li><i class="fa fa-shopping-cart"></i> {{ obj.price }} </li>
                    <li>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </li>
                    <li>
                        <del>$33</del>
{#                        {% include 'profile_seller/add-or-remove-product.html' with product=obj  cart=cart %}#}
                        <span>$150</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

