<form class="form-product-ajax" method="post" action="{% url 'cart:cart_update' %}" data-endpoint="{% url 'cart:cart_update' %}" class="form">
{% csrf_token %}
<input type="hidden" name="product_id" value="{{ product.id }}">

<span class="submit-span-list-view">
            {% if object in cart.products.all %}
            <button type="submit">خرید</button>
                 {% else %}
            <button type=""> حذف </button>
                {% endif %}

    </span>
</form>