{% extends 'base.html' %}


{% load socialaccount %}
{% block stylesheet %}
    <script src='https://www.google.com/recaptcha/api.js?render=6LcVFYcUAAAAAA-9GPf-eGWIMobbmT-qmYLzWVoJ'></script>
{% endblock %}
{% block content %}

    <div class="account-area ptb-70 bg-2">
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-xs-12">
                    {#                <h4>{{ message }}</h4>#}
                    <h3 class="sidebar-title">ورود به بق بند</h3>

                    <div class="checkout-form">
                        <form method="post" action="{% url 'accounts:login' %}">
                            {% csrf_token %}
                            {% if message == 'True' %}
                                <div class="alert alert-success">
                                 <strong>تبریک! حساب کاربری شما تایید شد.لطفا وارد حساب خود شوید</strong>
                                </div>
                            {% endif %}
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <span>ایمیل</span>
                                    {{ form.email }}
                                </div>
                                <div class="col-xs-12">
                                    <span>رمز عبور</span>
                                    {{ form.password }}
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox"/>
                                    <span class="remamber"> منو به یاد بیار</span>
                                </div>
{#                                <div class="btn white darken-4 col s10 m4">#}
{#                                    <a href="{% provider_login_url 'google' %}" style="text-transform:none">#}
{#                                        <div class="left">#}
{#                                            <img width="20px" alt="Google &quot;G&quot; Logo"#}
{#                                                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>#}
{#                                        </div>#}
{#                                        با حساب گوگل وارد شوید#}
{#                                    </a>#}
{#                                </div>#}
                                <div class="col-xs-12">
                                    <p>در صورت فراموشی رمز <a href="{% url 'accounts:password_reset' %}">اینجا کلیک کن</a></p>
                                    <button type="submit">ورود</button>
                                </div>
                                <br/>
                                <div class="col-xs-12">
                                    <p>کاربر جدید هستید؟<a href="{% url 'accounts:signup' %}"> ثبت نام در بق بند </a>
                                    </p>
                                </div>
                            </div>
                        </form>



                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            {% if message == 'True' %}
                console.log("sdsdfsdfsdfddddddd")
                $('#myModal').modal('show');
            {% endif %}


        })
    </script>
{% endblock %}