{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">

                            {% if validlink %}
                                 <h3><i class="fa fa-user-secret fa-4x"></i></h3>
                            <h4 class="text-center">رمز عبور خود را فراموش کرده اید؟</h4>
                            <p>برای بازیابی رمزعبور ایمیل خود را وارد کنید.</p>
                            <div class="panel-body">

                                <form method="post">
                                    {% csrf_token %}
                                    <p><label for="id_new_password1">رمز عبور جدید :</label> <input type="password" class="form-control"
                                                                                                    name="new_password1"
                                                                                                    required=""
                                                                                                    id="id_new_password1"
                                                                                                    aria-autocomplete="list">
                                        <span
                                                class="helptext"></span></p>
                                    <ul>
                                        <li>رمز عبور نباید شبیه به سایر اطلاعات شخصی شما باشد</li>
                                        <li>رمز عبور باید حدااقل 8 کاراکتر باشد</li>
                                        <li>رمز عبور نباید فقط حاوی اعداد باشد</li>
                                    </ul>
                                    <p></p>
                                    <p><label for="id_new_password2">ورود دوباره رمز عبور جدید:</label> <input
                                            class="form-control"
                                            type="password"
                                            name="new_password2" required=""
                                            id="id_new_password2"></p>
                                    <button type="submit" class="btn  btn-primary btn-block p-t-15">تغییر رمز عبور</button>
                                    {#      {{ form.as_p }}#}
                                    {#      <button type="submit">Change password</button>#}
                                </form>

                            </div>
                                {% else %}
                                 <h3><i class="fa fa-warning fa-4x"></i></h3>
                                <h4 class="text-center">لینک بازیابی رمز عبور نا معتبر است</h4>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#        <h3>تغییر رمز عبور</h3>#}



{% endblock %}