{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">


                            <h3><i class="fa fa-coffee fa-4x"></i></h3>
                            <h4 class="text-center">رمز عبور جدید با موفقیت اعمال شد</h4>
                            <p>جهت ورود به حساب کاربری خود بر روی لینک زیر کلیک کنید</p>
                            <div class="panel-body">
                                <a href="{% url 'accounts:login' %}">
                                    <button type="button" class="btn  btn-primary btn-block p-t-15">ورود به حساب کاربری
                                    </button>
                                </a>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#        <h3>تغییر رمز عبور</h3>#}



{% endblock %}