{% extends 'base.html' %}

{% block content %}
   <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-send-o fa-4x"></i></h3>
                            <h4 class="text-center">لینک بازیابی رمز عبور به ایمیل شما ارسال شد</h4>
                            <p>برای بازیابی رمز عبور به ایمیل خود مراجعه کنید</p>
                            <div class="panel-body">



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}