{% extends 'base.html' %}
{% load filter_numbers %}
{% load staticfiles %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'carts/css/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'carts/css/cart.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
          rel="stylesheet">
{% endblock %}
{% block content %}


    <section>

        <nav style="direction: ltr">
            <ol class="cd-multi-steps text-top">
                <li class="visited"><em>تایید و ارسال</em></li>
                <li class="visited"><em>پرداخت</em></li>
                <li class="visited"><a href="#0">اطلاعات آدرس</a></li>
                <li class="current"><a href="#0">سبد خرید</a></li>

            </ol>
        </nav>
    </section>

    <!-- breadcumb-area end -->

    <!-- cart-area start -->
    <div class="cart-area ptb-70 bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    {% if cart.entrys.exists %}
                        <div class="shopping-cart">
                            <!-- Title -->
                            <div class="title">
                                سبد خرید
                            </div>

                            {% for entry in cart.entrys.all %}
                                <div class="item">
                                    <div class="image">
                                        <img src="{{ entry.product.image.all.first.image.url }}" alt=""
                                             class="img-responsive"/>
                                    </div>


                                    <div class="description">
                                        <span><a href="{{ entry.product.get_absolute_url }}">{{ entry.product.title }}</a></span>
                                        {% if entry.color %}
                                            <span> رنگ: {{ entry.color }}</span>
                                        {% endif %}
                                        {% if entry.size %}
                                            <span> سایز: {{ entry.size }}</span>
                                        {% endif %}

                                    </div>
                                    <div class="quantity">
                                        {{ entry.product.price|persian_int }} تومان
                                    </div>

                                    <div class="quantity">
                                        {#                                        <button class="plus-btn" type="button" name="button">#}
                                        {#                                            <img src="{% static 'carts/css/plus.svg' %}" alt=""/>#}
                                        {#                                        </button>#}
                                        {{ entry.quantity|persian_int }} عدد
                                        {#                                        <input type="text" name="name" value="{{ entry.quantity|persian_int }}">#}

                                        {#                                        <button class="minus-btn" type="button" name="button">#}
                                        {#                                            <img src="{% static 'carts/css/minus.svg' %}" alt=""/>#}
                                        {#                                        </button>#}
                                    </div>
                                    <div class="total-price">{{ entry.total|persian_int }} تومان</div>
                                    <div class="buttons">
                                        {% include 'carts/remove-product.html' with entry_id=entry.id %}
                                    </div>


                                </div>
                            {% endfor %}

                        </div>




                        {#                        <div class="container">#}
                        {#                            <table id="cart" class="table table-hover table-condensed">#}
                        {#                                <thead>#}
                        {#                                <tr>#}
                        {#                                    <th style="width:50%">کالا</th>#}
                        {#                                    <th style="width:10%">قیمت</th>#}
                        {#                                    <th style="width:8%">تعداد</th>#}
                        {#                                    <th style="width:22%" class="text-center">مجموع</th>#}
                        {#                                    <th style="width:10%"></th>#}
                        {#                                </tr>#}
                        {#                                </thead>#}
                        {#                                <tbody>#}
                        {#                                {% for entry in cart.entrys.all %}#}
                        {#                                    <tr>#}
                        {#                                        <td data-th="Product">#}
                        {#                                            <div class="row">#}
                        {#                                                <div class="col-sm-2 hidden-xs"><img#}
                        {#                                                        src="{{ entry.product.image.all.first.image.url }}"#}
                        {#                                                        alt="..." class="img-responsive"/>#}
                        {#                                                </div>#}
                        {#                                                <div class="col-sm-10">#}
                        {#                                                    <a href="{{ entry.product.get_absolute_url }}"><h4#}
                        {#                                                            class="nomargin">{{ entry.product.title }}</h4></a>#}
                        {##}
                        {#                                                </div>#}
                        {#                                            </div>#}
                        {#                                        </td>#}
                        {#                                        <td data-th="Price">{{ entry.product.price|persian_int }}</td>#}
                        {#                                        <td data-th="Quantity">#}
                        {#                                            {{ entry.quantity|persian_int }}#}
                        {#                                        </td>#}
                        {#                                        <td data-th="Subtotal" class="text-center">{{ entry.total|persian_int }}</td>#}
                        {#                                        <td class="actions" data-th="">#}
                        {#                                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>#}
                        {#                                        </td>#}
                        {#                                    </tr>#}
                        {#                                {% endfor %}#}
                        {#                                </tbody>#}
                        {##}
                        {#                            </table>#}
                        {#                        </div>#}



                        {#                        <div class="shoping-cart-wrap table-responsive mb-30">#}
                        {#                            <table>#}
                        {#                                <thead>#}
                        {#                                <tr>#}
                        {#                                    <th class="shoping-cart-img">تصویر</th>#}
                        {#                                    <th class="shoping-cart-name"> محصول</th>#}
                        {#                                    <th class="shoping-cart-price">قیمت</th>#}
                        {#                                    <th class="shoping-cart-quantity">تعداد</th>#}
                        {#                                    <th class="shoping-cart-total">مجموع</th>#}
                        {#                                    <th class="shoping-cart-remove">حذف</th>#}
                        {#                                </tr>#}
                        {#                                </thead>#}
                        {#                            </table>#}
                        {#                            <div class="table-wrap">#}
                        {#                            {% for entry in cart.entrys.all %}#}
                        {#                                <table class="cart-table">#}
                        {#                                    <tbody class="cart-body">#}
                        {##}
                        {##}
                        {#                                        <tr class="cart-entry">#}
                        {#                                            <td class="shoping-cart-img">#}
                        {#                                                {% if entry.product.image %}#}
                        {#                                                    <img src="{{ entry.product.image.all.first.image.url }}" alt=""/>#}
                        {#                                                {% else %}#}
                        {#                                                    <img src="" alt=""/>#}
                        {#                                                {% endif %}#}
                        {##}
                        {#                                            </td>#}
                        {#                                            <td class="shoping-cart-name">#}
                        {#                                                <a href="{{ entry.product.get_absolute_url }}">{{ entry.product.title }}</a>#}
                        {#                                            </td>#}
                        {#                                            <td class="shoping-cart-price">#}
                        {#                                                <span> {{ entry.product.price|persian_int }} تومان</span>#}
                        {#                                            </td>#}
                        {#                                            <td class="shoping-cart-quantity">#}
                        {#                                                <span> {{ entry.quantity|persian_int }} عدد </span>#}
                        {#                                            </td>#}
                        {#                                            <td class="shoping-cart-total">#}
                        {#                                                <span>{{ entry.total|persian_int }} تومان</span>#}
                        {#                                            </td>#}
                        {#                                            <td class="shoping-cart-remove">#}
                        {#                                                {% include 'carts/remove-product.html' with entry_id=entry.id %}#}
                        {#                                            </td>#}
                        {#                                        </tr>#}
                        {##}
                        {##}
                        {#                                    </tbody>#}
                        {#                                </table>#}
                        {#                                <div class="cart-item-remove-form" style="display: none">#}
                        {#                                    {% include 'carts/remove-product.html' with entry_id=entry.id %}#}
                        {#                                </div>#}
                        {#                      #}
                        {#                             {% endfor %}#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="row">#}


                        {#                        </div>#}

                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="shopping-cart">
                                <h5 class="m-text20 p-b-24 p-t-24 p-r-24">
                                    جمع بندی
                                </h5>

                                <!--  -->
                                <div class="flex-w flex-sb-m p-b-12  p-r-24">
					<span class="m-text18 w-size19 w-full-sm">
						مجموع کالا:
					</span>

                                    <span class="m-text18 w-size20 w-full-sm  p-r-24">
						{{ cart.subtotal|persian_int }} تومان
					</span>
                                </div>

                                <!--  -->
                                <div class="flex-w flex-sb bo10 p-t-15 p-b-20  p-r-24">
					<span class="m-text18 w-size19 w-full-sm">
						هزینه ارسال:
					</span>

                                    <div class="w-size20 w-full-sm  p-r-24">
                                        <p class="s-text8 p-b-23">
                                            بر اساس آدرس دریافتی محاسبه خواهد شد
                                        </p>


                                    </div>
                                </div>

                                <!--  -->
                                <div class="flex-w flex-sb-m p-t-26 p-b-30">
					<span class="m-text22 w-size19 w-full-sm  p-r-24">
						مجموع:
					</span>

                                    <span class="m-text18 w-size20 w-full-sm">
						{{ cart.total|persian_int }} تومان
					</span>
                                </div>

                                <div class="size15 trans-0-4">
                                    <!-- Button -->
                                    <a href="{% url 'shipping:home' %}">
                                        <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                                            تایید و ادامه
                                        </button>
                                    </a>
                                </div>
                            </div>

                        </div>
                    {% else %}
                        <p class="lead">سبد خرید خالی است!</p>
                    {% endif %}
            </div>
        </div>
    </div>
    <!-- cart-area end -->

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            var discount_form = $(".form-discount-ajax");

            discount_form.submit(function (event) {
                event.preventDefault();
                var thisForm = $(this);
                var actionEndpoint = thisForm.attr("data-endpoint");
                var httpMethod = thisForm.attr("method");
                var formData = thisForm.serialize();
                console.log(formData);
                $.ajax({
                    url: actionEndpoint,
                    method: httpMethod,
                    data: formData,
                    success: function (data) {
                        console.log("success");
                        console.log(actionEndpoint)
                        console.log(data);
                        console.log("helloo")
                        $('#overlay').modal('show');

                        setTimeout(function () {
                            $('#overlay').modal('hide');
                        }, 2000);


                    },
                    error: function (error) {
                        console.log("error");
                        console.log(error);
                    }
                })

            });


        });
    </script>
{% endblock %}