{% extends 'base.html' %}
{% block content %}
<div class="breadcumb-area ptb-70 bg-5">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="breadcumb-wrap">
					<h2>پرداخت</h2>
					<ul>
						<li><a href="index.html">خانه</a></li>
						<li>/</li>
						<li>پرداخت</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- breadcumb-area end -->

		<!-- checkout-area start -->
		<div class="checkout-area ptb-70 bg-2">
			<div class="container">
				<div class="row">
					<div class="col-md-6">

						<div class="checkout-form-wrap">
							<h3 class="checkout-title">اطلاعات ارسال</h3>
							<div class="checkout-form">
								<div class="row">
									<div class="col-md-6">
										<p> نام <span>*</span></p>
										<input type="text" placeholder="نام خود را بنویسید"/>
									</div>
									<div class="col-md-6">
										<p>نام خانوادگی <span>*</span></p>
										<input type="text" placeholder="نام خانوادگی خود را بنویسید"/>
									</div>
									<div class="col-xs-12">
										<p>شرکت</p>
										<input type="text" placeholder="نام شرکت"/>
									</div>
									<div class="col-md-6">
										<p> تلفن <span>*</span></p>
										<input type="text" placeholder="تلفن خود را بنویسید"/>
									</div>
									<div class="col-md-6">
										<p>ایمیل <span>*</span></p>
										<input type="email" placeholder="آدرس پست الکترونیک"/>
									</div>
									<div class="col-md-6">
										<p>کشور <span>*</span></p>
										<select name="select">
											<option value="کشور خود را انتخاب کنید">ایران</option>
											<option>هند</option>
											<option>امریکا</option>
											<option>ژاپن</option>
											<option>چین</option>
										</select>
									</div>
									<div class="col-md-6">
										<p>استان <span>*</span></p>
										<select name="select">
											<option value="استان خود را انتخاب کنید">مازندران</option>
											<option>تهران</option>
											<option>مشهد</option>
											<option>شیراز</option>
											<option>گیلان</option>
										</select>
									</div>
									<div class="col-md-6">
										<p>شهر <span>*</span></p>
										<select name="select">
											<option value="شهر خود را انتخاب کنید">بابلسر</option>
											<option>بابل</option>
											<option>آمل</option>
											<option>رامسر</option>
											<option>چالوس</option>
										</select>
									</div>
									<div class="col-md-6">
										<p>کد پستی <span>*</span></p>
										<input type="email" placeholder="شماره پستی شما"/>
									</div>
									<div class="col-xs-12">
										<p>آدرس <span>*</span></p>
										<input type="text" placeholder="آدرس کامل"/>
										<input type="text" placeholder="مثال : مارندران - بابلسر - دریا"/>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="checkout-form-wrap mb-20">
							<h3 class="checkout-title">سفارشات شما</h3>
							<div class="checkout-form">
								<div class="row">
									<div class="col-xs-12">
										<ul>
											<li>فایل لایه باز <span>x2</span> <strong>$30.00</strong></li>
											<li> مجله ماشین   <span>x1</span> <strong>$25.00</strong></li>
											<li>فایل موسیقی <span>x3</span> <strong>$19.00</strong></li>
										</ul>
									</div>
									<div class="col-md-6 col-md-offset-6 col-xs-12">
										<ul>
											<li><b>مجموع</b> <strong>$74.00</strong></li>
											<li><b>هزینه ارسال</b> <strong>$17.00</strong></li>
											<li class="last"><b>پرداختی شما</b> <strong>$91.00</strong></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
{% endblock %}
