{% extends 'base.html' %}
{% load staticfiles %}
{% block stylesheet %}
     <link rel="stylesheet" href="{% static 'carts/css/timeline.css' %}">
{% endblock %}
{% block content %}


<section>
	<h2>8 - Dot Indicators</h2>

	<nav style="direction: ltr">
		<ol class="cd-multi-steps text-top">
            <li class="visited"><em>تایید و ارسال</em></li>
			<li class="current"><em>پرداخت</em></li>
			<li ><a href="#0">اطلاعات آدرس</a></li>
			<li ><a href="#0">سبد خرید</a></li>

		</ol>
	</nav>
</section>

<!-- breadcumb-area end -->

		<!-- checkout-area start -->
		<div class="checkout-area ptb-70 bg-2">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="checkout-form-wrap mb-20">
							<h3 class="checkout-title">اطلاعات شخصی</h3>
							<div class="checkout-form">
								<div class="row">
									<div class="col-md-6">
										<p> نام <span>*</span></p>
										<input type="text" placeholder="نام خود را بنویسید"/>
									</div>
									<div class="col-md-6">
										<p>نام خانوادگی <span>*</span></p>
										<input type="text" placeholder="نام خانوادگی خود را بنویسید"/>
									</div>
									<div class="col-xs-12">
										<p>شرکت</p>
										<input type="text" placeholder="نام شرکت"/>
									</div>
									<div class="col-md-6">
										<p> تلفن <span>*</span></p>
										<input type="text" placeholder="تلفن خود را بنویسید"/>
									</div>
									<div class="col-md-6">
										<p>ایمیل <span>*</span></p>
										<input type="email" placeholder="آدرس پست الکترونیک"/>
									</div>
									<div class="col-md-6">
										<p>کشور <span>*</span></p>
										<select name="select">
											<option value="کشور خود را انتخاب کنید">ایران</option>
											<option>هند</option>
											<option>امریکا</option>
											<option>ژاپن</option>
											<option>چین</option>
										</select>
									</div>
									<div class="col-md-6">
										<p>استان <span>*</span></p>
										<select name="select">
											<option value="استان خود را انتخاب کنید">مازندران</option>
											<option>تهران</option>
											<option>مشهد</option>
											<option>شیراز</option>
											<option>گیلان</option>
										</select>
									</div>
									<div class="col-md-6">
										<p>شهر <span>*</span></p>
										<select name="select">
											<option value="شهر خود را انتخاب کنید">بابلسر</option>
											<option>بابل</option>
											<option>آمل</option>
											<option>رامسر</option>
											<option>چالوس</option>
										</select>
									</div>
									<div class="col-md-6">
										<p>کد پستی <span>*</span></p>
										<input type="email" placeholder="شماره پستی شما"/>
									</div>
									<div class="col-xs-12">
										<p>آدرس <span>*</span></p>
										<input type="text" placeholder="آدرس کامل"/>
										<input type="text" placeholder="مثال : مارندران - بابلسر - دریا"/>
										<input type="checkbox" />
										<span>ارسال به آدرس دیگر</span>
									</div>
								</div>
							</div>
						</div>
						<div class="checkout-form-wrap">
							<h3 class="checkout-title">اطلاعات ارسال</h3>
							<div class="checkout-form">
								<div class="row">
									<div class="col-md-6">
										<p> نام <span>*</span></p>
										<input type="text" placeholder="نام خود را بنویسید"/>
									</div>
									<div class="col-md-6">
										<p>نام خانوادگی <span>*</span></p>
										<input type="text" placeholder="نام خانوادگی خود را بنویسید"/>
									</div>
									<div class="col-xs-12">
										<p>شرکت</p>
										<input type="text" placeholder="نام شرکت"/>
									</div>
									<div class="col-md-6">
										<p> تلفن <span>*</span></p>
										<input type="text" placeholder="تلفن خود را بنویسید"/>
									</div>
									<div class="col-md-6">
										<p>ایمیل <span>*</span></p>
										<input type="email" placeholder="آدرس پست الکترونیک"/>
									</div>
									<div class="col-md-6">
										<p>کشور <span>*</span></p>
										<select name="select">
											<option value="کشور خود را انتخاب کنید">ایران</option>
											<option>هند</option>
											<option>امریکا</option>
											<option>ژاپن</option>
											<option>چین</option>
										</select>
									</div>
									<div class="col-md-6">
										<p>استان <span>*</span></p>
										<select name="select">
											<option value="استان خود را انتخاب کنید">مازندران</option>
											<option>تهران</option>
											<option>مشهد</option>
											<option>شیراز</option>
											<option>گیلان</option>
										</select>
									</div>
									<div class="col-md-6">
										<p>شهر <span>*</span></p>
										<select name="select">
											<option value="شهر خود را انتخاب کنید">بابلسر</option>
											<option>بابل</option>
											<option>آمل</option>
											<option>رامسر</option>
											<option>چالوس</option>
										</select>
									</div>
									<div class="col-md-6">
										<p>کد پستی <span>*</span></p>
										<input type="email" placeholder="شماره پستی شما"/>
									</div>
									<div class="col-xs-12">
										<p>آدرس <span>*</span></p>
										<input type="text" placeholder="آدرس کامل"/>
										<input type="text" placeholder="مثال : مارندران - بابلسر - دریا"/>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="checkout-form-wrap mb-20">
							<h3 class="checkout-title">سفارشات شما</h3>
							<div class="checkout-form">
								<div class="row">
									<div class="col-xs-12">
										<ul>
											<li>فایل لایه باز <span>x2</span> <strong>$30.00</strong></li>
											<li> مجله ماشین   <span>x1</span> <strong>$25.00</strong></li>
											<li>فایل موسیقی <span>x3</span> <strong>$19.00</strong></li>
										</ul>
									</div>
									<div class="col-md-6 col-md-offset-6 col-xs-12">
										<ul>
											<li><b>مجموع</b> <strong>$74.00</strong></li>
											<li><b>هزینه ارسال</b> <strong>$17.00</strong></li>
											<li class="last"><b>پرداختی شما</b> <strong>$91.00</strong></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="checkout-form-wrap mb-20">
							<h3 class="checkout-title">شرایط پرداخت</h3>
							<div class="checkout-form">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													پرداخت آنلاین
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													فیش بانکی
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
													درب منزل
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" id="headingfour">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
													کارت به کارت
												</a>
											</h4>
										</div>
										<div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
											<div class="panel-body">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.											</div>
										</div>
									</div>
								</div>
								 <a class="order" href="#">انتخاب کنبد</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
