<form id="form10" class="form-product-ajax" class="form">
{% csrf_token %}
<input class="cart-item-entry-id" type="hidden" name="entry_id" value="{{ entry_id }}">
 <button id="btn10" class="fa fa-times" type="submit"></button>

</form>