/*.table>tbody>tr>td,*/
/*.table>tfoot>tr>td {*/
  /*vertical-align: middle;*/
/*}*/

/*@media screen and (max-width: 600px) {*/
  /*table#cart tbody td .form-control {*/
    /*width: 20%;*/
    /*display: inline !important;*/
  /*}*/
  /*.actions .btn {*/
    /*width: 36%;*/
    /*margin: 1.5em 0;*/
  /*}*/
  /*.actions .btn-info {*/
    /*float: left;*/
  /*}*/
  /*.actions .btn-danger {*/
    /*float: right;*/
  /*}*/
  /*table#cart thead {*/
    /*display: none;*/
  /*}*/
  /*table#cart tbody td {*/
    /*display: block;*/
    /*padding: .6rem;*/
    /*min-width: 320px;*/
  /*}*/
  /*table#cart tbody tr td:first-child {*/

    /*color: #fff;*/
  /*}*/
  /*table#cart tbody td:before {*/
    /*content: attr(data-th);*/
    /*font-weight: bold;*/
    /*display: inline-block;*/
    /*width: 8rem;*/
  /*}*/
  /*table#cart tfoot td {*/
    /*display: block;*/
  /*}*/
  /*table#cart tfoot td .btn {*/
    /*display: block;*/
  /*}*/
/*}*/


@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);




.shopping-cart {
  width: 100%;
  height: 100%;
  margin:  auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  display: inline;
  /*border-bottom: 1px solid #E1E8EE;*/
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: auto;
  display: flex;
}

/*.item:nth-child(10) {*/
  /*border-top:  1px solid #E1E8EE;*/
  /*border-bottom:  1px solid #E1E8EE;*/
/*}*/

/* Buttons -  Delete and Like */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-left: 20px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url("delete-icn.svg") no-repeat center;
  margin-right: 20px;
}

.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  display: inline-block;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

/* Product Image */
.image {
  margin-right: 50px;
    width: 150px;
    height: auto;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;

}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

/* Product Quantity */
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}


/* Total Price */
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
