<form class="form-discount-ajax" method="post" action="{% url 'discount_codes:apply_discount' %}" data-endpoint="{% url 'discount_codes:apply_discount' %}" class="form">
           {% csrf_token %}
    <input type="hidden" name="cart_id" value="{{ cart.id }}">
    <span class="submit-discount-span">

           <input type="text" name="discount_code" placeholder="کد تخفیف خود را اینجا بنویسید"/>
           <button type="submit">اعمال کد تخفیف</button>
    </span>



</form>