{% extends 'base.html' %}

{% block content %}
    <div class="account-area ptb-70 bg-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h3>{{ name }} عزیز</h3>
                        <br/>
                        <h4>ایمیل حاوی لینک فعال سازی به {{ email }} ارسال شد. لطفا ایمیل خود را چک کنید.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}