{% extends 'base.html' %}

{% block content %}
    <div class="account-area ptb-70 bg-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4>لینک فعال سازی نامعتبر است. </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}