{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
{#     <script src="{% static 'dikko/js/jquery.validate.js' %}"></script>#}
{#    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>#}
{#	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{#    <script>#}
{#console.log("hggghjjj");#}
{#    sw=0;#}
{#    jQuery.validator.addMethod("FarsiCheck2", function(value, element) {#}
{#        console.log("hggghjjj");#}
{#        $("#id_dikko_url").change(function () {#}
{#            var dikko_url = $(this).val();#}
{#            console.log($(this).val());#}
{#            $.ajax({#}
{#                url: '/accounts/validate_dikko_url/',#}
{#                data: {#}
{#                    'dikko_url': dikko_url#}
{#                },#}
{#                dataType: 'json',#}
{#                success: function (data) {#}
{#                    if (data.is_taken) {#}
{#                        alert("این آدرس از قبل رزرو شده است");#}
{#                        $("id_dikko_url").helptext("Sdsd");#}
{#                        sw = 1;#}
{#                    }#}
{#                }#}
{#            });#}
{##}
{#        });#}
{#        return this.optional(element) || ( sw > 0);#}
{#    }, "این نام گرفته شده است");#}
{##}
{#    	$().ready(function() {#}
{##}
{#		// validate signup form on keyup and submit#}
{#		$("#signup_seller").validate({#}
{#			rules: {#}
{#			    dikko_url:{#}
{#			        FarsiCheck2:true,#}
{#                }#}
{##}
{#			},#}
{#			messages: {#}
{#                dikko_url:{#}
{#                    FarsiCheck2:"kjkhkhkkh",#}
{#                }#}
{##}
{#			}#}
{#		});#}
{#		// propose username by combining first- and lastname#}
{#		$("#email").focus(function() {#}
{#			var firstname = $("#firstname").val();#}
{#			var lastname = $("#lastname").val();#}
{#			if (firstname && lastname && !this.value) {#}
{#				this.value = firstname + "." + lastname;#}
{#			}#}
{#		});#}
{##}
{##}
{#	});#}


{#  </script>#}
{% endblock %}
{% block content %}

		<div class="account-area ptb-70 bg-2">
			<div class="container">
				<div class="row">

					<div class="col-md-12 col-sm-6 col-xs-12 ">

                        {% if user.is_authenticated %}

                             <h3 class="sidebar-title">فروشنده شوید</h3>
                        {% endif %}
						<div class="checkout-form">
							<form method="post">
                                {% csrf_token %}
                            {% if seller_form.errors %}
    {% for field in seller_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in seller_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

								<div class="row justify-content-start">
                                    {% if  user.is_authenticated %}


                                        <div class="col-xs-3">
										<span>آدرس تولیدی خود را وارد کنید<span class="star">*</span></span>


									</div>
                                        <div class="col-xs-3 col-xs-offset-8" >
                                        {{ seller_form.dikko_address }}
                                        </div>



								</div>
                                        <div class="row">
                                        <div class="col-xs-3">
                                           <span>شماره تماس خود را وارد کنید<span class="star">*</span></span>
                                        </div>
                                        <div class="col-xs-3 col-xs-offset-8" >
                                        {{ seller_form.dikko_phone_number }}
                                        </div>
                                        </div>
                                         <div class="row">
{#                                        <div class="col-xs-3">#}
{#                                           <span>آدرس اختصاصی دیکو خود را انتخاب کنید<span class="star">*</span></span>#}
{#                                        </div>#}
{#                                        <div class="col-xs-3 col-xs-offset-8"  >#}
{#                                        {{ seller_form.dikko_url }}#}
{#                                        </div>#}
{#                                        </div>#}
                                        <div class="col-xs-12">
										<button type="submit">ثبت اطلاعات</button>
									</div>
                                {% endif %}
							</form>
						</div>
					</div>


			</div>
		</div>
        </div>
		<!-- newsletter-area start -->
{% endblock %}