{% extends 'base.html' %}
{% load staticfiles %}
{% block stylesheet %}

{% endblock %}
{% block javascript %}
     <script src="{% static 'dikko/js/jquery.validate.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
{#    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>#}
{#	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <script>

    	$().ready(function() {
		// validate signup form on keyup and submit
		$("#signup_seller").validate({
			rules: {
			    dikko_phone_number:{
			        phoneUS: true,
                    required: true
                },
                dikko_address:{
			        required:true
                },
                dikko_url:{
			        required:true
                },
                dikko_name:{
			        required:true
                },
                my_field:{
			        required:true
                }


			},
			messages: {
                dikko_phone_number:{
                    phoneUS:"شماره موبایل معتبر وارد کنید",
                    required:"لطفا شماره موبایل خود را وارد کنید"
                },
                dikko_address:{
                    required:"لطفا آدرس خود را وارد کنید"
                },
                dikko_name:{
                    required:"لطفا نام دیکو خود را انتخاب کنید"
                },
                dikko_url:{
                    required:"لطفا آدرس اختصاصی دیکو خود در سایت را انتخاب کنید"
                },
                my_field:{
                    required:"لطفا حوزه کسب و کار خود را مشخص کنید"
                }

			}
		});



	});


  </script>
{% endblock %}
{% block content %}

		<div class="account-area ptb-70 bg-2">
			<div class="container">
				<div class="row">

					<div class="col-md-12 col-sm-6 col-xs-12 ">

                        {% if user.is_authenticated %}
                            <h3 class="sidebar-title" align="center">فروشنده شوید</h3>
                        {% else %}
                             <h3 class="sidebar-title">فروشنده شوید</h3>
                        {% endif %}
						<div class="checkout-form">
							<form method="post" id="signup_seller">
                                {% csrf_token %}
                            {% if seller_form.errors %}
    {% for field in seller_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in seller_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

								<div class="row justify-content-start">
                                    {% if  user.is_authenticated %}


                                        <div class="col-xs-3">
										<span>نام دیکو خود را انتخاب کنید<span class="star">*</span></span>
                                        <br>
                                         <small>به عنوان مثال دیکو حاج علی</small>

									</div>
                                        <div class="col-xs-3 col-xs-offset-8" >
                                        {{ seller_form.dikko_name }}
                                        {{ seller_form.get_dikko_name_help_text }}
                                        </div>



								</div>
                                        <div class="row">
                                        <div class="col-xs-3">
                                           <span>حوزه کسب و کار خود را مشخص کنید<span class="star">*</span></span>
                                            <br>
                                            <small>در هر حوزه ای که فعالیت میکنید گزینه مربوط به آن را علامت بزنید</small>
                                        </div>
                                        <div class="col-xs-3 col-xs-offset-8" >
                                        {{ seller_form.my_field }}
                                        </div>
                                        </div>
                                         <div class="row">
                                        <div class="col-xs-3">
                                           <span>آدرس اختصاصی شما در سایت<span class="star">*</span></span>
                                            <br>
                                            <small>                                            به عنوان مثال با وارد کردن alidikko آدرس اختصاصی شما www.127.0.0.1:8000:/alidikko خواهد بود
</small>
                                        </div>
                                        <div class="col-xs-3 col-xs-offset-8"  >
                                        {{ seller_form.dikko_url }}
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-xs-3">
                                            <span>آدرس تولیدی خود را وارد کنید<span class="star">*</span></span>
                                             <br>
                                         <small>نشانی محل کسب کار خود را وارد کنید</small>
                                        </div>
                                         <div class="col-xs-3 col-xs-offset-8"  >
                                        {{ seller_form.dikko_address }}
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-xs-3">
                                            <span>شماره تماس خود را وارد کنید<span class="star">*</span></span>
                                             <br>
                                         <small>شماره موبایل خود را بدون صفر وارد کنید</small>
                                        </div>
                                         <div class="col-xs-3 col-xs-offset-8"  >
{#                                             <input type="text" id="subdomain" value=".domain.com" disabled/>#}
                                        {{ seller_form.dikko_phone_number }}

                                        </div>
                                        </div>
                                        <div class="col-xs-12">
										<button type="submit">ثبت اطلاعات</button>
									</div>
                                {% endif %}
							</form>
						</div>
					</div>


			</div>
		</div>
        </div>
		<!-- newsletter-area start -->
{% endblock %}