{% extends 'base.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% block stylsheet %}

    <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}
{% block javascript %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'dikko/js/jquery.validate.js' %}"></script>
    <script src="{% static 'dikko/js/kamadatepicker.js' %}"></script>
    <script>
        kamaDatepicker('id_birth_date', {
            forceFarsiDigits: true
            , highlightSelectedDay: true
            , sync: true

        });

    </script>
    <script>

    </script>
    {#    <script>#}
    {#    $("#id_first_name,#id_last_name").keypress(function(event){#}
    {#    if(event.keyCode<1569 || event.keyCode>1741)#}
    {#        alert('your message');#}
    {##}
    {##}
    {##}
    {##}
    {#});#}
    {#    </script>#}
    <script>

        key = 10;
        jQuery.validator.addMethod("FarsiCheck", function (value, element) {
            console.log(value.charCodeAt(0));
            return this.optional(element) || ( (parseFloat(value.charCodeAt(0)) > 1569 ));
        }, "لطفا نام به فارسی وارد کنید");
        {#    $("#id_first_name,#id_last_name").keypress(function(event){#}
        {#        if(event.keyCode<1569 || event.keyCode>1741)#}
        {#            alert("لطفا نام و نام خانوادگی به فارسی وارد کنید")#}
        {#        console.log(key)#}
        {#    if(event.keyCode<1569 || event.keyCode>1741)#}
        {#        alert('your message');#}
        {##}
        {##}
        {##}
        {##}
        {#{);#}
        $().ready(function () {

            // validate signup form on keyup and submit
            $("#signupForm2").validate({
                rules: {
                    first_name: {
                        FarsiCheck: true,
                        required: true
                    },
                    last_name: {
                        FarsiCheck: true,
                        required: true,
                    },
                    username: {

                        required: true,
                        minlength: 4

                    },
                    password1: {
                        required: true,
                        minlength: 6
                    },
                    password2: {
                        required: true,
                        minlength: 6,
                        equalTo: "#id_password1"
                    },
                    email: {
                        required: true,
                        email: true
                    },

                },
                messages: {
                    first_name: {
                        FarsiCheck: "لطفا نام را به فارسی وارد کنید",
                        required: "لطفا نام خود را وارد کنید"
                    },

                    last_name: {
                        FarsiCheck: "لطفا نام خانوادگی را فارسی وارد کنید",
                        required: "لطفا نام خانوادگی خود را وارد کنید"
                    },
                    username: {
                        required: "لطفا نام کاربری خود را وارد کنید",
                        minlength: "حداقل طول مجاز نام کاربری 5 کارکاتر است"

                    },
                    password1: {
                        required: "لطفا پسورد خود را وارد کنید",
                        minlength: "حداقل طول مجاز پسورد 6 کاراکتر است"
                    },
                    password2: {
                        required: "لطفا پسورد خود را دوباره وارد کنید",
                        minlength: "حداقل طول مجاز پسورد 6 کاراکتر است",
                        equalTo: "لطفا پسوردی مشابه بالا وارد کنید"
                    },
                    email: "لطفا ایمیل معتبر وارد کنید",

                }
            });
            // propose username by combining first- and lastname
            {#		$("#email").focus(function() {#}
            {#			var firstname = $("#firstname").val();#}
            {#			var lastname = $("#lastname").val();#}
            {#			if (firstname && lastname && !this.value) {#}
            {#				this.value = firstname + "." + lastname;#}
            {#			}#}
            {#		});#}


        });
    </script>
{% endblock %}
{% block content %}

    <div class="account-area ptb-70 bg-2">
        <div class="container">
            {#				<div class="row">#}

            <div class="col-md-6 col-md-offset-3  col-xs-12">
                <h3 class="sidebar-title"> ثبت نام در بق بند</h3>

                <div class="checkout-form">


                    <form method="post" id="signupForm2" action="">
{#                        <h5>حساب گوگل دارید؟ </h5>#}
{#                        <br>#}
{#                        <a href="{% provider_login_url 'google' %}">ثبت نام با حساب گوگل</a>#}
{#                        <br>#}

                        {% csrf_token %}
                        {% if user_form.errors %}
                            {% for field in user_form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in user_form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class="row">
                            <div class="col-xs-12">
                                <span>آدرس ایمیل <span class="star">*</span></span>
                                {{ user_form.email }}

                            </div>
                            <div class="col-xs-12">
                                <span>نام <span class="star">*</span></span>

                                {{ user_form_pro.first_name }}
                            </div>
                            <div class="col-xs-12">
                                <span>نام خانوادگی <span class="star">*</span></span>

                                {{ user_form_pro.last_name }}
                            </div>
                            {#									<div class="col-xs-12">#}
                            {#										<span>نام کاربری <span class="star">*</span></span>#}
                            {##}
                            {#                                        {{user_form.username }}#}
                            {#									</div>#}
                            <div class="col-xs-12">
                                <span>پسورد <span class="star">*</span></span>

                                {{ user_form.password1 }}
                            </div>
                            <div class="col-xs-12">
                                <span>دوباره نویسی پسورد <span class="star">*</span></span>

                                {{ user_form.password2 }}
                            </div>

                            {#                                    <div class="col-xs-12">#}
                            {#										<span>تولد <span class="star">*</span></span>#}
                            {##}
                            {#                                        {{user_form.birth_date }}#}
                            {#									</div>#}
                            {#                                     <script src='https://www.google.com/recaptcha/api.js'></script>#}
                            {##}
                            {#                                    <div class="col-xs-12">#}
                            {#                                      <div class="g-recaptcha" data-sitekey="6Lcr6XIUAAAAAOTdySszwWYFHlnf4pX00hlvZc2J"></div>#}
                            {#                                    </div>#}
                            <div class="col-xs-12">
                                {#										<button type="submit">ثبت نام</button>#}
                                <button type="submit"
                                        class="g-recaptcha"
                                        data-sitekey="6LfTFocUAAAAAFLAZwRSDxdrXkZBUMzWQpBXDmcx"
                                        data-callback="YourOnSubmitFn">
                                    ثبت نام
                                </button>
                            </div>

                        </div>

                    </form>


                </div>
            </div>
            {#				</div>#}
        </div>
    </div>

    <!-- newsletter-area start -->
{% endblock %}