{% extends 'base.html' %}
{% load staticfiles %}
{% load filter_numbers %}
{% block stylesheet %}
{% endblock %}


{% block content %}

    <!-- header start -->

    <!-- breadcumb-area start -->
    <div class="breadcumb-area ptb-70 bg-5">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap">
                        <h2>{{ dikko.name }}</h2>
                        {#                        <ul>#}
                        {##}
                        {#                            <li>{{ dikko.sfield }}</li>#}
                        {##}
                        {##}
                        {#                        </ul>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

    <!-- profile-area start -->

    <div class="profile-area bg-2 ptb-20">
        <div class="tab-content">
            <div class="tab-pane active" id="profile">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-xs-12">
                            <div class="profile-wrap">

                                <div class="view-wrap">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-7 col-xs-12">
                                            <h2 class="shop-title">
                                                {% if request.GET.q %}
                                                    نمایش جست و جو برای {{ request.GET.q }}

                                                {% endif %}
                                            </h2>
                                        </div>
                                        <div class="col-md-6 col-lg-5 clear col-xs-12">


                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="profile-grid">
                                                <div class="row profile-grid">
                                                    <div class="wrap-slick2">
                                                        <div class="slick2">
                                                            {% if request.GET.select == 'All' %}
                                                                {% for obj in object_list %}
                                                                    {% include "dikko/_product.html" %}


                                                                {% endfor %}
                                                            {% else %}
                                                                {% for list in object_list %}
                                                                    {% for obj in list %}
                                                                        {% include "dikko/_product.html" %}

                                                                    {% endfor %}


                                                                {% endfor %}

                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Pagination -->
        {% if is_paginated %}
            <ul class="pagination" style="margin-right: 190px">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}

        <!-- ... end Pagination -->
    </div>
    <!-- profile-area start -->

    <!-- newsletter-area start -->
{% endblock %}
