{% extends 'base.html' %}
{% load filter_numbers %}

{% block content %}



    <!-- contact-area start-->
    <div class="contact-area ptb-70 bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-wrap">
                        <h2 class="contact-title">ثبت نظرات و شکایات شما</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <p>آیا مشکلی در کار می‌بینید؟ نارضایتی یا پیشنهادی دارید؟ لطفا فرم زیر را پر کنید</p>
                            </div>
                            {% if form.errors %}
                                {{ form.errors }}
                            {% endif %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="col-md-6">
                                    {{ form.user_name }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.user_email }}
                                </div>
                                <div class="col-md-6">
                                   {{ form.user_phoneNumber }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.topic }}
                                </div>
                                <div class="col-xs-12">
                                  {{ form.text }}
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn-style" type="submit">ارسال پیام</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}