{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">


                            <h3><i class="fa fa-coffee fa-4x"></i></h3>
                            <h4 class="text-center">با تشکر از شما،شکایت شما ثبت شد</h4>
                            <p>لطفا کد پیگیری خود را یادداشت کنید</p>
                            <div class="panel-body">
                               {{ trackingCode }}
                                نتیجه بررسی شکایت شما به اطلاع شما خواهد رسید

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#        <h3>تغییر رمز عبور</h3>#}



{% endblock %}