@charset "UTF-8";

input[type=radio] {
  display: none;
}
input[type=radio]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type=radio]:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
  cursor: not-allowed;
}

label {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid #20df80;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  position: relative;
}

input[type=radio]:checked + label {
  background: #20df80;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
}
input[type=radio]:checked + label::after {
  color: #3d3f43;
  font-family: FontAwesome;
  border: 2px solid #1dc973;
  content: "";
  font-size: 24px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

input[type=radio]#control_05:checked + label {
  background: red;
  border-color: red;
}

p {
  font-weight: 900;
}

@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}






/*.inputGroup {*/
  /*background-color: #fff;*/
  /*display: block;*/
  /*margin: 10px 0;*/
  /*position: relative;*/
/*}*/
/*.inputGroup label {*/
  /*padding: 12px 30px;*/
  /*width: 100%;*/
  /*display: block;*/
  /*text-align: left;*/
  /*color: #3C454C;*/
  /*cursor: pointer;*/
  /*position: relative;*/
  /*z-index: 2;*/
  /*transition: color 200ms ease-in;*/
  /*overflow: hidden;*/
/*}*/
/*.inputGroup label:before {*/
  /*width: 10px;*/
  /*height: 10px;*/
  /*border-radius: 50%;*/
  /*content: "";*/
  /*background-color: #5562eb;*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%) scale3d(1, 1, 1);*/
  /*transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);*/
  /*opacity: 0;*/
  /*z-index: -1;*/
/*}*/
/*.inputGroup label:after {*/
  /*width: 32px;*/
  /*height: 32px;*/
  /*content: "";*/
  /*border: 2px solid #D1D7DC;*/
  /*background-color: #fff;*/
  /*background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");*/
  /*background-repeat: no-repeat;*/
  /*background-position: 2px 3px;*/
  /*border-radius: 50%;*/
  /*z-index: 2;*/
  /*position: absolute;*/
  /*right: 30px;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
  /*cursor: pointer;*/
  /*transition: all 200ms ease-in;*/
/*}*/
/*.inputGroup input:checked ~ label {*/
  /*color: #fff;*/
  /*content: "jj";*/
/*}*/
/*.inputGroup input:checked ~ label:before {*/
  /*transform: translate(-50%, -50%) scale3d(56, 56, 1);*/
  /*opacity: 1;*/
/*}*/
/*.inputGroup input:checked ~ label:after {*/
  /*background-color: #54E0C7;*/
  /*border-color: #54E0C7;*/

/*}*/
/*.inputGroup input {*/
  /*width: 32px;*/
  /*height: 32px;*/
  /*order: 1;*/
  /*z-index: 2;*/
  /*position: absolute;*/
  /*right: 30px;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
  /*cursor: pointer;*/
  /*visibility: hidden;*/
/*}*/







/*.form {*/
  /*padding: 0 16px;*/
  /*max-width: 550px;*/
  /*margin: 50px auto;*/
  /*font-size: 18px;*/
  /*font-weight: 600;*/
  /*line-height: 36px;*/
/*}*/



/**,*/
/**::before,*/
/**::after {*/
  /*box-sizing: inherit;*/
/*}*/

/*html {*/
  /*box-sizing: border-box;*/
/*}*/

/*code {*/
  /*background-color: #9AA3AC;*/
  /*padding: 0 8px;*/
/*}*/