/*
Author : Himateja
Editor : Codepen
Permissions : Open Source
*/


input[type=checkbox] {
	clear: both;
	display: none;
	cursor: pointer;
}

input[type="checkbox"] {
  display: none;
	cursor: pointer;
}

input[type="checkbox"] + label {
	position: relative;
	z-index: 100;
	overflow: hidden;
	height: 6em;
	width: 6em;
	left: calc(50% - 3em);
	top: calc(50% - 3em);
	display: block;
	text-align: center;
	line-height: 95px;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	border-radius: 50%;
	background-color: #fff;
}

input[type="checkbox"] + label:before {
	content: '';
	z-index: -1;
	position: absolute;
	background: rgb(220, 72, 127);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 0;
	left: 0;
	transform: scale(0);
	-webkit-ransform: scale(0);
}

input[type="checkbox"] + label:after {
	content: '';
	z-index: -1;
	position: absolute;
	background: white;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 0;
	left: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
}

input[type="checkbox"]:checked + label svg {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	fill: rgb(220, 72, 127);
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
}

input[type="checkbox"]:checked + label:after {
	-webkit-animation: like-a 0.3s 0.2s forwards;
	-moz-animation: like-a 0.3s 0.2s forwards;
	animation: like-a 0.3s 0.2s forwards;
}

input[type="checkbox"]:checked + label:before {
	-webkit-animation: like-a 0.5s 0s forwards;
	-moz-animation: like-a 0.5s 0s forwards;
	animation: like-a 0.5s 0s forwards;
}

label svg {
	display: inline-flex;
	vertical-align: middle;
	width: 35px;
	fill: rgb(167, 167, 167);
}

.copyright {
  position: fixed;
  width: 100%;
  bottom: 5px;
  text-align: center;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: rgb(220, 72, 127);
}

a:hover {
  transition: none;
  /*border-bottom: 1px solid rgb(220, 72, 127);*/
}

@-webkit-keyframes like-a {
100% {
	-webkit-transform:scale(1.03);
	transform:scale(1.03);
	-moz-transform:scale(1.03);
} }
@-moz-keyframes like-a {
100% {
	-webkit-transform:scale(1.03);
	transform:scale(1.03);
	-moz-transform:scale(1.03);
} }
@keyframes like-a {
100% {
	-webkit-transform:scale(1.03);
	transform:scale(1.03);
	-moz-transform:scale(1.03);
} }
