{% extends 'base.html' %}
{% load staticfiles %}
{% load filter_numbers %}
{% block stylesheet %}

    <link rel="stylesheet" href="{% static 'shipping/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'carts/css/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'carts/css/cart.css' %}">
{% endblock %}
{% block content %}
    <section>

        <nav style="direction: ltr">
            <ol class="cd-multi-steps text-top">
                <li class="visited"><em>تایید و ارسال</em></li>
                <li class="visited"><em>پرداخت</em></li>
                <li class="current"><em>اطلاعات آدرس</em></li>
                <li><em>سبد خرید</em></li>

            </ol>
        </nav>
    </section>
    <!-- breadcumb-area end -->

    <!-- checkout-area start -->
    <div class="checkout-area ptb-70 bg-2">
        <div class="container">


            <div class="row">
                <div class="col-md-8 col-sx-12">


                    {#                        <div class="checkout-form-wrap">#}
                    <div class="shopping-cart">
                        <div class="title" style="font-size: 16px">انتخاب آدرس تحویل سفارش</div>
                        <div class="checkout-form">

                            {% if addresses.count == 0 %}
                                <p>در حال حاضر آدرسی از شما ذخیره نشده است</p>
                                <br>
                                {{ form.error }}
                                <a href="#collapseCreateAddress" data-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="collapseAddress"
                                   class="btn btn-default">ثبت آدرس جدید
                                </a>
                                <div class="collapse" id="collapseCreateAddress">
                                    <form class="address_form" method="post"
                                          data-cities-url="{% url 'dashboard:ajax_load_cities' %}"
                                          action="{% url 'dashboard:dashboard_address_create' %}">
                                        <div class="modal-body mx-3">

                                            {% csrf_token %}

                                            <div class="form-group label-floating">
                                                <label class="control-label">نام و نام خانوادگی تحویل گیرنده</label>
                                                {{ form.receiver_name }}
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">شماره موبایل</label>
                                                {{ form.receiver_phone_number }}
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">استان</label>
                                                {#                                            {{ form.state }}#}
                                                <select class="province form-control" name="state">
                                                </select>
                                                {#                                            {{ form.state }}#}
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">شهر</label>
                                                <select class="city form-control" name="city">
                                                </select>
                                                {#                                            {{ form.city }}#}
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">کد پستی</label>
                                                {{ form.postal_code }}
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">آدرس پستی</label>
                                                {{ form.address }}
                                            </div>


                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button class="btn btn-success" type="submit" id="createAddrBtn">ثبت
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                {#                                    <a href="{% url 'dashboard:dashboard_addresses' %}"#}
                                {#                                       class="btn btn-default">ایجاد آدرس</a>#}
                            {% else %}
                                <form method="post" id="shipping_form">
                                {% csrf_token %}
                                <div class="inputGroup">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="card">

                                                <div class="card-body">
                                                    <input id="{{ address.id }}" name="address" type="radio"
                                                           value="{{ address.id }}" checked/>
                                                    <label for="{{ address.id }}" style="padding: 3.5rem">
                                                        <h3 style="color: white">{{ address.receiver_name }}</h3>
                                                        استان {{ address.state }}
                                                        شهر {{ address.city }} {{ address.address }}
                                                        <br>
                                                    </label>
                                                    <a href="{% url 'dashboard:dashboard_address_edit' pk=address.pk return="shipping" %}"
                                                       class="btn btn-default">ویرایش آدرس </a>

                                                </div>
                                            </div>
                                        </div>
                                        {% if addresses.count > 1 %}
                                            <div class="col-md-2 ml-auto">
                                                <a href="#collapseAddress" data-toggle="collapse" role="button"
                                                   aria-expanded="false" aria-controls="collapseAddress"
                                                   class="btn btn-default">مشاهده همه آدرس های من
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="collapse" id="collapseAddress">
                                        <hr size="30">

                                        {% for obj in addresses %}
                                            {% if obj.id != address.id %}
                                                <div class="card">
                                                    <div class="card-body">

                                                        <input id="{{ obj.id }}" name="address" type="radio"
                                                               value="{{ obj.id }}"/>
                                                        <label for="{{ obj.id }}" style="padding: 3.5rem">
                                                            <h3 style="color: white">{{ obj.receiver_name }}</h3>
                                                            استان {{ obj.state }}
                                                            شهر {{ obj.city }} {{ obj.address }}</label>
                                                        <a href="{% url 'dashboard:dashboard_address_edit' pk=obj.pk return="shipping" %}"
                                                           class="btn btn-default">ویرایش آدرس</a>

                                                    </div>
                                                </div>
                                                <hr size="30">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>

                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="shopping-cart">
                        <h5 class="m-text20 p-b-24 p-t-24 p-r-24">
                            جمع بندی
                        </h5>

                        <!--  -->
                        <div class="flex-w flex-sb-m p-b-12 p-r-24">
					<span class="m-text18 w-size19 w-full-sm">
						مجموع کالا:
					</span>

                            <span class="m-text18 w-size20 w-full-sm p-r-24">
						{{ cart_obj.subtotal|persian_int }} تومان
					</span>
                        </div>

                        <!--  -->
                        <div class="flex-w flex-sb bo10 p-t-15 p-b-20 p-r-24">
					<span class="m-text18 w-size19 w-full-sm">
						هزینه ارسال:
					</span>

                            <div class="w-size20 w-full-sm p-r-24">
                                <p class="s-text8 p-b-23" id="shipping_cost">
                                    {{ shipping_cost }}
                                </p>


                            </div>
                        </div>

                        <!--  -->
                        <input type="hidden" id="cart_sub" value="{{ cart_obj.subtotal }}">
                        <div class="flex-w flex-sb-m p-t-26 p-b-30 p-r-24">
					<span class="m-text22 w-size19 w-full-sm">
						مجموع:
					</span>

                            <span class="m-text18 w-size20 w-full-sm" id="total_cost">
						{{ cart_obj.total|persian_int }} تومان
					</span>
                        </div>

                        <div class="size15 trans-0-4">
                            <!-- Button -->

                            <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" type="submit">
                                پرداخت
                            </button>

                        </div>
                    </div>
                    {#                    <div class="checkout-form-wrap mb-20">#}
                    {#                        <h3 class="checkout-title">سفارشات شما</h3>#}
                    {#                        <div class="checkout-form">#}
                    {#                            <div class="row">#}
                    {#                                <div class="col-xs-12">#}
                    {#                                    <ul>#}
                    {#                                        {% for entry in cart_obj.entrys.all %}#}
                    {#                                           <li>{{ entry.product }}<span>x{{ entry.quantity|persian_int }}</span><strong>{{ entry.total|persian_int }}</strong></li>#}
                    {##}
                    {##}
                    {#                                        {% endfor %}#}
                    {#                                    </ul>#}
                    {#                                </div>#}
                    {#                                <div class=" col-xs-12">#}
                    {#                                    <ul>#}
                    {#                                        <li><b>مجموع</b> <strong>{{ cart_obj.subtotal|persian_int }}</strong></li>#}
                    {#                                        <li><b>هزینه ارسال</b> <strong id="shipping_cost">{{ shipping_cost }}</strong></li>#}
                    {#                                        <li class="last"><b>پرداختی شما</b> <strong>{{ cart_obj.total|persian_int }}</strong></li>#}
                    {#                                    </ul>#}
                    {#                                </div>#}
                    {#                            <button type="submit"> تایید و ادامه ثبت سفارش</button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'dikko/js/jquery.validate.js' %}"></script>
    <script>
        $(document).ready(function () {
            var createAddrForm = $('.address_form');
            createAddrForm.submit(function (event) {
                event.preventDefault();
                var thisForm = $(this);
                var formData = thisForm.serialize();
                 $.ajax({
                url: "/shipping/",
                method: "POST",
                data: formData,
                success: function (data) {
                    if (data.valid === 1){
                        location.reload();
                    }
                    else{

                    }

                }})
            })


        });
    </script>
    <script>
        $(document).ready(function () {
            var city = $('.city');
            loadprovince();
            $(".province").change(function () {
                city.addClass("temp09120217432class");
                loadCity($(this).val());
            });
        });

        function loadprovince() {
            selectValues = {
                "": "",
                "آذربایجان‌شرقی": "آذربایجان شرقی",
                "آذربایجان‌غربی": "آذربایجان غربی",
                "اردبیل": "اردبیل",
                "اصفهان": "اصفهان",
                "البرز": "البرز",
                "ایلام": "ایلام",
                "بوشهر": "بوشهر",
                "تهران": "تهران",
                "چهارمحال‌و‌بختیاری": "چهارمحال و بختیاری",
                "خراسان‌جنوبی": "خراسان جنوبی",
                "خراسان‌رضوی": "خراسان رضوی",
                "خراسان‌شمالی": "خراسان شمالی",
                "خوزستان": "خوزستان",
                "زنجان": "زنجان",
                "سمنان": "سمنان",
                "سیستان‌و‌بلوچستان": "سیستان و بلوچستان",
                "فارس": "فارس",
                "قزوین": "قزوین",
                "قم": "قم",
                "کردستان": "کردستان",
                "کرمان": "کرمان",
                "کرمانشاه": "کرمانشاه",
                "کهکیلویه‌و‌بویراحمد": "کهگیلویه و بویراحمد",
                "گلستان": "گلستان",
                "گیلان": "گیلان",
                "لرستان": "لرستان",
                "مازندران": "مازندران",
                "مرکزی": "مرکزی",
                "هرمزگان": "هرمزگان",
                "همدان": "همدان",
                "یزد": "یزد"
            };

            $.each(selectValues, function (key, value) {
                $('.province')
                    .append($("<option></option>")
                        .attr("value", key)
                        .text(value));
            });
        }

        function loadCity(province) {
            $(".temp09120217432class").find('option').remove();

            switch (province) {
                case "آذربایجان‌شرقی":
                    var selectValues = {
                        "آذرشهر": "آذرشهر",
                        "اسکو": "اسکو",
                        "اهر": "اهر",
                        "بستان‌آباد": "بستان‌آباد",
                        "بناب": "بناب",
                        "تبریز": "تبریز",
                        "جلفا": "جلفا",
                        "چاراویماق": "چاراویماق",
                        "سراب": "سراب",
                        "شبستر": "شبستر",
                        "عجب‌شیر": "عجب‌شیر",
                        "کلیبر": "کلیبر",
                        "مراغه": "مراغه",
                        "مرند": "مرند",
                        "ملکان": "ملکان",
                        "میانه": "میانه",
                        "ورزقان": "ورزقان",
                        "هریس": "هریس",
                        "هشترود": "هشترود"
                    };
                    break;
                case "آذربایجان‌غربی":
                    var selectValues = {
                        "ارومیه": "ارومیه",
                        "اشنویه": "اشنویه",
                        "بوکان": "بوکان",
                        "پیرانشهر": "پیرانشهر",
                        "تکاب": "تکاب",
                        "چالدران": "چالدران",
                        "خوی": "خوی",
                        "سردشت": "سردشت",
                        "سلماس": "سلماس",
                        "شاهین‌دژ": "شاهین‌دژ",
                        "ماکو": "ماکو",
                        "مهاباد": "مهاباد",
                        "میاندوآب": "میاندوآب",
                        "نقده": "نقده"
                    };
                    break;
                case "اردبیل":
                    var selectValues = {
                        "اردبیل": "اردبیل",
                        "بیله‌سوار": "بیله‌سوار",
                        "پارس‌آباد": "پارس‌آباد",
                        "خلخال": "خلخال",
                        "کوثر": "کوثر",
                        "گرمی": "گرمی",
                        "مشگین شهر": "مشگین شهر",
                        "نمین": "نمین",
                        "نیر": "نیر"
                    };
                    break;
                case "اصفهان":
                    var selectValues = {
                        "آران و بیدگل": "آران و بیدگل",
                        "اردستان": "اردستان",
                        "اصفهان": "اصفهان",
                        "برخوردار و میمه": "برخوردار و میمه",
                        "تیران و کرون": "تیران و کرون",
                        "چادگان": "چادگان",
                        "خمینی‌شهر": "خمینی‌شهر",
                        "خوانسار": "خوانسار",
                        "سمیرم": "سمیرم",
                        "شهرضا": "شهرضا",
                        "سمیرم سفلی": "سمیرم سفلی",
                        "فریدن": "فریدن",
                        "فریدون‌شهر": "فریدون‌شهر",
                        "فلاورجان": "فلاورجان",
                        "کاشان": "کاشان",
                        "گلپایگان": "گلپایگان",
                        "لنجان": "لنجان",
                        "مبارکه": "مبارکه",
                        "نائین": "نائین",
                        "نجف‌آباد": "نجف‌آباد",
                        "نطنز": "نطنز"
                    };
                    break;
                case "البرز":
                    var selectValues = {"ساوجبلاغ": "ساوجبلاغ", "طالقان": "طالقان", "کرج": "کرج", "نظرآباد": "نظرآباد"};
                    break;
                case "ایلام":
                    var selectValues = {
                        "آبدانان": "آبدانان",
                        "ایلام": "ایلام",
                        "ایوان": "ایوان",
                        "دره‌شهر": "دره‌شهر",
                        "دهلران": "دهلران",
                        "شیروان و چرداول": "شیروان و چرداول",
                        "مهران": "مهران"
                    };
                    break;
                case "بوشهر":
                    var selectValues = {
                        "بوشهر": "بوشهر",
                        "تنگستان": "تنگستان",
                        "جم": "جم",
                        "دشتستان": "دشتستان",
                        "دشتی": "دشتی",
                        "دیر": "دیر",
                        "دیلم": "دیلم",
                        "کنگان": "کنگان",
                        "گناوه": "گناوه"
                    };
                    break;
                case "تهران":
                    var selectValues = {
                        "ورامین": "ورامین",
                        "فیروزکوه": "فیروزکوه",
                        "شهریار": "شهریار",
                        "شمیرانات": "شمیرانات",
                        "ری": "ری",
                        "رباط‌کریم": "رباط‌کریم",
                        "دماوند": "دماوند",
                        "تهران": "تهران",
                        "پاکدشت": "پاکدشت",
                        "اسلام‌شهر": "اسلام‌شهر"
                    };
                    break;
                case "چهارمحال‌و‌بختیاری":
                    var selectValues = {
                        "اردل": "اردل",
                        "بروجن": "بروجن",
                        "شهرکرد": "شهرکرد",
                        "فارسان": "فارسان",
                        "کوهرنگ": "کوهرنگ",
                        "لردگان": "لردگان"
                    };
                    break;
                case "خراسان‌جنوبی":
                    var selectValues = {
                        "بیرجند": "بیرجند",
                        "درمیان": "درمیان",
                        "سرایان": "سرایان",
                        "سربیشه": "سربیشه",
                        "فردوس": "فردوس",
                        "قائنات": "قائنات",
                        "نهبندان": "نهبندان"
                    };
                    break;
                case "خراسان‌رضوی":
                    var selectValues = {
                        "بردسکن": "بردسکن",
                        "تایباد": "تایباد",
                        "تربت جام": "تربت جام",
                        "تربت حیدریه": "تربت حیدریه",
                        "چناران": "چناران",
                        "خلیل‌آباد": "خلیل‌آباد",
                        "خواف": "خواف",
                        "درگز": "درگز",
                        "رشتخوار": "رشتخوار",
                        "سبزوار": "سبزوار",
                        "سرخس": "سرخس",
                        "فریمان": "فریمان",
                        "قوچان": "قوچان",
                        "کاشمر": "کاشمر",
                        "کلات": "کلات",
                        "گناباد": "گناباد",
                        "مشهد": "مشهد",
                        "مه ولات": "مه ولات",
                        "نیشابور": "نیشابور"
                    };
                    break;
                case "خراسان‌شمالی":
                    var selectValues = {
                        "اسفراین": "اسفراین",
                        "بجنورد": "بجنورد",
                        "جاجرم": "جاجرم",
                        "شیروان": "شیروان",
                        "فاروج": "فاروج",
                        "مانه و سملقان": "مانه و سملقان"
                    };
                    break;
                case "خوزستان":
                    var selectValues = {
                        "آبادان": "آبادان",
                        "امیدیه": "امیدیه",
                        "اندیمشک": "اندیمشک",
                        "اهواز": "اهواز",
                        "ایذه": "ایذه",
                        "باغ‌ملک": "باغ‌ملک",
                        "بندر ماهشهر": "بندر ماهشهر",
                        "بهبهان": "بهبهان",
                        "خرمشهر": "خرمشهر",
                        "دزفول": "دزفول",
                        "دشت آزادگان": "دشت آزادگان",
                        "رامشیر": "رامشیر",
                        "رامهرمز": "رامهرمز",
                        "شادگان": "شادگان",
                        "شوش": "شوش",
                        "شوشتر": "شوشتر",
                        "گتوند": "گتوند",
                        "لالی": "لالی",
                        "مسجد سلیمان": "مسجد سلیمان",
                        "هندیجان": "هندیجان"
                    };
                    break;
                case "زنجان":
                    var selectValues = {
                        "ابهر": "ابهر",
                        "ایجرود": "ایجرود",
                        "خدابنده": "خدابنده",
                        "خرمدره": "خرمدره",
                        "زنجان": "زنجان",
                        "طارم": "طارم",
                        "ماه‌نشان": "ماه‌نشان"
                    };
                    break;
                case "سمنان":
                    var selectValues = {
                        "دامغان": "دامغان",
                        "سمنان": "سمنان",
                        "شاهرود": "شاهرود",
                        "گرمسار": "گرمسار",
                        "مهدی‌شهر": "مهدی‌شهر"
                    };
                    break;
                case "سیستان‌و‌بلوچستان":
                    var selectValues = {
                        "ایرانشهر": "ایرانشهر",
                        "چابهار": "چابهار",
                        "خاش": "خاش",
                        "دلگان": "دلگان",
                        "زابل": "زابل",
                        "زاهدان": "زاهدان",
                        "زهک": "زهک",
                        "سراوان": "سراوان",
                        "سرباز": "سرباز",
                        "کنارک": "کنارک",
                        "نیک‌شهر": "نیک‌شهر"
                    };
                    break;
                case "فارس":
                    var selectValues = {
                        "آباده": "آباده",
                        "ارسنجان": "ارسنجان",
                        "استهبان": "استهبان",
                        "اقلید": "اقلید",
                        "بوانات": "بوانات",
                        "پاسارگاد": "پاسارگاد",
                        "جهرم": "جهرم",
                        "خرم‌بید": "خرم‌بید",
                        "خنج": "خنج",
                        "داراب": "داراب",
                        "زرین‌دشت": "زرین‌دشت",
                        "سپیدان": "سپیدان",
                        "شیراز": "شیراز",
                        "فراشبند": "فراشبند",
                        "فسا": "فسا",
                        "فیروزآباد": "فیروزآباد",
                        "قیر و کارزین": "قیر و کارزین",
                        "کازرون": "کازرون",
                        "لارستان": "لارستان",
                        "لامرد": "لامرد",
                        "مرودشت": "مرودشت",
                        "ممسنی": "ممسنی",
                        "مهر": "مهر",
                        "نی‌ریز": "نی‌ریز"
                    };
                    break;
                case "قزوین":
                    var selectValues = {
                        "آبیک": "آبیک",
                        "البرز": "البرز",
                        "بوئین‌زهرا": "بوئین‌زهرا",
                        "تاکستان": "تاکستان",
                        "قزوین": "قزوین"
                    };
                    break;
                case "قم":
                    var selectValues = {"قم": "قم"};
                    break;
                case "کردستان":
                    var selectValues = {
                        "بانه": "بانه",
                        "بیجار": "بیجار",
                        "دیواندره": "دیواندره",
                        "سروآباد": "سروآباد",
                        "سقز": "سقز",
                        "سنندج": "سنندج",
                        "قروه": "قروه",
                        "کامیاران": "کامیاران",
                        "مریوان": "مریوان"
                    };
                    break;
                case "کرمان":
                    var selectValues = {
                        "بافت": "بافت",
                        "بردسیر": "بردسیر",
                        "بم": "بم",
                        "جیرفت": "جیرفت",
                        "راور": "راور",
                        "رفسنجان": "رفسنجان",
                        "رودبار جنوب": "رودبار جنوب",
                        "زرند": "زرند",
                        "سیرجان": "سیرجان",
                        "شهر بابک": "شهر بابک",
                        "عنبرآباد": "عنبرآباد",
                        "قلعه گنج": "قلعه گنج",
                        "کرمان": "کرمان",
                        "کوهبنان": "کوهبنان",
                        "کهنوج": "کهنوج",
                        "منوجان": "منوجان"
                    };
                    break;
                case "کرمانشاه":
                    var selectValues = {
                        "اسلام‌آباد غرب": "اسلام‌آباد غرب",
                        "پاوه": "پاوه",
                        "ثلاث باباجانی": "ثلاث باباجانی",
                        "جوانرود": "جوانرود",
                        "دالاهو": "دالاهو",
                        "روانسر": "روانسر",
                        "سرپل ذهاب": "سرپل ذهاب",
                        "سنقر": "سنقر",
                        "صحنه": "صحنه",
                        "قصر شیرین": "قصر شیرین",
                        "کرمانشاه": "کرمانشاه",
                        "کنگاور": "کنگاور",
                        "گیلان غرب": "گیلان غرب",
                        "هرسین": "هرسین"
                    };
                    break;
                case "کهکیلویه‌و‌بویراحمد":
                    var selectValues = {
                        "بویراحمد": "بویراحمد",
                        "بهمئی": "بهمئی",
                        "دنا": "دنا",
                        "کهگیلویه": "کهگیلویه",
                        "گچساران": "گچساران"
                    };
                    break;
                case "گلستان":
                    var selectValues = {
                        "آزادشهر": "آزادشهر",
                        "آق‌قلا": "آق‌قلا",
                        "بندر گز": "بندر گز",
                        "ترکمن": "ترکمن",
                        "رامیان": "رامیان",
                        "علی‌آباد": "علی‌آباد",
                        "کردکوی": "کردکوی",
                        "کلاله": "کلاله",
                        "گرگان": "گرگان",
                        "گنبد کاووس": "گنبد کاووس",
                        "مراوه‌تپه": "مراوه‌تپه",
                        "مینودشت": "مینودشت"
                    };
                    break;
                case "گیلان":
                    var selectValues = {
                        "آستارا": "آستارا",
                        "آستانه": "آستانه",
                        "اشرفیه": "اشرفیه",
                        "املش": "املش",
                        "بندر انزلی": "بندر انزلی",
                        "رشت": "رشت",
                        "رضوانشهر": "رضوانشهر",
                        "رودبار": "رودبار",
                        "رودسر": "رودسر",
                        "سیاهکل": "سیاهکل",
                        "شفت": "شفت",
                        "صومعه‌سرا": "صومعه‌سرا",
                        "طوالش": "طوالش",
                        "فومن": "فومن",
                        "لاهیجان": "لاهیجان",
                        "لنگرود": "لنگرود",
                        "ماسال": "ماسال"
                    };
                    break;
                case "لرستان":
                    var selectValues = {
                        "ازنا": "ازنا",
                        "الیگودرز": "الیگودرز",
                        "بروجرد": "بروجرد",
                        "پل‌دختر": "پل‌دختر",
                        "خرم‌آباد": "خرم‌آباد",
                        "دورود": "دورود",
                        "دلفان": "دلفان",
                        "سلسله": "سلسله",
                        "کوهدشت": "کوهدشت"
                    };
                    break;
                case "مازندران":
                    var selectValues = {
                        "آمل": "آمل",
                        "بابل": "بابل",
                        "بابلسر": "بابلسر",
                        "بهشهر": "بهشهر",
                        "تنکابن": "تنکابن",
                        "جویبار": "جویبار",
                        "چالوس": "چالوس",
                        "رامسر": "رامسر",
                        "ساری": "ساری",
                        "سوادکوه": "سوادکوه",
                        "قائم‌شهر": "قائم‌شهر",
                        "گلوگاه": "گلوگاه",
                        "محمودآباد": "محمودآباد",
                        "نکا": "نکا",
                        "نور": "نور",
                        "نوشهر": "نوشهر"
                    };
                    break;
                case "مرکزی":
                    var selectValues = {
                        "آشتیان": "آشتیان",
                        "اراک": "اراک",
                        "تفرش": "تفرش",
                        "خمین": "خمین",
                        "دلیجان": "دلیجان",
                        "زرندیه": "زرندیه",
                        "ساوه": "ساوه",
                        "شازند": "شازند",
                        "کمیجان": "کمیجان",
                        "محلات": "محلات"
                    };
                    break;
                case "هرمزگان":
                    var selectValues = {
                        "ابوموسی": "ابوموسی",
                        "بستک": "بستک",
                        "بندر عباس": "بندر عباس",
                        "بندر لنگه": "بندر لنگه",
                        "جاسک": "جاسک",
                        "حاجی‌آباد": "حاجی‌آباد",
                        "خمیر": "خمیر",
                        "رودان": "رودان",
                        "قشم": "قشم",
                        "گاوبندی": "گاوبندی",
                        "میناب": "میناب"
                    };
                    break;
                case "همدان":
                    var selectValues = {
                        "اسدآباد": "اسدآباد",
                        "بهار": "بهار",
                        "تویسرکان": "تویسرکان",
                        "رزن": "رزن",
                        "کبودرآهنگ": "کبودرآهنگ",
                        "ملایر": "ملایر",
                        "نهاوند": "نهاوند",
                        "همدان": "همدان"
                    };
                    break;
                case "یزد":
                    var selectValues = {
                        "ابرکوه": "ابرکوه",
                        "اردکان": "اردکان",
                        "بافق": "بافق",
                        "تفت": "تفت",
                        "خاتم": "خاتم",
                        "صدوق": "صدوق",
                        "طبس": "طبس",
                        "مهریز": "مهریز",
                        "میبد": "میبد",
                        "یزد": "یزد"
                    };
                    break;
                case "":
                    var selectValues = {"": ""}

            }


            $.each(selectValues, function (key, value) {
                $(".temp09120217432class")
                    .append($("<option></option>")
                        .attr("value", key)
                        .text(value));
            });
            $(".temp09120217432class").removeClass("temp09120217432class");
        }


        {#$("#id_state").change(function () {#}
        {#    var url = $(".address_form").attr("data-cities-url");  // get the url of the `load_cities` view#}
        {#    var stateId = $(this).val();  // get the selected country ID from the HTML input#}
        {##}
        {#    $.ajax({#}
        {#        url: url,#}
        {#        data: {#}
        {#            'state': stateId#}
        {#        },#}
        {#        success: function (data) {#}
        {#            var x = $("#id_city").value;#}
        {#            // `data` is the return of the `load_cities` view function#}
        {#            $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server#}
        {#        }#}
        {#    });#}
        {##}

        {#$(document).ready(function () {#}
        {#    var insert = $(".inser-info-success").val();#}
        {#    if (insert == 'True') {#}
        {#        $('#overlay2').modal('show');#}
        {##}
        {#        setTimeout(function () {#}
        {#            $('#overlay2').modal('hide');#}
        {#        }, 2000);#}
        {#    }#}

    </script>
    <script>

        $(document).ready(function () {
            var radioValue = $("input[name='address']:checked").val();
            var subTotal = $("#cart_sub").val();
            console.log(radioValue);
            console.log(subTotal)
            var data = {'address_id': radioValue, 'cart': subTotal};
            $.ajax({
                url: '/shipping/calculate',
                method: 'GET',
                data: data,
                success: function (data) {
                    console.log(data.cost);
                    console.log(data.total);
                    var cost = $("#shipping_cost");
                    var total = $('#total_cost');
                    total.html(data.total)
                    cost.html(data.cost)
                }


            });
            $('input[type=radio][name=address]').change(function () {
                var subTotal = $("#cart_sub").val();
                var data = {'address_id': this.value, 'cart': subTotal};
                $.ajax({
                    url: '/shipping/calculate',
                    method: 'GET',
                    data: data,
                    success: function (data) {
                        console.log(data.cost)
                        var cost = $("#shipping_cost")
                        cost.html(data.cost)
                        var total = $('#total_cost');
                        total.html(data.total)
                    }


                });
            });


        })

    </script>
{% endblock %}
