{% extends 'base.html' %}
{% load staticfiles %}
{% block seo %}
 <title>درباره ما|فروشگاه اینترنتی بق بند</title>
    <meta name="description" content="خرید آنلاین صنایع دستی و محصولات کشاورزی خراسان جنوبی..| خرید زرشک ، زعفران ،صنایع دستی و..با ما در ارتباط باشید">
    {% endblock %}
{% block content %}

	<!-- content page -->
	<section class="p-t-20 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="hov-img-zoom">
						<img src="{% static '1.png' %}" alt="IMG-ABOUT">
					</div>
				</div>

				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						داستان بق بند
					</h3>

					<p class="p-b-28" style="text-align: justify;">
                        بدون شک یکی از افتخارات هر منطقه، صنایع بومی و دستی آن است هنرهای سنتی، مجموعه هنرهای اصیل، بومی و مردمی است که ریشه‌های عمیق و استوار در اعتقادات آداب، عادات، رسوم، سنن و در مجموع فرهنگ معنوی جامعه دارد ‏و نمایشگر فرهنگ و تمدن اقوام بوده است.قدمت تولیدات صنایع دستی در استان خراسان جنوبی قابل توجه بوده و برخی رشته‌های تولیدی در طول سال های اخیر به فراموشی سپرده شده است. با توجه به توسعه روز افزون اینترنت، روشهای خرید به کلی دگرگون شده و جامعه به سمت خریداینترنتی محصول سوق پیدا کرده که این موضوع دارای مزیتهایی بسیاری می باشد. امروزه با توجه به شکل گرفتن انواع فروشگاه های اینترنتی در زمینه های مختلف خرید اینترنتی ، ما بر آن شدیم تا اولین فروشگاه اینترنتی تخصصی صنایع دستی وپوشاک در شرق کشور را با هدف ارائه محصولاتی با کیفیت و تنها با در نظر گرفتن رضایت کامل مشتری راه اندازی کنیم وهمچنین با هدف تقویت تولیدات صنایع دستی وتولیدات محلی دراین استان ومعرفی قدمت تاریخی وممانعت از فراموشی برخی از رشته ها وآمیخته های هنری این منطقه گامی بزرگ در تقویت این صنعت نایاب برداشته باشیم. بق بند یک بازار آنلاین و شبکه اجتماعی است برای عرضه محصولات خانگی، هنری وسنتی استان خراسان‌جنوبی به همراه عرضه پوشاک سنتی وکلاسیک ایرانی؛ محصولات خاصی که در فروشگاه‌های اینترنتی کمتر پیدا می‌شود.
					</p>

{#					<div class="bo13 p-l-29 m-l-9 p-b-10">#}
{#						<p class="p-b-11">#}
{#							Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.#}
{#						</p>#}
{##}
{#						<span class="s-text7">#}
{#							- Steve Job’s#}
{#						</span>#}
{#					</div>#}
				</div>
			</div>
		</div>
	</section>
{% endblock %}