<!doctype html>

{#{% load staticfiles %}#}
{% load static from staticfiles %}
{% load socialaccount %}
{% load filter_numbers %}
{% load jalali_tags %}
<html class="no-js" lang="">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135405188-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135405188-1');
    </script>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    {#    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 ,user-scalable=no">#}
    {#    <meta http-equiv="x-ua-compatible" content="ie=edge">#}
    {% block seo %}
        <title>فروشگاه اینترنتی بق بند, صنایع دستی خراسان جنوبی</title>

        <meta name="description"
              content="خرید آنلاین صنایع دستی , محصولات کشاورزی و پوشاک خراسان جنوبی..| خرید زرشک ، زعفران ،صنایع دستی و ...کلیک کنید!">
        <meta name="keywords"
              content="فروشگاه اینترنتی, خرید آنلاین،صنایع دستی,خراسان جنوبی,پوشاک,محصولات کشاورزی,بق بند,بقبند"/>


    {% endblock %}
{% if request.get_full_path == '/' %}
<link rel="canonical" href="https://www.boghband.com"/>
{% else %}
<link rel="canonical" href="https://www.boghband.com{{ request.get_full_path }}"/>
{% endif %}


    {#    <meta name="viewport" content="width=device-width, initial-scale=1">#}

    <link rel="shortcut icon" type="image/png" href={% static 'rsz_11.png' %}>
    <!-- Place favicon.ico in the root directory -->

    <!-- all css here -->
    <link rel="stylesheet" href="{% static 'products/sweetalert/sweetCss2.css' %}">
    <!-- bootstrap v3.3.7 css -->
    <link rel="stylesheet" href="{% static 'dikko/css/bootstrap.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'dikko/css/animate.css' %}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="{% static 'dikko/css/jquery-ui.css' %}">
    <!-- slicknav.min.css -->
    <link rel="stylesheet" href="{% static 'dikko/css/slicknav.min.css' %}">
    <!-- owl.carousel.2.0.0-beta.2.4 css -->
    <link rel="stylesheet" href="{% static 'dikko/css/owl.carousel.css' %}">
    <!-- font-awesome v4.6.3 css -->
    <link rel="stylesheet" href="{% static 'dikko/css/font-awesome.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'dikko/style.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'dikko/css/responsive.css' %}">
    <!-- modernizr css -->
    <script src="{% static 'dikko/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dikko/css/btr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'dikko/css/kamadatepicker.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'dikko/menu.css' %}">

    <link href="{% static 'dikko/css/jquery.smartmenus.bootstrap.css' %}" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{% static 'dikko/index/vendor/animate/animate.css' %}s">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dikko/index/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dikko/index/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dikko/index/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    {#	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">#}
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dikko/index/vendor/slick/slick.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dikko/index/vendor/lightbox2/css/lightbox.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dikko/index/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dikko/index/css/main.css' %}">
    {#    validation signup code #}

    {% block stylesheet %}{% endblock %}
    <!-- Compiled and minified CSS -->
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">#}
    {##}
    {#<!-- Compiled and minified JavaScript -->#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>#}
</head>
<body style="overflow-x: hidden">
<!--[if lt IE 8]>
<p class="browserupgrade">شما از مرورگر <strong>قدیمی</strong> استفاده میکنید. لطفا <a href="http://browsehappy.com/">به روز رسانی کنید</a> تا بهتر ببنید.</p>
<![endif]-->

<!--start preloader area-->
<div class="loader-container circle-pulse-multiple">
    <div class="loader">
        <div id="loading-center-absolute">
            <div class="object" id="object_four"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_one"></div>
        </div>
    </div>
</div>
<!--End preloader area-->

<header>
    <div class="header-top bg-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-5">
                    <div class="header-top-menu">
                        <ul>
                            {#                            <li><a href="#">همکاران</a></li>#}
                            {#                            <li><a href="#">جامعه</a></li>#}
                            {#							<li><a href="#">انجمن</a></li>#}
                            {#                            <li><a href="#">فروشندگی</a></li>#}
                        </ul>
                    </div>
                </div>
                <div class=" col-xs-6 col-sm-6 col-md-7">
                    <div class="header-top-right text-right pull-left">


                        <ul>
                            {% if user.is_authenticated %}
                                <li class="toggleShow">
                                    <a href="{% url 'dashboard:dashboard_notifications_list' %}"><i
                                            class="fa fa-bell-o"></i><span class="number"
                                                                           id="notifications_count">0</span></a>
                                    <ul id="notifications_list">
                                        <li>
                                            <div class="item-img">
                                                <img src="{% static 'dikko/img/notification/1.png' %}" alt=""/>
                                            </div>
                                            <div class="item-content">
                                                <a href="#"> محصول <span>دانلودی </span> چوچو <span> به علاقه مندی اضافه شد </span></a>
                                                <span>21 دقیقه پیش</span>
                                                <span class="icon"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </li>


                                        <li>
                                            <button>نمایش تمام موارد</button>
                                        </li>
                                    </ul>
                                </li>

                                <li class="toggleShow">
                                    <a href="{% url 'cart:cart_home' %}">
                                        <i class="fa fa-shopping-basket"></i>
                                        <span class="number item-count">
                                         <input type="text" style="display: none" id="cartItemCount"
                                                value="{{ request.session.cart_items_count }}">
                                            {% if  request.session.cart_items_count %}
                                                {{ request.session.cart_items_count|persian_int }}

                                            {% else %}
                                                0{% endif %}
                                        </span>
                                    </a>
                                    <ul class="cart" id="cartList">


                                        <li class='itemLi'>

                                        </li>
                                    </ul>
                                </li>
                                <li class="toggleShow">


                                    <a href="{% url 'dashboard:dashboard_account_information' %}">
                                        {#                                        <img src="{% static 'dikko/img/cat.png' %}" alt=""/>#}
                                        {{ user.first_name }}
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="profile">

                                        {#                                        <li><a href="{% url 'accounts:logout' %}">خروج</a></li>#}

                                        <li><a href="{% url 'dashboard:dashboard_account_information' %}">پروفایل
                                            کاربری</a></li>

                                        <li><a href="{% url 'accounts:logout' %}">خروج</a></li>
                                    </ul>

                                </li>
                            {% else %}


                                </ul>

                                <div class="header-top-menu">
                                    <ul>
                                        <li class="toggleShow">
                                            <a href="{% url 'cart:cart_home' %}">
                                                <i class="fa fa-shopping-basket"></i>
                                                <span class="number item-count">
                                         <input type="text" style="display: none" id="cartItemCount"
                                                value="{{ request.session.cart_items_count }}">
                                                    {% if  request.session.cart_items_count %}
                                                        {{ request.session.cart_items_count|persian_int }}

                                                    {% else %}
                                                        0{% endif %}
                                        </span>
                                            </a>
                                            <ul class="cart" id="cartList">


                                                <li class='itemLi'>

                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'accounts:login' %}"> ورود به حساب</a></li>
                                        {#                                 <a href="{% provider_login_url 'google' %}#}
                                        <li><a href="{% url 'accounts:signup' %}">ثبت نام کنید</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                    </div>
                </div>
            </div>
            {#        </div>#}
        </div>
        <!-- header-bottom -->
        <div class="header-bottom home2-header-bottom bg-4 ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-10 col-sm-10 col-md-9 navbar-static-top" id="menuNav">
                        <div class="navbar navbar-default ">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                            data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand m-b-5" href="{% url 'home' %}">
                                        <img src="{% static 'rsz_11edited2.png' %}"
                                             alt=""/>
                                    </a>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown menu-large">
                                            <a href="{% url 'dikko:subfield_list' pk='handcrafts' %}"
                                               class="dropdown-toggle" data-toggle="dropdown">صنایع دستی <b
                                                    class="caret"></b></a>
                                            <ul class="dropdown-menu megamenu row">
                                                <li class="col-sm-3">
                                                    <ul>
                                                        <li class="dropdown-header" style="color: #0b0b0b">چرم</li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">مصنوعات چرمی</a></li>
                                                        <li class="disabled"><a href="#">صنایع دستی نوین</a></li>
                                                        <li class="divider"></li>
                                                        <li class="dropdown-header" style="color: #0b0b0b">سفال</li>
                                                        <li><a href="#">کتیبه های سفالی</a></li>
                                                        <li><a href="#">خراطی سنتی</a></li>
                                                        <li class="dropdown-header" style="color: #0b0b0b">مصنوعات فلزی</li>
                                                        <li><a href="#">چاقو سازی</a></li>
                                                        <li><a href="#">مصنوعات کشاورزی</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="{% url 'dikko:product_list' sfield='دست-سازه-های-هنری' slug='دست-سازه-های-هنری' %}">دست سازه های هنری</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-sm-2">
                                                    <ul>
                                                        <li class="dropdown-header" style="color: #0b0b0b">رودوزی سنتی</li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="{% url 'dikko:product_list' sfield='رودوزی-سنتی' slug='گلدوزی' %}">گلدوزی</a>
                                                        </li>
                                                        <li><a href="#">بلوچی دوزی</a></li>
                                                        <li><a href="#">بلوچی دوزی</a></li>
                                                        <li><a href="#">پته دوزی</a></li>
                                                        <li><a href="#">خامه دوزی</a></li>
                                                        <li><a href="">سکه دوزی</a></li>
                                                        <li><a href="">ملیله دوزی</a></li>
                                                        <li><a href="">سنگ دوزی</a></li>
                                                        <li><a href="">پولک دوزی</a></li>
                                                        <li class="divider"></li>
                                                        <li class="dropdown-header" style="color: #0b0b0b">زیورآلات</li>
                                                        <li><a href="#">نگین سازی</a></li>
                                                        <li>
                                                            <a href="{% url 'dikko:product_list' sfield='زیورآلات' slug='سنگ-تراشی' %}">سنگ
                                                                تراشی
                                                            </a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-sm-2">
                                                    <ul>
                                                        <li class="dropdown-header" style="color: #0b0b0b">بافندگی</li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">تابلو بافی</a></li>
                                                        <li><a href="#">جاجیم بافی</a></li>
                                                        <li><a href="#">قالی بافی</a></li>
                                                        <li><a href="#">پارچه بافی</a></li>
                                                        <li><a href="#">گیوه بافی</a></li>
                                                        <li><a href="#">قارت بافی</a></li>
                                                        <li><a href="#">پخل بافی</a></li>
                                                        <li><a href="#">گلیم بافی</a></li>
                                                        <li><a href="#">برک بافی</a></li>
                                                        <li><a href="#">قلاب بافی</a></li>
                                                        <li><a href="#">نمد بافی</a></li>
                                                        <li><a href="#">گلبه بافی</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-sm-2">
                                                    <ul>
                                                        <li class="dropdown-header" style="color: #0b0b0b">نگار گری</li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">آینه کاری</a></li>
                                                        <li><a href="#">قلم زنی</a></li>
                                                        <li class="divider"></li>
                                                        <li class="dropdown-header" style="color: #0b0b0b">حصاربافی</li>
                                                        <li><a href="#">زیلو بافی</a></li>
                                                        <li><a href="#">سبد بافی</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-sm-2">
                                                    {#                                                <ul>#}
                                                    {#                                                    <div class="col-sm-6 col-md-3">#}
                                                    <a href="#" class="thumbnail">
                                                        {#                                                        <img src="https://placehold.it/150x120"/>#}
                                                    </a>
                                                    {#                                                </div>#}
                                                    {#                                                </ul>#}
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown menu-large">
                                            <a href="{% url 'dikko:subfield_list' pk='agriculture' %}"
                                               class="dropdown-toggle" data-toggle="dropdown"> محصولات کشاورزی <b
                                                    class="caret"></b> </a>
                                            <ul class="dropdown-menu megamenu row">
                                                <li class="col-sm-3">
                                                    <ul>
                                                        <li class="dropdown-header" style="color: #0b0b0b">زعفران</li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">زعفران سرگل</a></li>
                                                        <li><a href="#">عفران درهم</a></li>
                                                        <li><a href="#">ریشه زعفران</a></li>
                                                        <li><a href="#">فرآورده های زعفران</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-sm-3">
                                                    <ul>
                                                        <li class="dropdown-header" style="color: #0b0b0b">زرشک</li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">صادراتی</a></li>
                                                        <li><a href="#">درجه 2</a></li>
                                                        <li><a href="#">فرآورده های زرشک</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-sm-3">
                                                    <ul>
                                                        <li class="dropdown-header" style="color: #0b0b0b">عناب</li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">صادراتی</a></li>
                                                        <li><a href="#">درجه 2</a></li>
                                                        <li><a href="#">درجه 3</a></li>
                                                        <li><a href="#">فرآورده های عناب</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-sm-3">
                                                    {#                                                <ul>#}
                                                    {#                                                    <div class="col-sm-6 col-md-3">#}
                                                    <a href="#" class="thumbnail">
                                                        {#                                                        <img src="https://placehold.it/150x120"/>#}
                                                    </a>
                                                    {#                                                </div>#}
                                                    {#                                                </ul>#}
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown menu-large">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> محصولات غذایی <b
                                                    class="caret"></b> </a>
                                            <ul class="dropdown-menu megamenu row">
                                                <li class="col-sm-3">
                                                    <ul>
                                                        <li class="dropdown-header">Glyphicons</li>
                                                        <li><a href="#">Available glyphs</a></li>
                                                        <li class="disabled"><a href="#">How to use</a></li>
                                                        <li><a href="#">Examples</a></li>
                                                        <li class="divider"></li>
                                                        <li class="dropdown-header">Dropdowns</li>
                                                        <li><a href="#">Example</a></li>
                                                        <li><a href="#">Aligninment options</a></li>
                                                        <li><a href="#">Headers</a></li>
                                                        <li><a href="#">Disabled menu items</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-sm-3">
                                                    <ul>
                                                        <li class="dropdown-header">Button groups</li>
                                                        <li><a href="#">Basic example</a></li>
                                                        <li><a href="#">Button toolbar</a></li>
                                                        <li><a href="#">Sizing</a></li>
                                                        <li><a href="#">Nesting</a></li>
                                                        <li><a href="#">Vertical variation</a></li>
                                                        <li class="divider"></li>
                                                        <li class="dropdown-header">Button dropdowns</li>
                                                        <li><a href="#">Single button dropdowns</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-sm-3">
                                                    <ul>
                                                        <li class="dropdown-header">Input groups</li>
                                                        <li><a href="#">Basic example</a></li>
                                                        <li><a href="#">Sizing</a></li>
                                                        <li><a href="#">Checkboxes and radio addons</a></li>
                                                        <li class="divider"></li>
                                                        <li class="dropdown-header">Navs</li>
                                                        <li><a href="#">Tabs</a></li>
                                                        <li><a href="#">Pills</a></li>
                                                        <li><a href="#">Justified</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-sm-3">
                                                    {#                                                <ul>#}
                                                    {#                                                    <div class="col-sm-6 col-md-3">#}
                                                    <a href="#" class="thumbnail">
                                                        {#                                                        <img src="https://placehold.it/150x120"/>#}
                                                    </a>
                                                    {#                                                </div>#}
                                                    {#                                                </ul>#}
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown menu-large">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> عطاری <b
                                                    class="caret"></b> </a>
                                            <ul class="dropdown-menu megamenu row">
                                                <li>
                                                    <div class="col-sm-6 col-md-3">
                                                        <a href="#" class="thumbnail">
                                                            {#                                                            <img src="https://placehold.it/150x120"/>#}
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <a href="#" class="thumbnail">
                                                            {#                                                            <img src="https://placehold.it/150x120"/>#}
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <a href="#" class="thumbnail">
                                                            {#                                                            <img src="https://placehold.it/150x120"/>#}
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <a href="#" class="thumbnail">
                                                            {#                                                            <img src="https://placehold.it/150x120"/>#}
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown menu-large">
                                            <a href="{% url 'dikko:subfield_list' pk='dresses' %}"
                                               class="dropdown-toggle"
                                               data-toggle="dropdown"> پوشاک <b
                                                    class="caret"></b> </a>
                                            <ul class="dropdown-menu megamenu row">
                                                <li class="col-sm-4">
                                                    <ul>
                                                        <a href="{% url 'dikko:handcrafts_dikko_list' slug='لباس-سنتی' %}">
                                                            <li class="dropdown-header">پوشاک سنتی</li>
                                                        </a>
                                                    </ul>
                                                </li>
                                                <li class="col-sm-offset-3">
                                                    <ul>
                                                        <a href="{% url 'dikko:handcrafts_dikko_list' slug='حراجی-لباس' %}">
                                                            <li class="dropdown-header">حراجی پوشاک</li>
                                                        </a>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        {#                                    <li class="dropdown menu-large">#}
                                        {#                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b#}
                                        {#                                                class="caret"></b></a>#}
                                        {#                                        <ul class="dropdown-menu megamenu row">#}
                                        {#                                            <li class="col-sm-3">#}
                                        {#                                                <ul>#}
                                        {#                                                    <li class="dropdown-header">Glyphicons</li>#}
                                        {#                                                    <li><a href="#">Available glyphs</a></li>#}
                                        {#                                                    <li class="disabled"><a href="#">How to use</a></li>#}
                                        {#                                                    <li><a href="#">Examples</a></li>#}
                                        {#                                                    <li class="divider"></li>#}
                                        {#                                                    <li class="dropdown-header">Dropdowns</li>#}
                                        {#                                                    <li><a href="#">Example</a></li>#}
                                        {#                                                    <li><a href="#">Aligninment options</a></li>#}
                                        {#                                                    <li><a href="#">Headers</a></li>#}
                                        {#                                                    <li><a href="#">Disabled menu items</a></li>#}
                                        {#                                                </ul>#}
                                        {#                                            </li>#}
                                        {#                                            <li class="col-sm-3">#}
                                        {#                                                <ul>#}
                                        {#                                                    <li class="dropdown-header">Button groups</li>#}
                                        {#                                                    <li><a href="#">Basic example</a></li>#}
                                        {#                                                    <li><a href="#">Button toolbar</a></li>#}
                                        {#                                                    <li><a href="#">Sizing</a></li>#}
                                        {#                                                    <li><a href="#">Nesting</a></li>#}
                                        {#                                                    <li><a href="#">Vertical variation</a></li>#}
                                        {#                                                    <li class="divider"></li>#}
                                        {#                                                    <li class="dropdown-header">Button dropdowns</li>#}
                                        {#                                                    <li><a href="#">Single button dropdowns</a></li>#}
                                        {#                                                </ul>#}
                                        {#                                            </li>#}
                                        {#                                            <li class="col-sm-3">#}
                                        {#                                                <ul>#}
                                        {#                                                    <li class="dropdown-header">Input groups</li>#}
                                        {#                                                    <li><a href="#">Basic example</a></li>#}
                                        {#                                                    <li><a href="#">Sizing</a></li>#}
                                        {#                                                    <li><a href="#">Checkboxes and radio addons</a></li>#}
                                        {#                                                    <li class="divider"></li>#}
                                        {#                                                    <li class="dropdown-header">Navs</li>#}
                                        {#                                                    <li><a href="#">Tabs</a></li>#}
                                        {#                                                    <li><a href="#">Pills</a></li>#}
                                        {#                                                    <li><a href="#">Justified</a></li>#}
                                        {#                                                </ul>#}
                                        {#                                            </li>#}
                                        {#                                            <li class="col-sm-3">#}
                                        {#                                                <ul>#}
                                        {#                                                    <div class="col-sm-6 col-md-3">#}
                                        {#                                                <a href="#" class="thumbnail">#}
                                        {#                                                    <img src="http://placehold.it/150x120"/>#}
                                        {#                                                </a>#}
                                        {#                                                </div>#}
                                        {#                                                </ul>#}
                                        {#                                            </li>#}
                                        {#                                        </ul>#}
                                        {##}
                                        {#                                    </li>#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="col-xs-2 col-sm-2 col-md-3 ">#}
                    {#                        <a href="{% url 'home' %}">#}
                    {#                            <div class="logo" style="margin-top: 30px">#}
                    {#                                <img src="{% static 'logo_test.png' %}" alt=""/>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
        {#<nav class="navbar navbar-inverse">#}
        {#  <div class="container-fluid">#}
        {#    <div class="navbar-header">#}
        {#      <a class="navbar-brand" href="#">WebSiteName</a>#}
        {#    </div>#}
        {#    <ul class="nav navbar-nav">#}
        {#      <li class="active"><a href="#">Home</a></li>#}
        {#      <li><a href="#">Page 1</a></li>#}
        {#      <li><a href="#">Page 2</a></li>#}
        {#    </ul>#}
        {#    <ul class="nav navbar-nav navbar-right">#}
        {#      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>#}
        {#      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>#}
        {#    </ul>#}
        {#  </div>#}
        {#</nav>#}
        {#    <div class="navbar navbar-default navbar-static-top">#}
        {#        <div class="container">#}
        {#            <div class="navbar-header">#}
        {#                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
        {#                    <span class="icon-bar"></span>#}
        {#                    <span class="icon-bar"></span>#}
        {#                    <span class="icon-bar"></span>#}
        {#                </button>#}
        {#                <a class="navbar-brand" href="#">بق بند</a>#}
        {#            </div>#}
        {#        </div>#}
    </div>
    <!-- header-bottom -->
</header>
<!-- Navbar -->
{% block content %}
    <!-- blog-area end -->
{% endblock %}
<!-- newsletter-area start -->
<div class="newsletter-area ptb-70 bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="newsletter-wrap">
                    <h2>عضویت در خبرنامه</h2>
                    <p>آخرین محصولات و تخفیف های ویژه را از دست ندهید</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="newsletter-wrap">
                    <form id="subscribeForm">
                        <input type="email" id="subscribeEmail" placeholder="ایمیلتو اینجا بنویس ..."/>
                        <button class="btn-style" type="submit">عضو شو</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter-area end -->
<!-- footer area start -->
<footer>
    <div class="footer-area bg-4 ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-widget">
                        <img src="{% static 'rsz_1edited2.png' %}" alt=""/>
                        <h1 style="font-size: 1.143rem;color: white" >فروشگاه اینترنتی بق بند،صنایع دستی خراسان جنوبی</h1>
                        <p style="text-align: justify"> بق بند یک بازار آنلاین و شبکه اجتماعی است برای عرضه محصولات
                            خانگی، کشاورزی،هنری و سنتی استان خراسان‌جنوبی به همراه عرضه پوشاک سنتی و کلاسیک ایرانی؛
                            محصولات خاصی که در فروشگاه‌های اینترنتی کمتر پیدا می‌شود.
                        </p>
                    </div>
                </div>
                {#                <div class="col-md-2 col-sm-3 col-xs-12">#}
                {#                    <div class="footer-widget">#}
                {#                        <h2 class="footer-title">متن سربرگ</h2>#}
                {#                        <ul>#}
                {#                            <li><a href="#">فروشگاههای ما</a></li>#}
                {#                            <li><a href="#">زیرمجموعه</a></li>#}
                {#                            <li><a href="#">آغاز فروش</a></li>#}
                {#                            <li><a href="#">راهنمای عمومی</a></li>#}
                {#                            <li><a href="#">ارسال خوب</a></li>#}
                {#                        </ul>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h2 class="footer-title">دسترسی سریع</h2>
                        <ul>
                            <li><a href="{% url 'contactUs:home' %}">تماس با ما</a></li>
                            <li><a href="{% url 'aboutUs' %}">درباره ما</a></li>
                            <li><a href="{% url 'termsCondition' %}">قوانین و مقررات</a></li>
                            <li><a href="{% url 'complaints:home' %}">ثبت شکایات</a></li>
                        </ul>
                    </div>
                </div>
                {#                <div class="col-md-2 col-sm-3 col-xs-12">#}
                {#                    <div class="footer-widget">#}
                {#                        <h2 class="footer-title">لینک مفید</h2>#}
                {#                        <ul>#}
                {#                            <li><a href="#">نمونه اول</a></li>#}
                {#                            <li><a href="#">نمونه دوم</a></li>#}
                {#                            <li><a href="#">نمونه سوم</a></li>#}
                {#                            <li><a href="#">نمونه چهارم</a></li>#}
                {#                            <li><a href="#">نمونه پنجم</a></li>#}
                {#                        </ul>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h2 class="footer-title">تماس با ما</h2>
                        <ul>
                            <li><i class="fa fa-location-arrow"></i>ایران خراسان جنوبی بیرجند</li>
                            <li class="persian"><i class="fa fa-phone"></i>32438821 056</li>
                            <li><i class="fa fa-envelope"></i>info@boghband.com</li>
                        </ul>
                        <div class="socil-icon">
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/p/BuFmdxLHgKV/?utm_source=ig_share_sheet&igshid=h1zv4rmwhnwa"
                                       target="_blank"><i class="fa fa-instagram"></i></a></li>
                                {#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <img src="https://trustseal.enamad.ir/logo.aspx?id=116961&amp;p=8AgtSmiiJXOg4NtJ" alt=""
                             onclick="window.open(&quot;https://trustseal.enamad.ir/Verify.aspx?id=116961&amp;p=8AgtSmiiJXOg4NtJ&quot;, &quot;Popup&quot;,&quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30&quot;)"
                             style="cursor:pointer" id="8AgtSmiiJXOg4NtJ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom bg-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {#                    <a href="#">علی عزیزی </a>طراحی و اجرا Copyright &copy; 2018#}
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->
<!-- all js here -->
<!-- jquery latest version -->
<script src="{% static 'dikko/js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'dikko/js/bootstrap.min.js' %}"></script>
<!-- owl.carousel.2.0.0-beta.2.4 css -->
<script src="{% static 'dikko/js/owl.carousel.min.js' %}"></script>
<!-- counterup.main.js -->
<script src="{% static 'dikko/js/counterup.main.js' %}"></script>
<!-- jquery.waypoints.min.js -->
<script src="{% static 'dikko/js/jquery.waypoints.min.js' %}"></script>
<!-- jquery.slicknav.min.js -->
<script src="{% static 'dikko/js/jquery.slicknav.min.js' %}"></script>
<!-- jquery-ui js -->
<script src="{% static 'dikko/js/jquery-ui.min.js' %}"></script>
<!-- wow js -->
<script src="{% static 'dikko/js/wow.min.js' %}"></script>
<!-- plugins js -->
<script src="{% static 'dikko/js/plugins.js' %}"></script>
<!-- main js -->
<script src="{% static 'dikko/js/main.js' %}"></script>
<script src="{% static 'dikko/js/jquery.js' %}"></script>
<script src="{% static 'dikko/js/jquery.smartmenus.js' %}"></script>
<script src="{% static 'dikko/js/jquery.smartmenus.bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'dikko/js/persianumber.min.js' %}"></script>

<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'dikko/index/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
{#    <script type="text/javascript" src="{% static 'dikko/index/vendor/animsition/js/animsition.min.js' %}"></script>#}
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'dikko/index/vendor/bootstrap/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'dikko/index/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
{#    <script type="text/javascript" src="{% static 'dikko/index/vendor/select2/select2.min.js' %}"></script>#}
{#    <script type="text/javascript">#}
{#        $(".selection-1").select2({#}
{#            minimumResultsForSearch: 20,#}
{#            dropdownParent: $('#dropDownSelect1')#}
{#        });#}
{#    </script>#}
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'dikko/index/vendor/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dikko/index/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'dikko/index/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'dikko/index/vendor/lightbox2/js/lightbox.min.js' %}"></script>
<script src="{% static 'dikko/index/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'products/sweetalert/sweetalert2.min.js' %}"></script>

<script>


    function persianNumbers() {
        {#$('span').persiaNumber();#}
        {#$('p').persiaNumber();#}
        {#$('li').persiaNumber();#}
    }

    function getentrys(cart_id2) {
        var cart_id = '';
        {% if request.session.cart_id %}
            cart_id ={{ request.session.cart_id }}
        {% endif %}
    console.log(cart_id)
        if (cart_id != '' || cart_id2) {
            if (cart_id2) data = {'cart_id': cart_id2};
            else data = {'cart_id': cart_id};
            $.ajax({
                url: '/cart/get_entry/',
                method: 'GET',
                data: data,
                dataType: 'json',
                success: function (data) {
                    console.log(data[0])
                    var cartList = $('#cartList');
                    cartList.html("")
                    cartList.prepend("<li class='itemLi'></li>")
                    $.each(data, function (index) {
                        var i = index + 1
                        console.log("indexx" + index)
                        if (index == 0) {

                            cartList.prepend("<li ><div class='cat-img item-img'> <img src='/media/" + data[index]['image'] + "' alt=''/ style='width: 50px; height: 50px;'></div>" +
                                "<div class='cat-content item-content'><a href='" + data[index]['url'] + "'>" + data[index]['title'] + "</a>" +
                                "<p>" + data[index]['price'] + " تومان </p><p>" + data[index]['quantity'] + " عدد </p></div></li><li class='next" + i + "'></li>")

                        } else {

                            var id = 'next' + index;
                            console.log(id);
                            var next = $('.' + id + '');
                            next.html("<div class='cat-img item-img'> <img src='/media/" + data[index]['image'] + "' alt=''/ style='width: 50px; height: 50px;'></div>" +
                                "<div class='cat-content item-content'><a href='" + data[index]['url'] + "'>" + data[index]['title'] + "</a>" +
                                "<p>" + data[index]['price'] + " تومان </p><p>" + data[index]['quantity'] + " عدد </p></div>")
                            cartList.prepend("<li class='next" + i + "'></li>")
                        }

                    });
                    if (data.length > 0) {
                        $('.itemLi').html("<a href='{% url 'cart:cart_home' %}'><button>سبد خرید</button></a> <a href='{% url 'shipping:home' %}'><button class='checkout-btn'>پرداخت</button></a>");
                        {#cartList.prepend("<li> <strong>مجموع<span class='pull-right total' id='cart_total'></span></strong> <a href='{% url 'cart:cart_home' %}'><button>سبد خرید</button></a> <a href='{% url 'shipping:home' %}'><button class='checkout-btn'>پرداخت</button></a> </li>");#}
                        var cartTotal = $('#cart_total');
                        cartTotal.html(data[0]['total']);
                    } else {
                        $('.itemLi').html("سبد خرید خالی است!")
                    }

                    persianNumbers();

                }

            })
        }
    }

    $(document).ready(function () {
        getentrys();

    });
    $(document).ready(function () {
        var productform = $(".form-product-ajax");
        var btn = $("#btn10")
        if (productform === '') {
            productform = $(".cart-item-remove-form").find(".form-product-ajax")

        }


        productform.submit(function (event) {
            event.preventDefault();
            var thisForm = $(this);
            {#                    var actionEndpoint=thisForm.attr("action");#}
            var actionEndpoint = thisForm.attr("data-endpoint");

            var httpMethod = thisForm.attr("method");
            var formData = thisForm.serialize();
            var input = thisForm.find(".product_name");
            if (input.val() != undefined) {
                {#swal(input.val(), "به سبد خرید اضافه شد", "success");#}
                swal({
                    title: input.val(),
                    text: "به سبد خرید اضافه شد",
                    type: 'success',

                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'مشاهده سبد خرید',
                    cancelButtonText: "بسیار خب"
                }).then(function () {
                    window.location.href = "https://boghband.com/cart";
                })
            }


            $.ajax({
                url: "/cart/update/",
                method: "POST",
                data: formData,
                success: function (data) {
                    $('#add_to_cart_modal').modal('show');
                    var cartCountItems = $(".item-count");
                    cartCountItems.text(data.cartItemCount);
                    getentrys(data.cart_id);

                    if (window.location.href.indexOf("cart") != -1) {
                        location.reload();
                        {#                        var productform = $(".form-product-ajax");#}
                        {#                        console.log(productform)#}
                    }
                },
                error: function (error) {
                }
            })

        })
    });

    {% if user.is_authenticated %}

        $(document).ready(function () {

            function load_unseen_notifications() {


                var ajax_url = '/notifications/api';
                var ajax_method = 'GET';
                var data = {};
                var notifcount = $("#notifications_count");
                var notificationlist = $("#notifications_list");
                $.ajax({
                    url: ajax_url,
                    method: ajax_method,
                    data: data,
                    success: function (data) {
                        notifcount.html(data['count'])
                        notificationlist.html("");
                        $.each(data['orders'], function (index, value) {
                            {#                            console.log(value[2].fields);#}
                            var parsjson = jQuery.parseJSON(value);
                            var fields = parsjson[0].fields;
                            notificationlist.prepend("" +
                                "<li><div class=\"item-content\"><a href=\"{% url 'dashboard:dashboard_notifications_orders' %}\"><span>سفارش جدید پرداخت شد</span><span>" + fields.timestamp + "</span></a></div></li>")
                        });
                        $.each(data['comments'], function (index, value) {
                            var parsjson = jQuery.parseJSON(value);
                            var fields = parsjson[0].fields;
                            notificationlist.prepend("<li><div class=\"item-content\"><a href=\"{% url 'dashboard:dashboard_notifications_comments' %}\"><span>نظر جدید ثبت شد</span><span>" + fields.timestamp + "</span></a></div></li>")
                        });
                        if (data['notif']) {
                            notificationlist.prepend("<li><div class=\"item-content\"><a href=\"{% url 'dashboard:dashboard_notifications_list' %}\"><span>اعلانیه جدید از طرف بق بند</span></a></div></li>")
                        }
                        persianNumbers();

                    }
                });
            }

            load_unseen_notifications()
            $(document).on('click', '.dropdown-toggle', function () {


                load_unseen_notifications();

            });


        });


    {% endif %}
    $(document).ready(function () {
        form = $('#subscribeForm');
        form.submit(function (event) {
            event.preventDefault();
            var email = $('#subscribeEmail').val()
            if (email != '') {
                var data = {'email': email}
                $.ajax({
                    url: '/subscribers/',
                    data: data,
                    method: 'GET',
                    success: function (data) {
                        if (data['valid'] === 1) {
                            swal('تبریک!', "از این پس تخفیف های ویژه بق بند را از دست نمی دهید", "success", "sdsd");
                        } else swal('کاربر عزیز', "شما در حال حاضر عضو خبرنامه هستید", "error");
                    }
                })

            }
        });
    });


    jQuery(document).ready(function () {
        $(".toggleShow").hover(function () {
            $('#menuNav').removeClass("navbar-static-top")
        }, function () {
            $('#menuNav').addClass("navbar-static-top")
        })
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop().fadeIn("fast");
            },
            function () {
                $('.dropdown-menu', this).stop().fadeOut("fast");
            });
    });


    // document ready

    $(document).ready(function () {
        persianNumbers();
    });

</script>
{% block javascript %}

{% endblock %}
</body>

</html>