{% extends 'base.html' %}
{% load staticfiles %}
{% load custome_tags %}
{% load filter_numbers %}
{% block stylesheet %}
    <!-- Start WOWSlider.com HEAD section -->
    <link rel="stylesheet" type="text/css" href="{% static 'dikko/slider/engine/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dikko/index/css/responsive.css' %}"/>
    <script type="text/javascript" src="{% static 'dikko/slider/engine/jquery.js' %}"></script>

    <!-- End WOWSlider.com HEAD section -->
{% endblock %}
{% block content %}

    <!-- hero section start -->
    {#    <section class="hero-area opacity-bg">#}
    {#        <div class="table">#}
    {#            <div class="table-cell">#}
    {#                <div class="container">#}
    {#                    <div class="row">#}
    {#                        <div class="col-xs-12">#}
    {#                            <div class="hero-wrap text-center">#}
    {#                                <h2>به بق بند خوش آمدید</h2>#}
    {#                                <h3>صنایع دستی خراسان جنوبی</h3>#}
    {#                                <p>به راحتی استفاده کنید و لذت ببرید</p>#}
    {#                                <ul>#}
    {#                                    <li><a href="#">جزئیات را ببنید</a></li>#}
    {##}
    {#                                    {% if user.is_authenticated %}#}
    {#                                        {% check_seller user as pro %}#}
    {#                                        {% if pro.is_seller %}#}
    {#                                            <li><a href="{% url 'dashboard:dashboard_dikko_management' %}">مدیریت#}
    {#                                                دیکو</a></li>#}
    {#                                        {% else %}#}
    {#                                            <li><a href="{% url 'accounts:signup_seller' %}">فروشنده شوید</a></li>#}
    {#                                        {% endif %}#}
    {##}
    {##}
    {##}
    {##}
    {#                                    {% else %}#}
    {#                                        <li><a href="{% url 'accounts:signup' %}">فروشنده شوید</a></li>#}
    {##}
    {##}
    {#                                    {% endif %}#}
    {##}
    {##}
    {#                                </ul>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    <!-- Slide1 -->
    {#    		<section class="slide1" style="direction: ltr">#}
    {#		<div class="wrap-slick1" style="direction: ltr">#}
    {#			<div class="slick1" style="direction: ltr">#}
    {#				<div class="item-slick1 item1-slick1" style="background-image: url(images/master-slide-07.jpg);">#}
    {#					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">#}
    {#						<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">#}
    {#							Leather Bags#}
    {#						</h2>#}
    {##}
    {#						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="fadeInDown">#}
    {#							New Collection 2018#}
    {#						</span>#}
    {##}
    {#						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">#}
    {#							<!-- Button -->#}
    {#							<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">#}
    {#								Shop Now#}
    {#							</a>#}
    {#						</div>#}
    {#					</div>#}
    {#				</div>#}
    {##}
    {#				<div class="item-slick1 item2-slick1" style="background-image: url(images/master-slide-06.jpg);">#}
    {#					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">#}
    {#						<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="rollIn">#}
    {#							Leather Bags#}
    {#						</h2>#}
    {##}
    {#						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="lightSpeedIn">#}
    {#							New Collection 2018#}
    {#						</span>#}
    {##}
    {#						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">#}
    {#							<!-- Button -->#}
    {#							<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">#}
    {#								Shop Now#}
    {#							</a>#}
    {#						</div>#}
    {#					</div>#}
    {#				</div>#}
    {##}
    {#				<div class="item-slick1 item3-slick1" style="background-image: url(images/master-slide-02.jpg);">#}
    {#					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">#}
    {#						<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="rotateInDownLeft">#}
    {#							Leather Bags#}
    {#						</h2>#}
    {##}
    {#						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="rotateInUpRight">#}
    {#							New Collection 2018#}
    {#						</span>#}
    {##}
    {#						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">#}
    {#							<!-- Button -->#}
    {#							<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">#}
    {#								Shop Now#}
    {#							</a>#}
    {#						</div>#}
    {#					</div>#}
    {#				</div>#}
    {##}
    {#			</div>#}
    {#		</div>#}
    {#	</section>#}


    <!-- Home Slider -->

    <!-- Start WOWSlider.com BODY section -->
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><img src="{% static 'dikko/index/images/handicraft.jpg' %}" alt="banner-03" title="banner-03"
                         id="wows1_0"/>
                </li>
                <li><img src="{% static 'dikko/index/images/dresss.jpg' %}" alt="slideshow html code" title="banner-05"
                         id="wows1_1"/></li>
                <li><img src="{% static 'dikko/index/images/handy2.jpg' %}" alt="banner-08" title="banner-08"
                         id="wows1_2"/></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title="banner-03"></a>
                <a href="#" title="banner-05"></a>
                <a href="#" title="banner-08"></a>
            </div>
        </div>
        <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery slideshow</a>
            by WOWSlider.com v8.8
        </div>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="{% static 'dikko/slider/engine/wowslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'dikko/slider/engine/script.js' %}"></script>
    <!-- End WOWSlider.com BODY section -->


    <!-- search-area start -->
    <div class="search-area ptb-70 bg-3">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <div class="search-wrap text-center">
                        <h3>بیش از{{ products.count|persian_int }}محصول در بق بند</h3>
                        <form action="{% url 'search:search_product' %}" class="m-t-20">
                            <input type="text" placeholder="کلمه مورد نظرتو بنویس ..." name="q"/>
                            <select name="select" class="select-one">
                                <option value="All">همه دسته بندی ها</option>
                                <option value="صنایع دستی">صنایع دستی</option>
                                <option value="محصولات کشاورزی">محصولات کشاورزی</option>
                                <option value="محصولات غذایی">محصولات غذایی</option>
                                <option value="عطاری">عطاری</option>
                                <option value="پوشاک محلی">پوشاک محلی</option>
                                <option value="پکیج هدیه">پکیج هدیه</option>
                            </select>

                            <button class="btn-style" type="submit">جستجو</button>
                            {#								<p><span>4,57,808</span> اعضای جامعه</p>#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- search-area end -->

    <!-- featured-prodcuts-area start -->

    <div class="featured-prodcuts-area ptb-70 bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <div class="section-title text-center">
                        <h2>سرکشی در دیکو های مختلف</h2>
                        <p> صنایع دستی اصیل خراسان جنوبی را در دیکو های مختلف ببینید </p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="wrap-slick2" style="direction: ltr">
                    <div class="slick2">


                        {% for obj in dikko_s %}
                            {% for o in obj %}
                                <div class="block1 hov-img-zoom pos-relative m-b-30 p-l-15 p-r-15">
                                    <img src="{{ o.image.url }}" alt="IMG-BENNER">

                                    <div class="block1-wrapbtn w-size2">
                                        <!-- Button -->
                                        <a href="{% url 'dikko:product_list' sfield=o.sfield.all.first.slug slug=o.slug %}"
                                           class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                                            {{ o }}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}

                    </div>
                </div>

                {#                <div class="col-xs-12 text-center">#}
                {#                    <a href="#" class="btn-style"> بیشتر ببینید </a>#}
                {#                </div>#}
            </div>
        </div>
    </div>
    <!-- featured-prodcuts-area end -->

    <!-- our-project-area start -->
    <!-- New Arrivals -->

    <div class="new_arrivals">
        <div class="container">
            <div class="row">
                {#				<div class="col text-center">#}
                <div class="section-title text-center m-t-50">
                    <h2>آخرین تولیدات استان خراسان جنوبی</h2>
                </div>
                {#				</div>#}
            </div>
            <div class="row align-items-center">
                <div class="col text-center">
                    <div class="new_arrivals_sorting">
                        <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked"
                                data-filter="*">همه
                            </li>
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                                data-filter=".handcrafts">صنایع دستی
                            </li>
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                                data-filter=".dress">پوشاک
                            </li>
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                                data-filter=".accessories">محصولات کشاورزی
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product-grid"
                         data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>


                        <!-- Product 2 -->

{#                        {% if request.user.is_admin %}#}
                            {% for obj in mostViewed %}
                                {% if obj.is_active and obj.available_quantity > 0 %}
                                    {% for dikko in obj.dikko_set.all %}
                                        {% if dikko.field.all.first.name == 'صنایع دستی' %}
                                            <div class="product-item handcrafts">

                                                {% include 'dikko/_product.html' %}
                                            </div>
                                        {% elif dikko.field.all.first.name == 'پوشاک' %}
                                            <div class="product-item dress">

                                                {% include 'dikko/_product.html' %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
{#                        {% endif %}#}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our-project-area end -->

    <!-- funfact-area start -->
    {#    <div class="funfact-area ptb-70 bg-img-1 opacity-bg">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-3 col-sm-3 col-xs-6">#}
    {#                    <div class="funfact-wrap text-center">#}
    {#                        <i class="fa fa-twitter"></i>#}
    {#                        <span class="counter">3,891</span>#}
    {#                        <p>پسند</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-3 col-sm-3 col-xs-6">#}
    {#                    <div class="funfact-wrap text-center">#}
    {#                        <i class="fa fa-envelope"></i>#}
    {#                        <span class="counter">891</span>#}
    {#                        <p>دنبال کننده</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-3 col-sm-3 col-xs-6">#}
    {#                    <div class="funfact-wrap text-center">#}
    {#                        <i class="fa fa-pinterest-p"></i>#}
    {#                        <span class="counter">800</span>#}
    {#                        <p>طرفدار</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-3 col-sm-3 col-xs-6">#}
    {#                    <div class="funfact-wrap text-center">#}
    {#                        <i class="fa fa-facebook"></i>#}
    {#                        <span class="counter">2,79,870</span>#}
    {#                        <p>موضووع</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- funfact-area end -->#}
    {##}
    {#    <!-- latest-author-area start -->#}
    {#    <div class="latest-author-area ptb-70 bg-2">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-8 col-md-offset-2 col-xs-12">#}
    {#                    <div class="section-title text-center">#}
    {#                        <h2>آخرین طراحان</h2>#}
    {#                        <p> اینها یک بار تصمیم گرفتند و به موفق ترین آدمها تبدیل شدند </p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="row">#}
    {#                <div class="col-xs-12">#}
    {#                    <div class="author-wrap">#}
    {#                        <div class="author-img">#}
    {#                            <img src="{% static  'dikko/img/author/1.jpg' %}" alt="ohhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh"/>#}
    {#                        </div>#}
    {#                        <div class="author-info">#}
    {#                            <h3><a href="#">نویسنده اول</a></h3>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="author-wrap">#}
    {#                        <div class="author-img">#}
    {#                            <img src="{% static  'dikko/img/author/2.jpg' %}" alt=""/>#}
    {#                        </div>#}
    {#                        <div class="author-info">#}
    {#                            <h3><a href="#">نویسنده دوم</a></h3>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="author-wrap">#}
    {#                        <div class="author-img">#}
    {#                            <img src="{% static  'dikko/img/author/3.jpg' %}" alt=""/>#}
    {#                        </div>#}
    {#                        <div class="author-info">#}
    {#                            <h3><a href="#">نویسنده سوم</a></h3>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="author-wrap">#}
    {#                        <div class="author-img">#}
    {#                            <img src="{% static  'dikko/img/author/4.jpg' %}" alt=""/>#}
    {#                        </div>#}
    {#                        <div class="author-info">#}
    {#                            <h3><a href="#">نویسنده چهارم</a></h3>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="author-wrap">#}
    {#                        <div class="author-img">#}
    {#                            <img src="{% static  'dikko/img/author/5.jpg' %}" alt=""/>#}
    {#                        </div>#}
    {#                        <div class="author-info">#}
    {#                            <h3><a href="#">نویسنده پنجم</a></h3>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="author-wrap">#}
    {#                        <div class="author-img">#}
    {#                            <img src="{% static  'dikko/img/author/6.jpg' %}" alt=""/>#}
    {#                        </div>#}
    {#                        <div class="author-info">#}
    {#                            <h3><a href="#">نویسنده ششم</a></h3>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-xs-12 text-center">#}
    {#                    <a href="#" class="btn-style">بیشتر بشناس </a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- latest-author-area end -->#}
    {##}
    {#    <!-- salling area start -->#}
    {#    <div class="salling-area clear">#}
    {#        <div class="salling-wrap">#}
    {#            <i class="fa fa-tags"></i>#}
    {#            <h2>کسب و کارت رو رونق بده</h2>#}
    {#            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>#}
    {#            <a href="#">برو به فروشگاه</a>#}
    {#        </div>#}
    {#        <div class="salling-wrap">#}
    {#            <i class="fa fa-shopping-cart"></i>#}
    {#            <h2>همین حالا شروع کن</h2>#}
    {#            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>#}
    {#            <a href="#">فروشت رو شروع کن</a>#}
    {#        </div>#}
    {#    </div>#}
    <!-- salling area end -->

    <!-- blog-area start -->
    {#    <div class="blog-area ptb-70 bg-2">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-8 col-md-offset-2 col-xs-12">#}
    {#                    <div class="section-title text-center">#}
    {#                        <h2>از وبلاگ</h2>#}
    {#                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="row">#}
    {#                <div class="col-md-4 col-sm-6 col-xs-12">#}
    {#                    <div class="blog-wrap">#}
    {#                        <div class="blog-img">#}
    {#                            <img src="{% static 'dikko/img/blog/1.jpg' %}" alt=""/>#}
    {#                        </div>#}
    {#                        <div class="blog-info">#}
    {#                            <a href="#">چگونه یک طراح خلاق باشیم؟؟</a>#}
    {#                            <div class="blog-meta">#}
    {#                                <span> توسط <a href="#"><b>فرهاد</b></a> در <a href="#"><b> خلاقیت </b></a></span>#}
    {#                                <span>12/3/1396</span>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-4 col-sm-6 col-xs-12">#}
    {#                    <div class="blog-wrap">#}
    {#                        <div class="blog-img">#}
    {#                            <img src="{% static 'dikko/img/blog/2.jpg' %}" alt=""/>#}
    {#                        </div>#}
    {#                        <div class="blog-info">#}
    {#                            <a href="#">چرا رنگ بندی مشتری را سرگرم نیمکند؟</a>#}
    {#                            <div class="blog-meta">#}
    {#                                <span> توسط <a href="#"><b>فرهاد</b></a> در <a href="#"><b> خلاقیت </b></a></span>#}
    {#                                <span>12/3/1396</span>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-4 col-sm-6 col-xs-12">#}
    {#                    <div class="blog-wrap">#}
    {#                        <div class="blog-img">#}
    {#                            <img src="{% static 'dikko/img/blog/3.jpg' %}" alt=""/>#}
    {#                        </div>#}
    {#                        <div class="blog-info">#}
    {#                            <a href="#">شروع یک تحول 50 ساله با ... ؟</a>#}
    {#                            <div class="blog-meta">#}
    {#                                <span> توسط <a href="#"><b>فرهاد</b></a> در <a href="#"><b> خلاقیت </b></a></span>#}
    {#                                <span>12/3/1396</span>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}

{% block javascript %}
    <script src="{% static 'dikko/index/vendor/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'dikko/index/js/custom-isotope.js' %}"></script>



    <script>
        // Instantiate the Bootstrap carousel
        $('.multi-item-carousel').carousel({
            interval: false
        });

        // for every slide in carousel, copy the next slide's item in the slide.
        // Do the same for the next, next item.
        $('.multi-item-carousel .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            if (next.next().length > 0) {
                next.next().children(':first-child').clone().appendTo($(this));
            } else {
                $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
            }
        });
    </script>
{% endblock %}