{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<!-- content page -->
	<section class="p-t-20 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="hov-img-zoom">
						<img src="{% static '1.png' %}" alt="IMG-ABOUT">
					</div>
				</div>

				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						قوانین و مقررات
					</h3>

					<p class="p-b-28" style="text-align: justify;">
                        شرایط و قوانین استفاده از خدمات فروشگاه اینترنتی بق بند:

کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات فروشگاه اینترنتی بق بند به دقت ملاحظه فرمایید.
ورود کاربران به وب‏‌سایت فروشگاه اینترنتی بق بند و ثبت سفارش در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین فروشگاه اینترنتی بق بند از سوی کاربر است.
لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.
<br>
قوانین عمومی:
                        <br>
توجه داشته باشید کلیه اصول و رویه‏‌های فروشگاه اینترنتی بق بند منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و خدمات فروشگاه اینترنتی بق بند تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می‏‌کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است.
<br>
تعریف مشتری یا کاربر:
                        <br>
مشتری یا کاربر به شخصی گفته می‌شود که با اطلاعات کاربری خود که در فرم ثبت نام درج کرده است، به ثبت سفارش یا هرگونه استفاده از خدمات فروشگاه اینترنتی بق بند اقدام نماید.
<br>
ارتباطات الکترونیکی:
                        <br>
هنگامی که شما از خدمات فروشگاه اینترنتی بق بند استفاده می‏‌کنید، سفارش اینترنتی خود را ثبت یا خرید می‏‌کنید و یا به فروشگاه اینترنتی بق بند ایمیل می‏‌زنید، این ارتباطات به صورت الکترونیکی انجام می‏‌شود و در صورتی که درخواست شما با رعایت کلیه اصول و رویه‏‌ها باشد، شما موافقت می‌‏کنید که فروشگاه اینترنتی بق بند به صورت الکترونیکی (از طریق پست الکترونیکی )به درخواست شما پاسخ دهد.
همچنین جهت اطلاع رسانی رویدادها، خدمات و یا پروموشن‌ها، امکان دارد فروشگاه اینترنتی بق بند برای اعضای وب سایت ایمیل ارسال نماید. در صورتی که کاربران تمایل به دریافت اینگونه ایمیل ها نداشته باشند، می‌توانند عضویت دریافت خبرنامه فروشگاه اینترنتی بق بند را در پروفایل خود لغو کنند.
<br>
سیاست‏‌های رعایت حریم شخصی:
                        <br>
فروشگاه اینترنتی بق بند به اطلاعات خصوصی اشخاصى که از خدمات سایت استفاده می‏‌کنند، احترام گذاشته و از آن محافظت می‏‌کند.
فروشگاه اینترنتی بق بند متعهد می‏‌شود در حد توان از حریم شخصی شما دفاع کند و در این راستا، تکنولوژی مورد نیاز برای هرچه مطمئن‏‌تر و امن‏‌تر شدن استفاده شما از سایت را، توسعه دهد. در واقع با استفاده از سایت فروشگاه اینترنتی بق بند ، شما رضایت خود را از این سیاست نشان می‏‌دهید.
همه مطالب در دسترس از طریق هر یک از خدمات فروشگاه اینترنتی بق بند ، مانند لوگو، علائم تجاری، متن، توضیحات، گرافیک، آرم، تصاویر و کپی، داده‌ها و کلیه محتوای تولید شده توسط فروشگاه اینترنتی بق بند جزئی از اموال فروشگاه اینترنتی بق بند محسوب می‏‌شود و حق استفاده و نشر تمامی مطالب موجود و در دسترس در انحصار فروشگاه اینترنتی بق بند است و هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای فروشگاه اینترنتی بق بند محفوظ می‏‌دارد.
<br>
ثبت، پردازش و ارسال سفارش:
                        <br>
روز کاری به معنی روز شنبه تا پنج شنبه هر هفته، به استثنای تعطیلات عمومی در ایران است و کلیه سفارش‏‌های ثبت شده در طول روزهای کاری و اولین روز پس از تعطیلات پردازش می‌‏شوند.
فروشگاه اینترنتی بق بند به مشتریان خود در 7 روز هفته و 24 ساعت در روز امکان ثبت سفارش می‌‏دهد ولیکن  از ساعت 10 صبح الی 18 بعد از ظهر روزهای کاری ، امکان پاسخگویی و پیگیری و ارسال سفارشات میباشد.
کلیه سفارش‌‏های ثبت شده در سایت فروشگاه اینترنتی بق بند به وسیله ارسال کد سفارش و پیش فاکتور از طریق ایمیل،  در صف پردازش قرار می‏‌گیرند فروشگاه اینترنتی بق بند همواره در ارسال و تحویل کلیه سفارش‌‏های ثبت شده، نهایت دقت و تلاش خود را می‏‌نماید. با وجود این، در صورتی که موجودی محصولی در فروشگاه اینترنتی بق بند به پایان برسد، حتی پس از اقدام مشتری به سفارش‌‏گذاری، حق کنسل کردن آن سفارش و یا استرداد وجه سفارش برای فروشگاه اینترنتی بق بند محفوظ است و یا مشتری می‏‌تواند به جای کالای به اتمام رسیده،  محصول دیگری را جایگزین کند.
فروشگاه اینترنتی بق بند مجاز است بدون اطلاع قبلی نسبت به توقف سفارش‌‏گیری جدید، اقدام و فروش خود را متوقف کند و کلیه سفارش‌‏های ثبت شده قبل از توقف سفارش‌‏گیری، پردازش و ارسال می‌‏شود. حق قطع فروش کلیه و یا بخشی از محصولات به هر دلیلی مانند اتمام موجودی کالا بدون اطلاع قبلی، برای فروشگاه اینترنتی بق بند محفوظ است.
					</p>

{#					<div class="bo13 p-l-29 m-l-9 p-b-10">#}
{#						<p class="p-b-11">#}
{#							Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.#}
{#						</p>#}
{##}
{#						<span class="s-text7">#}
{#							- Steve Job’s#}
{#						</span>#}
{#					</div>#}
				</div>
			</div>
		</div>
	</section>
{% endblock %}