.bg-account {
    height: 400px;
   animation: slide 50s linear infinite;
  background-image: url("./img/top-header3.png"); }

.breadcumb-account h2{
	text-align: center;
	font-weight:800;
	color:#fff;
}
.breadcumb-account p {
	text-align: center;
	font-weight: 400;
    margin-top: 20px;
	color:#fff;
}
@-webkit-keyframes slide {
  from {
    background-position: 0 0; }
  to {
    background-position: -4000px 0; } }
.img-bottom {
  position: relative;
  display: block;
  margin: 100px auto 0;
  }
.dashboard{

    overflow:auto;
}
.c1{
   float:right;

}
.c1right{
    width:300px;
}
.c2{
    float: right;
}
.sidenav {
    margin-top: 30px;
    float:right;
    width:15%;
    /*background-color: #ffffff;*/
}
.main{
				float:left;
				width:80%;
				background-color: lightgrey;
			}


label.control-label {
  color: #888da8; }

textarea {
  min-height: 132px; }

.form-group.label-floating textarea {
  padding: 1.3rem 1.1rem .2rem; }

input, .form-control {
  color: #515365;
  line-height: inherit;
  font-size: .875rem; }

.label-floating.has-success:after {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  font-size: 9px;
  background-color: #08ddc1;
  color: #fff;
  text-align: center;
  right: 20px;
  top: 50%;
  margin-top: -10px; }

.has-success .form-control-success,
.has-error .form-control-danger {
  background-image: none; }

.form-group.with-icon-right .form-control, .form-group.with-icon-right input, .form-group.with-icon-right textarea {
  padding-right: 60px; }

.label-floating .form-control, .label-floating input, .label-floating select {
  padding: 1.5rem 1.1rem .5rem;
  line-height: 1.75; }

.label-floating textarea.form-control {
  padding: 1.5rem 1.1rem .2rem; }

.label-floating.with-icon .form-control, .label-floating.with-icon input, .label-floating.with-icon textarea {
  padding-left: 70px; }

.form-group.has-error:after {
  content: '\f00d';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  background-color: #f92552;
  color: #fff;
  font-size: 9px;
  right: 20px;
  top: 50%;
  margin-top: -10px; }

select.form-control {
  padding-left: .875rem; }

.form-group.with-icon:after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  background-color: #e6ecf5;
  top: 0;
  left: 50px; }

.form-group.with-icon i, .form-group.with-icon svg {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 50px;
  text-align: center;
  line-height: 3.5rem;
  font-size: 20px; }

.form-group.with-icon input {
  padding-left: 70px; }

.form-group.with-button button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 35px;
  text-align: center;
  line-height: 100%;
  color: #fff;
  fill: #fff;
  background-color: #d7d9e5;
  border: none; }

.form-group.with-button input {
  padding-right: 50px;
  padding-left: 15px; }

.label-floating.with-icon label.control-label,
.label-placeholder.with-icon label.control-label {
  left: 70px; }

.date-time-picker input {
  position: relative;
  z-index: 5; }

.input-group-addon {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  height: 100%;
  padding: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .input-group-addon svg {
    fill: #9a9fbf;
    width: 22px; }

.custom-control-description {
  padding-left: 7px;
  color: #888da8;
  line-height: 2; }

.tooltip-inner {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 500; }

.tooltip-secondary .tooltip-inner {
  background-color: #3f4257; }

.tooltip-primary .tooltip-inner {
  background-color: #ff5e3a; }

.tooltip-completed .tooltip-inner {
  background-color: #08ddc1; }

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



.ui-block {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e6ecf5;
  margin-bottom: 15px; }
  .ui-block .ui-block-title:last-child {
    border-bottom: 0; }

.ui-block-title {
  padding: 23px 25px 18px;
  line-height: 1;
  border-bottom: 1px solid #e6ecf5;
  border-top: 1px solid #e6ecf5;
  display: table;
  width: 100%;
  position: relative;
  border-radius: 5px 5px 0 0; }
  .ui-block-title .more {
    padding-left: 25px;
    text-align: right;
    width: 16px; }
  .ui-block-title > * {
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle; }
  .ui-block-title.ui-block-title-small {
    padding: 10px 25px; }
    .ui-block-title.ui-block-title-small .title {
      font-size: 9px;
      text-transform: uppercase;
      color: #9a9fbf; }
  .ui-block-title:first-child {
    border-top: none; }
  .ui-block-title .btn {
    display: inline-block;
    margin-bottom: 0; }
    .ui-block-title .btn + * {
      margin-left: 20px; }
  .ui-block-title.inline-items .more {
    float: right;
    margin-top: 6px;
    padding-left: 0; }
  .ui-block-title + .ui-block-title {
    border-bottom: none; }
  .ui-block-title .icon-add {
    margin-right: 0; }

#accordion + .ui-block-title {
  border-top: none;
  border-bottom: none; }

.ui-block-content {
  padding: 24px 23px 23px; }




.notification-list {
  margin-bottom: 0; }
  .notification-list .selectize-dropdown-content > *, .notification-list li {
    padding: 25px;
    border-bottom: 1px solid #e6ecf5;
    display: block;
    position: relative;
    transition: all .3s ease; }
    .notification-list .selectize-dropdown-content > * > *, .notification-list li > * {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle; }
    .notification-list .selectize-dropdown-content > *:hover, .notification-list li:hover {
      background-color: #fafbfd; }
      .notification-list .selectize-dropdown-content > *:hover .more, .notification-list li:hover .more {
        opacity: 1; }
    .notification-list .selectize-dropdown-content > *.un-read, .notification-list li.un-read {
      background-color: #f7f9fc; }
      .notification-list .selectize-dropdown-content > *.un-read .notification-icon, .notification-list li.un-read .notification-icon {
        color: #9da2c1;
        fill: #9da2c1; }
  .notification-list .selectize-dropdown-content > * {
    cursor: pointer; }
    .notification-list .selectize-dropdown-content > *:last-child {
      border-bottom: none; }
  .notification-list .notification-friend {
    display: inline-block; }
  .notification-list .comment-photo {
    margin: 30px 0 0 60px;
    max-width: 280px;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .notification-list .comment-photo span {
      background-color: #f5f7fb;
      padding: 0 15px; }
  .notification-list .author-thumb {
    height: 40px;
    width: 40px; }
  .notification-list .notification-event {
    padding-left: 15px; }
  .notification-list .notification-date {
    font-size: 11px;
    display: block;
    margin-top: 5px; }
  .notification-list .notification-link {
    color: #ff5e3a; }
  .notification-list .notification-icon {
    color: #d7d9e5;
    fill: #d7d9e5;
    float: right;
    margin-top: 10px; }
    .notification-list .notification-icon svg {
      width: 22px;
      height: 20px; }
  .notification-list .more {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 10px;
    color: #d6d9e6;
    opacity: 0; }
    .notification-list .more i + i {
      margin-left: 5px; }
    .notification-list .more svg + i {
      margin-left: 5px; }
    .notification-list .more i + svg {
      margin-left: 5px; }
    .notification-list .more svg + svg {
      margin-left: 5px; }
  .notification-list.chat-message {
    background-color: transparent; }

.notification-friend {
  margin-bottom: 0; }