{% extends 'base.html' %}
{% load staticfiles %}
{% load filter_numbers %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'shipping/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'carts/css/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'carts/css/cart.css' %}">
{% endblock %}
{% block content %}
    <section>

        <nav style="direction: ltr">
            <ol class="cd-multi-steps text-top">
                <li class="visited"><em>تایید و ارسال</em></li>
                <li class="current"><em>پرداخت</em></li>
                <li><em>اطلاعات آدرس</em></li>
                <li><em>سبد خرید</em></li>

            </ol>
        </nav>
    </section>

    <!-- checkout-area start -->
    <div class="checkout-area ptb-70 bg-2">
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            <div class="row">

                    <div class="col-md-8 col-sx-12">
                        <div class="shopping-cart">
                            <div class="title">تایید نهایی و پرداخت</div>
                            <div class="item">
                                <div class="checkout-form">
                                    <p>آدرس ارسال:</p>
                                    <span>{{ order.address.state }} {{ order.address.city }} {{ order.address.address }}</span>
                                    <br>
                                    <span>کدپستی: {{ order.address.postal_code }} {{ order.address.receiver_name }} شماره تماس: {{ order.address.receiver_phone_number }}</span>
                                    </div>
                            </div>
                            <div class="checkout-form">
                                <form method="post" action="https://pep.shaparak.ir/gateway.aspx">
                                    {% csrf_token %}
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <input name="payMethod" type="hidden" value="1">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapseOne" aria-expanded="true"
                                                       aria-controls="collapseOne">
                                                        پرداخت آنلاین
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                                 aria-labelledby="headingOne">
                                                <img src="{% static 'pep-new_logo.gif' %}" class="img-responsive">
                                                <div class="panel-body">
                                                    پرداخت از طریق درگاه بانک پاسارگارد
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <input type="hidden" name="invoiceNumber" value="{{ invoiceNumber }}" />
                                    <input type="hidden" name="invoiceDate" value="{{ invoiceDate }}" />
                                    <input type="hidden" name="amount" value="{{ amount }}" />
                                    <input type="hidden" name="terminalCode" value="{{ terminalCode }}" />
                                    <input type="hidden" name="merchantCode" value="{{ merchantCode }}" />
                                    <input type="hidden" name="redirectAddress" value="{{ redirectAddress }}" />
                                    <input type="hidden" name="timeStamp" value="{{ timeStamp }}" />
                                    <input type="hidden" name="action" value="{{ action }}" />
                                    <input type="hidden" name="sign" value="{{ sign }}" />
                                    <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4"
                                            type="submit">
                                        تایید و پرداخت
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="shopping-cart">
                            <h5 class="m-text20 p-b-24 p-t-24 p-r-24">
                                جمع بندی
                            </h5>
                            <div class="checkout-form">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul>
                                            {% for entry in cart_obj.entrys.all %}
                                                <li>{{ entry.product }}<span>x{{ entry.quantity|persian_int }}</span><strong>{{ entry.total|persian_int }}</strong>
                                                </li>


                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class=" col-xs-12">
                                        <ul>
                                            <li><b>مجموع</b> <strong>{{ cart_obj.subtotal|persian_int }}</strong></li>
                                            <li><b>هزینه ارسال</b>
                                                <strong>{{ order.shipping_total|persian_int }}</strong></li>
                                            <li class="last"><b>پرداختی شما</b>
                                                <strong class="total">
                                                    {#                                                    {% if cart_obj.has_discount %}#}
                                                    {#                                                        تومان{{ cart_obj.total|persian_int }}#}
                                                    {#                                                        <del>#}
                                                    {#                                                            <small>{{ cart_obj.old_total|persian_int }}</small>#}
                                                    {#                                                        </del>#}
                                                    {#                                                    {% else %}#}
                                                    {{ order.total|persian_int }}</strong></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

            </div>
            {#            <div class="row">#}
            {#                <div class="col-md-offset-8">#}
            {#                    <div class="checkout-form-wrap mb-20">#}
            {#                        <h3 class="checkout-title">استفاده از کد تخفیف</h3>#}
            {#                        <div class="checkout-form">#}
            {#                            <form method="post" id="discount_form">#}
            {#                                <input type="hidden" name="cart_id" value="{{ cart_obj.pk }}">#}
            {#                                <input type="text" name="discount_code"#}
            {#                                       placeholder="اگر کد تخفیف دارید اینجا وارد کنید"/>#}
            {#                                <button type="submit" >اعمال کد تخفیف#}
            {#                                </button>#}
            {##}
            {#                            </form>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <div class="modal fade" id="discount_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">تبریک!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>کد تخفیف با موفقیت اعمال شد</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    {#    </div>#}
{% endblock %}

{% block javascript %}
    {#    <script src="{% static 'dikko/js/jquery.validate.js' %}"></script>#}
    <script>

        $(document).ready(function () {
            {#    var modal = $('#discount_modal');#}
            {#    var val;#}
            {#    var old;#}
            {#    var reload=false#}
            {#     total = $(".total");#}
            {#    var discountform = $("#discount_form");#}
            {#    discountform.submit(function (event) {#}
            {#        console.log("hii")#}
            {#        event.preventDefault();#}
            {#        var thisForm = $(this);#}
            {#        var formData = thisForm.serialize();#}
            {#        console.log(formData)#}
            {#        $.ajax({#}
            {#            url: "/discount_codes/",#}
            {#            method: "Get",#}
            {#            data: formData,#}
            {#            success: function (data) {#}
            {##}
            {#                if (data.valid === 0) {#}
            {#                    console.log("sdcsssssssssssssssssssssssss")#}
            {##}
            {#                     swal("کاربر عزیز", data.message, "error");#}
            {##}
            {#                }#}
            {#                else {#}
            {#                    console.log("vvvvvvvvvvvv")#}
            {#                    val=data.total.replace("\"", '');#}
            {#                    old=data.old_total.replace("\"", '');#}
            {#                    reload=true;#}
            {##}
            {##}
            {##}
            {# modal.modal('show');#}
            {#modal.find('.modal-title').text('تبریک')#}
            {#modal.find('.modal-body').html("<p>کد تخفیف با موفقیت اعمال شد. میزان تخفیف: "+data.gain+"</P>")#}
            {#                    swal("کاربر عزیز", "کد تخفیف با موفقیت اعمال شد. میزان تخفیف"+data.gain, "success");#}
            {#                     location.reload(true);#}
            {##}
            {#                           console.log(last)#}
            {#                }#}
            {##}
            {#            }#}
            {#        })#}
            {##}
            {##}
            {#    });#}
            {#    $('.swal-button').click(function () {#}
            {#         console.log("closeeeee")#}
            {#    })#}
            {##}
            {##}
            {##}
            {##}
        });


        // validate signup form on keyup and submit

    </script>
{% endblock %}
