{% extends 'base.html' %}
{% load staticfiles %}
{% load filter_numbers %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'shipping/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'carts/css/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'carts/css/cart.css' %}">
{% endblock %}
{% block content %}
    <section>

        <nav style="direction: ltr">
            <ol class="cd-multi-steps text-top">
                <li class="current"><em>تایید و ارسال</em></li>
                <li><em>پرداخت</em></li>
                <li><em>اطلاعات آدرس</em></li>
                <li><em>سبد خرید</em></li>

            </ol>
        </nav>
    </section>

    <!-- checkout-area start -->
    <div class="checkout-area ptb-70 bg-2">
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            <div class="row">

                    <div class="col-md-12 col-sx-12">
                        <div class="shopping-cart">
                            <div class="title">نتیجه عملیات پرداخت</div>
                            <div class="checkout-form">
                             {% if valid == 1 %}
                                <h3>پرداخت شما با موفقیت انجام شد.</h3>
                                 <br>
                                 <h4>سفارش شما در انتظار تایید بق بند است.</h4>
                                 <br>

                                 <h4> میتوانید وضعیت سفارش خود را از طریق  <a href="{% url 'dashboard:dashboard_orders' %}">حساب کاربری</a> خود مشاهده و یا منتظر دریافت ایمیل از طرف بق بند باشید</h4>
                                {% else %}
                                 <h3>متاسفانه مشکلی در پرداخت شما بوجود آمده است.</h3>
                                 <br>
                                 <h4>در صورت کسر وجه از حساب شما مبلغ کسر شده ظرف 48 ساعت آینده به حساب شما باز خواهد گشت</h4>
                                {% endif %}
                            <br>
                            <h4 style="text-align: center">کدپیگیری شما:</h4><h2 style="text-align: center">{{ order.order_id }}</h2>
                            </div>
                        </div>

                    </div>



            </div>
            {#            <div class="row">#}
            {#                <div class="col-md-offset-8">#}
            {#                    <div class="checkout-form-wrap mb-20">#}
            {#                        <h3 class="checkout-title">استفاده از کد تخفیف</h3>#}
            {#                        <div class="checkout-form">#}
            {#                            <form method="post" id="discount_form">#}
            {#                                <input type="hidden" name="cart_id" value="{{ cart_obj.pk }}">#}
            {#                                <input type="text" name="discount_code"#}
            {#                                       placeholder="اگر کد تخفیف دارید اینجا وارد کنید"/>#}
            {#                                <button type="submit" >اعمال کد تخفیف#}
            {#                                </button>#}
            {##}
            {#                            </form>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}


        </div>
    </div>
    {#    </div>#}
{% endblock %}

{% block javascript %}
    {#    <script src="{% static 'dikko/js/jquery.validate.js' %}"></script>#}
    <script>

        $(document).ready(function () {
            {#    var modal = $('#discount_modal');#}
            {#    var val;#}
            {#    var old;#}
            {#    var reload=false#}
            {#     total = $(".total");#}
            {#    var discountform = $("#discount_form");#}
            {#    discountform.submit(function (event) {#}
            {#        console.log("hii")#}
            {#        event.preventDefault();#}
            {#        var thisForm = $(this);#}
            {#        var formData = thisForm.serialize();#}
            {#        console.log(formData)#}
            {#        $.ajax({#}
            {#            url: "/discount_codes/",#}
            {#            method: "Get",#}
            {#            data: formData,#}
            {#            success: function (data) {#}
            {##}
            {#                if (data.valid === 0) {#}
            {#                    console.log("sdcsssssssssssssssssssssssss")#}
            {##}
            {#                     swal("کاربر عزیز", data.message, "error");#}
            {##}
            {#                }#}
            {#                else {#}
            {#                    console.log("vvvvvvvvvvvv")#}
            {#                    val=data.total.replace("\"", '');#}
            {#                    old=data.old_total.replace("\"", '');#}
            {#                    reload=true;#}
            {##}
            {##}
            {##}
            {# modal.modal('show');#}
            {#modal.find('.modal-title').text('تبریک')#}
            {#modal.find('.modal-body').html("<p>کد تخفیف با موفقیت اعمال شد. میزان تخفیف: "+data.gain+"</P>")#}
            {#                    swal("کاربر عزیز", "کد تخفیف با موفقیت اعمال شد. میزان تخفیف"+data.gain, "success");#}
            {#                     location.reload(true);#}
            {##}
            {#                           console.log(last)#}
            {#                }#}
            {##}
            {#            }#}
            {#        })#}
            {##}
            {##}
            {#    });#}
            {#    $('.swal-button').click(function () {#}
            {#         console.log("closeeeee")#}
            {#    })#}
            {##}
            {##}
            {##}
            {##}
        });


        // validate signup form on keyup and submit

    </script>
{% endblock %}
