
{% extends 'base.html' %}
{% load staticfiles %}
{% block stylesheet %}
{% endblock %}


{% block content %}

<!-- header start -->

<!-- breadcumb-area start -->
<div class="breadcumb-area ptb-70 bg-5">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="breadcumb-wrap">
					<h2>دیکو</h2>
					<ul>

						<li>صنایع دستی</li>

{#                        <li>{% for obj in object_list %}#}
{#                                {{ obj }}#}
{#                            {% endfor %}#}
{##}
{#                        </li>#}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- breadcumb-area end -->

		<!-- profile-area start -->
		<div class="profile-menu-area bg-3">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="profile-menu text-center">
							<ul>
								<li class="active"><a href="#profile" data-toggle="tab">دیکو ها</a></li>
								<li><a href="#shop" data-toggle="tab">درباره {{ profile.seller_profile.dikko_name }}</a></li>
{#								<li><a href="#followers" data-toggle="tab">دنبال کننده</a></li>#}
{#								<li><a href="#following" data-toggle="tab">طرفدار</a></li>#}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="profile-area bg-2 ptb-70">
		<div class="tab-content">
			<div class="tab-pane active" id="profile">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<aside>
								<div class="author clear mb-20">
									<div class="author-image">
										<img src="img/comment/1.jpg" alt="" />
									</div>
									<div class="author-text">
										<h3><a href="#">{{ profile.user.first_name }} {{ profile.user.last_name }} </a></h3>
										<span>ایران  <br />2 سال پیش ثبت نام : </span>
									</div>
{#									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>#}
{#									<a href="#">طرفدارشم</a>#}
{#									<a href="#">ارسال پیام خصوصی</a>#}
								</div>
								<!-- flow-area -->
								<div class="sidebar-wrap mb-20">
									<h3 class="sidebar-title">دنبالش کنید</h3>
									<div class="flow-wrap clear">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- flow-area -->
							</aside>
						</div>
						<div class="col-md-9 col-xs-12">
							<div class="profile-wrap">
								<div class="profile-img mb-20">
									<img src="img/profile.jpg" alt="" />
								</div>
								<div class="view-wrap">
									<div class="row">
										<div class="col-md-6 col-lg-7 col-xs-12">
											<h2 class="shop-title">
                                                {% if object_list.count < 12 %}
                                                    نمایش{{ object_list.count }}دیکو از {{ object_list.count }}دیکو
                                                {% else %}
                                                  نمایش 12 دیکو از   {{ object_list.count }}
                                                {% endif %}
                                            </h2>
										</div>
										<div class="col-md-6 col-lg-5 clear col-xs-12">
											<div class="selector">
												<select name="#"  >
													<option value="Default sorting">براساس </option>
													<option value="#">بیشترین دانلود</option>
													<option value="#">بیشترین قیمت</option>
													<option value="#">جدید ترین</option>
													<option value="#">بیشترین پسند</option>
												</select>
											</div>
											<div class="other-page">
												<ul>
													<li class="active"><a href="#profile-grid" data-toggle="tab"><i class="fa fa-th-large"></i></a></li>
													<li><a href="#profile-list" data-toggle="tab"><i class="fa fa-list-ul"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="tab-content">
											<div class="tab-pane fade in active" id="profile-grid">
												<div class="row profile-grid">

                                                             {% for obj in object_list %}
                                                                {% include "products/_main.html" %}
                                                             {% endfor %}


												</div>
											</div>
											<div class="tab-pane fade shop-list-area" id="profile-list">


												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="img/product/2.jpg" alt="" />
														<a href="#" class="link"><i class="fa fa-link"></i></a>
														<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														<h3><a href="#">فایل موسیقی</a></h3>
														<span> توسط <strong><a href="#"> مدیریت </a></strong> در <strong><a href="#"> اپلیکیشن</a></strong></span>
														<div class="product-meta">
															<ul>
																<li><i class="fa fa-shopping-cart"></i> 20 فروش </li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>10 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
														<div class="price">
															<span>$30.00</span>
															<del>$33.00</del>
														</div>
													</div>
												</div>
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="img/product/3.jpg" alt="" />
														<a href="#" class="link"><i class="fa fa-link"></i></a>
														<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														<h3><a href="#">فایل رزومه</a></h3>
														<span> توسط <strong><a href="#"> مدیریت </a></strong> در <strong><a href="#"> موسیقی </a></strong></span>
														<div class="product-meta">
															<ul>
																<li><i class="fa fa-shopping-cart"></i> 18 فروش </li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>5 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
														<div class="price">
															<span>$37.00</span>
														</div>
													</div>
												</div>
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="img/product/4.jpg" alt="" />
														<a href="#" class="link"><i class="fa fa-link"></i></a>
														<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														<h3><a href="#">لوگوی ساده</a></h3>
														<span> توسط <strong><a href="#"> علی </a></strong> در <strong><a href="#">فایل</a></strong></span>
														<div class="product-meta">
															<ul>
																<li><i class="fa fa-shopping-cart"></i> 25 فروش </li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>100 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
														<div class="price">
															<span>$40.00</span>
														</div>
													</div>
												</div>
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="img/product/5.jpg" alt="" />
														<a href="#" class="link"><i class="fa fa-link"></i></a>
														<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														<h3><a href="#">لوگوی وب </a></h3>
														<span> توسط <strong><a href="#"> علی </a></strong> در <strong><a href="#">فایل</a></strong></span>
														<div class="product-meta">
															<ul>
																<li><i class="fa fa-shopping-cart"></i> 5 فروش </li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>1 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
														<div class="price">
															<span>$12.00</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- pagination -->
								<div class="row">
									<div class="col-xs-12 clear">
										<div class="pagination-wrap pull-right">
											<ul>
												<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
												<li class="active"><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- pagination -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="shop">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<aside>
								<div class="author clear mb-20">
									<div class="author-image">
										<img src="img/comment/1.jpg" alt="" />
									</div>
									<div class="author-text">
										<h3><a href="#">علی یداهی </a></h3>
										<span>ایران  <br />2 سال پیش ثبت نام : </span>
									</div>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
									<a href="#">طرفدارشم</a>
									<a href="#">ارسال پیام خصوصی</a>
								</div>
								<!-- flow-area -->
								<div class="sidebar-wrap mb-20">
									<h3 class="sidebar-title">دنبالش کنید</h3>
									<div class="flow-wrap clear">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- flow-area -->
							</aside>
						</div>
						<div class="col-md-9 col-xs-12">
							<div class="profile-wrap shop-list-area">
								<div class="view-wrap">
									<div class="row">
										<div class="col-md-6 col-lg-7 col-xs-12">
											<h2 class="shop-title">نمایش 1 تا 12 از 230 مورد</h2>
										</div>
										<div class="col-md-6 col-lg-5 clear col-xs-12">
											<div class="selector">
												<select name="#"  >
													<option value="Default sorting">براساس </option>
													<option value="#">بیشترین دانلود</option>
													<option value="#">بیشترین قیمت</option>
													<option value="#">جدید ترین</option>
													<option value="#">بیشترین پسند</option>
												</select>
											</div>
											<div class="other-page">
												<ul>
													<li class="active"><a href="#shop-grid2" data-toggle="tab"><i class="fa fa-th-large"></i></a></li>
													<li><a href="#shop-list2" data-toggle="tab"><i class="fa fa-list-ul"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="tab-content">
											<div class="tab-pane fade in active" id="shop-grid2">
												<div class="row profile-grid">
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-20">
															<div class="product-img">
																<img src="img/product/1.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">فایل تصویری</a></h3>
																<span> توسط <strong><a href="#"> علی </a></strong> در  <strong><a href="#"> موسیقی </a></strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 13  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<del>$25</del>
																			<span>$13</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-20">
															<div class="product-img">
																<img src="img/product/2.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">فایل صوتی</a></h3>
																<span>توسط  <strong>مدیر </strong> در <strong> فایل </strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 17  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<span>$193</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-20">
															<div class="product-img">
																<img src="img/product/3.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">پاورپوینت ورزشی</a></h3>
																<span> توسط <strong><a href="#"> علی </a></strong> در  <strong><a href="#"> موسیقی </a></strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 9  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<del>$23</del>
																			<span>$193</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-20">
															<div class="product-img">
																<img src="img/product/4.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">مجله موسیقی</a></h3>
																<span> توسط <strong><a href="#"> علی </a></strong> در  <strong><a href="#"> موسیقی </a></strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 9  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<del>$23</del>
																			<span>$193</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-50">
															<div class="product-img">
																<img src="img/product/5.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">ماشین و گیم</a></h3>
																<span> توسط <strong><a href="#"> علی </a></strong> در  <strong><a href="#"> موسیقی </a></strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 15  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<del>$33</del>
																			<span>$150</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-20">
															<div class="product-img">
																<img src="img/product/6.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">پاورپوینت ورزشی</a></h3>
																<span> توسط <strong><a href="#"> علی </a></strong> در  <strong><a href="#"> موسیقی </a></strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 18  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<del>$15</del>
																			<span>$193</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-20">
															<div class="product-img">
																<img src="img/product/7.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">مجله موسیقی</a></h3>
																<span> توسط <strong><a href="#"> علی </a></strong> در  <strong><a href="#"> موسیقی </a></strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 9  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<del>$23</del>
																			<span>$193</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-20">
															<div class="product-img">
																<img src="img/product/8.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">فایل رزومه</a></h3>
																<span> توسط <strong><a href="#"> علی </a></strong> در  <strong><a href="#"> موسیقی </a></strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 45  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<del>$24</del>
																			<span>$141</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-20">
															<div class="product-img">
																<img src="img/product/9.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">فایل صوتی</a></h3>
																<span> توسط <strong><a href="#"> علی </a></strong> در  <strong><a href="#"> موسیقی </a></strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 9  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<del>$23</del>
																			<span>$193</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-20">
															<div class="product-img">
																<img src="img/product/2.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">برنامه مدیریت باشگاه </a></h3>
																<span> توسط <strong><a href="#"> علی </a></strong> در  <strong><a href="#"> موسیقی </a></strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 9  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<del>$23</del>
																			<span>$193</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-20">
															<div class="product-img">
																<img src="img/product/8.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">ماشین و گیم</a></h3>
																<span> توسط <strong><a href="#"> علی </a></strong> در  <strong><a href="#"> موسیقی </a></strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 9  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<del>$23</del>
																			<span>$193</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6 col-xs-12">
														<div class="product-item mb-20">
															<div class="product-img">
																<img src="img/product/3.jpg" alt="" />
																<a href="#" class="link"><i class="fa fa-link"></i></a>
																<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
															</div>
															<div class="product-content">
																<h3><a href="#">پاورپوینت ورزشی</a></h3>
																<span> توسط <strong><a href="#"> علی </a></strong> در  <strong><a href="#"> موسیقی </a></strong></span>
																<div class="product-meta">
																	<ul>
																		<li><i class="fa fa-shopping-cart"></i> 9  فروش </li>
																		<li>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</li>
																		<li>
																			<del>$23</del>
																			<span>$193</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>


												</div>
											</div>
											<div class="tab-pane fade shop-list-area" id="shop-list2">
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="img/product/4.jpg" alt="" />
														<a href="#" class="link"><i class="fa fa-link"></i></a>
														<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														<h3><a href="#">لوگوی ساده</a></h3>
														<span> توسط <strong><a href="#"> علی </a></strong> در <strong><a href="#">فایل</a></strong></span>
														<div class="product-meta">
															<ul>
																<li><i class="fa fa-shopping-cart"></i> 25 فروش </li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>100 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
														<div class="price">
															<span>$40.00</span>
														</div>
													</div>
												</div>
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="img/product/5.jpg" alt="" />
														<a href="#" class="link"><i class="fa fa-link"></i></a>
														<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														<h3><a href="#">لوگوی وب </a></h3>
														<span> توسط <strong><a href="#"> علی </a></strong> در <strong><a href="#">فایل</a></strong></span>
														<div class="product-meta">
															<ul>
																<li><i class="fa fa-shopping-cart"></i> 5 فروش </li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>1 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
														<div class="price">
															<span>$12.00</span>
														</div>
													</div>
												</div>
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="img/product/2.jpg" alt="" />
														<a href="#" class="link"><i class="fa fa-link"></i></a>
														<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														<h3><a href="#">فایل موسیقی</a></h3>
														<span> توسط <strong><a href="#"> مدیریت </a></strong> در <strong><a href="#"> اپلیکیشن</a></strong></span>
														<div class="product-meta">
															<ul>
																<li><i class="fa fa-shopping-cart"></i> 20 فروش </li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>10 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
														<div class="price">
															<span>$30.00</span>
															<del>$33.00</del>
														</div>
													</div>
												</div>
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="img/product/3.jpg" alt="" />
														<a href="#" class="link"><i class="fa fa-link"></i></a>
														<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														<h3><a href="#">فایل رزومه</a></h3>
														<span> توسط <strong><a href="#"> مدیریت </a></strong> در <strong><a href="#"> موسیقی </a></strong></span>
														<div class="product-meta">
															<ul>
																<li><i class="fa fa-shopping-cart"></i> 18 فروش </li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>5 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
														<div class="price">
															<span>$37.00</span>
														</div>
													</div>
												</div>
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="img/product/4.jpg" alt="" />
														<a href="#" class="link"><i class="fa fa-link"></i></a>
														<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														<h3><a href="#">لوگوی ساده</a></h3>
														<span> توسط <strong><a href="#"> علی </a></strong> در <strong><a href="#">فایل</a></strong></span>
														<div class="product-meta">
															<ul>
																<li><i class="fa fa-shopping-cart"></i> 25 فروش </li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>100 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
														<div class="price">
															<span>$40.00</span>
														</div>
													</div>
												</div>
												<div class="product-item clear mb-20">
													<div class="product-img">
														<img src="img/product/5.jpg" alt="" />
														<a href="#" class="link"><i class="fa fa-link"></i></a>
														<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
													</div>
													<div class="product-content">
														<h3><a href="#">لوگوی وب </a></h3>
														<span> توسط <strong><a href="#"> علی </a></strong> در <strong><a href="#">فایل</a></strong></span>
														<div class="product-meta">
															<ul>
																<li><i class="fa fa-shopping-cart"></i> 5 فروش </li>
																<li>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</li>
																<li>1 نمایش ( پیشنهاد شده )</li>
															</ul>
														</div>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
														<div class="price">
															<span>$12.00</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- pagination -->
								<div class="row">
									<div class="col-xs-12 clear">
										<div class="pagination-wrap pull-right">
											<ul>
												<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
												<li class="active"><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- pagination -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="followers">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<aside>
								<div class="author clear mb-20">
									<div class="author-image">
										<img src="img/comment/1.jpg" alt="" />
									</div>
									<div class="author-text">
										<h3><a href="#">علی یداهی </a></h3>
										<span>ایران  <br />2 سال پیش ثبت نام : </span>
									</div>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
									<a href="#">طرفدارشم</a>
									<a href="#">ارسال پیام خصوصی</a>
								</div>
								<!-- flow-area -->
								<div class="sidebar-wrap mb-20">
									<h3 class="sidebar-title">دنبالش کنید</h3>
									<div class="flow-wrap clear">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- flow-area -->
							</aside>
						</div>
						<div class="col-md-9 col-xs-12">
							<div class="flow-area table-responsive">
								<table>
									<tbody>
										<tr>
											<td class="flow-image">
												<img src="img/flow/1.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">سیلانا ایسنا</a>
												<p>ایران  - مازندران</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>1004</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>4030</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/9.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/16.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/2.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">دایمن هرناندز</a>
												<p>اکراین</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>24</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>50</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/10.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/15.jpg" alt="" />
											</td>
											<td class="flow-btn flow-btn2">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/3.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">زامیر استدیو</a>
												<p>تهران</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>115</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>138</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/11.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/14.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/4.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">ایوان گلادرین</a>
												<p>روسیه</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>1000</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>1200</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/12.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/13.jpg" alt="" />
											</td>
											<td class="flow-btn flow-btn2">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/5.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">ویسنس</a>
												<p>آمریکا</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>18</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>1533</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/11.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/12.jpg" alt="" />
											</td>
											<td class="flow-btn flow-btn2">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/6.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">اندی روبین</a>
												<p>هند</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>205</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>5158</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/10.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/11.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/7.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">آمور جوزف</a>
												<p>آلمان</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>1546</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>775</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/9.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/16.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/8.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">سیلانا ایسنا</a>
												<p>ایران</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>15</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>175</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/15.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/13.jpg" alt="" />
											</td>
											<td class="flow-btn flow-btn2">
												<button>دنبال کردن</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="following">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<aside>
								<div class="author clear mb-20">
									<div class="author-image">
										<img src="img/comment/1.jpg" alt="" />
									</div>
									<div class="author-text">
										<h3><a href="#">علی یداهی </a></h3>
										<span>ایران  <br />2 سال پیش ثبت نام : </span>
									</div>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
									<a href="#">طرفدارشم</a>
									<a href="#">ارسال پیام خصوصی</a>
								</div>
								<!-- flow-area -->
								<div class="sidebar-wrap mb-20">
									<h3 class="sidebar-title">دنبالش کنید</h3>
									<div class="flow-wrap clear">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- flow-area -->
							</aside>
						</div>
						<div class="col-md-9 col-xs-12">
							<div class="flow-area table-responsive">
								<table>
									<tbody>
										<tr>
											<td class="flow-image">
												<img src="img/flow/1.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">سیلانا ایسنا</a>
												<p>ایران  - مازندران</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>1004</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>4030</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/9.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/16.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/2.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">دایمن هرناندز</a>
												<p>اکراین</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>24</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>50</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/10.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/15.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/3.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">زامیر استدیو</a>
												<p>تهران</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>115</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>138</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/11.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/14.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/4.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">ایوان گلادرین</a>
												<p>روسیه</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>1000</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>1200</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/12.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/13.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/5.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">ویسنس</a>
												<p>آمریکا</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>18</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>1533</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/11.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/12.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/6.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">اندی روبین</a>
												<p>هند</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>205</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>5158</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/10.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/11.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/7.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">آمور جوزف</a>
												<p>آلمان</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>1546</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>775</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/9.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/16.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
										<tr>
											<td class="flow-image">
												<img src="img/flow/8.jpg" alt="" />
											</td>
											<td class="flow-name">
												<a href="#">سیلانا ایسنا</a>
												<p>ایران</p>
												<p>عضویت : 3 سال پیش</p>
											</td>
											<td class="flow-text">
												<span>15</span>
												<span>دنبال کننده</span>
											</td>
											<td class="flow-text2">
												<span>175</span>
												<span>دنبال کردن</span>
											</td>
											<td class="flow-img">
												<img src="img/flow/15.jpg" alt="" />
											</td>
											<td class="flow-img hidden-md hidden-sm">
												<img src="img/flow/13.jpg" alt="" />
											</td>
											<td class="flow-btn">
												<button>دنبال کردن</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<!-- profile-area start -->

		<!-- newsletter-area start -->
{% endblock %}
