{% extends 'base.html' %}
{% load filter_numbers %}
{% load jalali_tags %}
{% load staticfiles %}
{% block seo %}
    <title>فروشگاه اینترنتی بق بند | {{ object }}</title>
    <meta name="description" content="خرید آنلاین {{ object }} در جدیدترین های {{ object.dikko_name }}">
{% endblock %}
{% block stylesheet %}
    {#        <link rel="stylesheet" type="text/css" href="{% static 'products/bootstrap/css/bootstrap.min.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'products/animate/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'products/css-hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'products/animsition/css/animsition.min.css' %}">
    {#    <link rel="stylesheet" type="text/css" href="{% static 'products/select2/select2.min.css' %}">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'products/slick/slick.css' %}">#}
    <link rel="stylesheet" href="{% static 'products/css/reset.css' %}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}"> <!-- Resource style -->
    {#    <link rel="stylesheet" href="{% static 'products/single_responsive.css' %}"> <!-- Resource style -->#}
    {#    <link rel="stylesheet" href="{% static 'products/main_styles.css' %}"> <!-- Resource style -->#}
    <script src="{% static 'products/js/modernizr.js' %}"></script> <!-- Modernizr -->
    <link rel="stylesheet" href="{% static 'products/heart.css' %}">
    {#    <link rel="stylesheet" type="text/css" href="{% static 'products/util.css' %}">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'products/main.css' %}">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'products/bootstrap/css/' %}">#}
{% endblock %}
{% block content %}

    <div class="container bgwhite p-t-35 p-b-80">
        <div class="row">
            <div class="col-md-6">
                {#                <div class="wrap-slick3 flex-sb flex-w">#}


                <ul class="cd-gallery" style="direction: ltr">

                    <li>
                        {#                        <a href="">#}
                        <ul class="cd-item-wrapper" style="direction: ltr">
                            <li class="selected" data-hash="one" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <img src="{{ object.image.all.first.image.url }}" alt="Preview image">
                            </li>
                            {% for image in object.image.all %}
                                {% if forloop.counter > 1 %}


                                    {% if forloop.counter == 2 %}
                                        <li class="move-right">
                                            <img src="{{ image.image.url }}" alt="Preview image">
                                        </li>
                                    {% else %}
                                        <li>
                                            <img src="{{ image.image.url }}" alt="Preview image">
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}


                        </ul> <!-- cd-item-wrapper -->
                        {#                        </a>#}
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img class="img-responsive" src="{{ object.image.all.first.image.url }}"
                                                     alt="...">
                                                <div class="carousel-caption">
                                                    بق بند
                                                </div>
                                            </div>
                                            {% for image in object.image.all %}
                                                {% if forloop.counter > 1 %}
                                                    <div class="item">
                                                        <img class="img-responsive" src="{{ image.image.url }}"
                                                             alt="...">
                                                        <div class="carousel-caption">
                                                            بق بند
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                        </div>

                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-example-generic"
                                           role="button"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic"
                                           role="button"
                                           data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cd-item-info">
                            <b><a href="#0">{{ object.title }}</a></b>

                            {#                            <em class="cd-price">{{ object.price|persian_int }}</em>#}
                        </div> <!-- cd-item-info -->
                    </li>
                </ul>


                {#                </div>#}
            </div>

            <div class="col-md-6" style="margin-top: 30px">
                <h3 class="product-detail-name m-text16 p-b-13 m-l-80">
                    {{ object.title }}
                </h3>

                <div class="rating rating_{{ object.avg_score }}" data-rating="4" style="margin-bottom: 24px">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <span class="m-text17">
                    {{ object.price|persian_int }} تومان

				</span>

                {#                <p class="s-text8 p-t-10">#}
                {#                    Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare#}
                {#                    feugiat.#}
                {#                </p>#}


                <div class="p-t-33 p-b-60">
                    {#                    <div class="flex-m flex-w p-b-10">#}
                    {#                        <div class="s-text15 w-size15 t-center">#}
                    {#                            Size#}
                    {#                        </div>#}
                    {##}
                    {#                        <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">#}
                    {#                            <select class="selection-2" name="size">#}
                    {#                                <option>Choose an option</option>#}
                    {#                                <option>Size S</option>#}
                    {#                                <option>Size M</option>#}
                    {#                                <option>Size L</option>#}
                    {#                                <option>Size XL</option>#}
                    {#                            </select>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="flex-m flex-w">#}
                    {#                        <div class="s-text15 w-size15 t-center">#}
                    {#                            Color#}
                    {#                        </div>#}
                    {##}
                    {#                        <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">#}
                    {#                            <select class="selection-2" name="color">#}
                    {#                                <option>Choose an option</option>#}
                    {#                                <option>Gray</option>#}
                    {#                                <option>Red</option>#}
                    {#                                <option>Black</option>#}
                    {#                                <option>Blue</option>#}
                    {#                            </select>#}
                    {#                        </div>#}
                    {#                    </div>#}

                    <div class="flex-r-m flex-w p-t-10">
                        <div class="w-size16 flex-m flex-w">
                            {#                            <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10 ">#}
                            {#                                <button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">#}
                            {#                                    <i class="fs-12 fa fa-minus" aria-hidden="true"></i>#}
                            {#                                </button>#}
                            {##}
                            {#                                <input class="size8 m-text18 t-center num-product" type="number" name="num-product"#}
                            {#                                       value="1">#}
                            {##}
                            {#                                <button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">#}
                            {#                                    <i class="fs-12 fa fa-plus" aria-hidden="true"></i>#}
                            {#                                </button>#}
                            {#                            </div>#}

                            <div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
                                <!-- Button -->

                                {% include 'products/update-cart.html' with product=object  cart=cart %}


                            </div>
                            <div class="btn-addwishlist-product-detail size9 trans-0-4 m-t-10 m-b-10 m-r-50 ">
                                {#                             <button  id="add_favorite_btn">#}
                                <input type="checkbox" id="like"/>
                                {#                            </button>#}
                                <p id="add_wishlist_p">اضافه به علاقه مندی ها</p>
                                <label for="like" id="label_like">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M12 21.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53 0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54l-1.45 1.31z"/>
                                    </svg>

                                </label>


                                {#                                </div>#}
                                {#                                <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4"#}
                                {#                                        id="add_favorite_btn">#}
                                {#                                    اضافه به علاقه مندی ها#}
                                {#                                </button>#}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="p-b-45">
                    <span class="s-text8 m-r-35">کد محصول: {{ object.code }}</span>
                    {#                    <span class="s-text8">Categories: Mug, Design</span>#}
                    {% if class == 'Dress' %}
                        <div class="form-row">
                            <div class="col-md-4">
                                <select class="form-control" style="font-size: 12px" id="colorSelect">
                                    {#                            <option value="" disabled selected>رنگ</option>#}
                                    {% for color in obj.color.all %}
                                        <option value="1">{{ color }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" style="font-size: 12px" id="sizeSelect">
                                    {#                            <option value="" disabled selected>سایز</option>#}
                                    {% for size in obj.size.all %}
                                        <option value="1">{{ size|persian_int }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% elif class == 'Zivar' %}
                        <div class="form-row">
                            <div class="col-md-4">
                                <select class="form-control" style="font-size: 12px" id="colorSelect">
                                    {#                            <option value="" disabled selected>رنگ</option>#}
                                    {% for color in obj.color.all %}
                                        <option value="1">{{ color }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}

                </div>


            </div>
        </div>
        <!-- Tabs -->

        <div class="tabs_section_container">

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        {#					<div class="tabs_container">#}
                        <ul class="tabs d-flex flex-sm-row flex-column align-items-md-center justify-content-center">
                            <li class="tab active" data-active-tab="tab_1"><span
                                    class="cs-pointer m-text19 color0-hov trans-0-4">توضیحات</span></li>

                        </ul>
                        {#					</div>#}
                    </div>
                    <div class="col-md-4">
                        <ul class="tabs d-flex flex-sm-row flex-column align-items-md-center justify-content-center">
                            <li class="tab" data-active-tab="tab_2"><span
                                    class="cs-pointer m-text19 color0-hov trans-0-4">اطلاعات بیشتر</span></li>
                        </ul>

                    </div>
                    <div class="col-md-4">
                        <ul class="tabs d-flex flex-sm-row flex-column align-items-md-center justify-content-center">
                            <li class="tab" data-active-tab="tab_3"><span
                                    class="cs-pointer m-text19 color0-hov trans-0-4">نظرات ({{ comments_count|persian_int }})</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <!-- Tab Description -->

                        <div id="tab_1" class="tab_container active">
                            {% if class %}
                                {% if class == 'Dress' %}
                                    <p>رنگ: <span>{% for color in obj.color.all %}{% if forloop.counter == 1 %}
                                        {{ color }}{% else %} ، {{ color }} {% endif %}{% endfor %}</span></p>
                                    <p>سایز: <span>{% for size in obj.size.all %}{% if forloop.counter == 1 %}
                                        {{ size|persian_int }}
                                    {% else %} ، {{ size|persian_int }} {% endif %}{% endfor %}</span></p>
                                    <p>قد: <span>{% for height in obj.height.all %}{% if forloop.counter == 1 %}
                                        {{ height }}{% else %} ، {{ height }} {% endif %}{% endfor %}</span></p>
                                    <p>مناسب برای: <span>{% for suitble_for in obj.suitble_for.all %}
                                        {% if forloop.counter == 1 %}{{ suitble_for }}{% else %} ، {{ suitble_for }}
                                        {% endif %}{% endfor %}</span></p>
                                    <p>جنس: <span>{% for type in obj.type.all %}{% if forloop.counter == 1 %}{{ type }}
                                    {% else %} ، {{ type }} {% endif %}{% endfor %}</span></p>
                                    <p>نوع دوخت: <span>{% for type_sewing in obj.type_sewing.all %}
                                        {% if forloop.counter == 1 %}{{ type_sewing }}{% else %} ، {{ type_sewing }}
                                        {% endif %}{% endfor %}</span></p>
                                    <p>رده سنی: <span>{% for age in obj.suitble_age.all %}{% if forloop.counter == 1 %}
                                        {{ age }}{% else %} ، {{ age }} {% endif %}{% endfor %}</span></p>


                                {% elif class == 'Zivar' %}
                                    {% if obj.color.count > 0 %}
                                        <p>رنگ: <span>{% for color in obj.color.all %}{% if forloop.counter == 1 %}
                                            {{ color }}{% else %} ، {{ color }} {% endif %}{% endfor %}</span></p>
                                    {% endif %}
                                    <p>جنس: <span> {{ obj.type }}</span></p>
                                    {% if obj.weight != 0 %}<p>وزن: <span> {{ obj.weight|persian_int }} گرم</span></p>
                                    {% endif %}
                                    <p>تولید: <span> {{ obj.madeIn }}</span></p>
                                    {% if obj.suitble_for.count > 0 %}
                                        <p>مناسب برای: <span>{% for suitble_for in obj.suitble_for.all %}
                                            {% if forloop.counter == 1 %}{{ suitble_for }}{% else %} ، {{ suitble_for }}
                                            {% endif %}{% endfor %}</span></p>{% endif %}
                                    {% if obj.suitble_age.count > 0 %}
                                        <p>رده سنی: <span>{% for age in obj.suitble_age.all %}
                                            {% if forloop.counter == 1 %}
                                                {{ age }}{% else %} ، {{ age }} {% endif %}{% endfor %}</span></p>
                                    {% endif %}

                                {% elif class == 'RuDuzi' %}

                                    {% if obj.color.count > 0 %}
                                        <p>رنگ: <span>{% for color in obj.color.all %}{% if forloop.counter == 1 %}
                                            {{ color }}{% else %} ، {{ color }} {% endif %}{% endfor %}</span></p>
                                    {% endif %}
                                    {% if obj.type %}
                                        <p>جنس: <span> {{ obj.type }}</span></p>
                                    {% endif %}
                                    {% if obj.dimensions %}
                                        <p>ابعاد: <span> {{ obj.dimensions }}</span></p>
                                    {% endif %}
                                    {% if obj.weight != 0 %}<p>وزن: <span> {{ obj.weight|persian_int }} گرم</span></p>
                                    {% endif %}
                                    {% if obj.madeIn %}
                                        <p>تولید: <span> {{ obj.madeIn }}</span></p>
                                    {% endif %}
                                    {% if obj.suitble_for.count > 0 %}
                                        <p>مناسب برای: <span>{% for suitble_for in obj.suitble_for.all %}
                                            {% if forloop.counter == 1 %}{{ suitble_for }}{% else %} ، {{ suitble_for }}
                                            {% endif %}{% endfor %}</span></p>{% endif %}
                                    {% if obj.suitble_age.count > 0 %}
                                        <p>رده سنی: <span>{% for age in obj.suitble_age.all %}
                                            {% if forloop.counter == 1 %}
                                                {{ age }}{% else %} ، {{ age }} {% endif %}{% endfor %}</span></p>
                                    {% endif %}
                                {% elif class == 'Dast_Saze' %}
                                    {% if obj.color.count > 0 %}
                                        <p>رنگ: <span>{% for color in obj.color.all %}{% if forloop.counter == 1 %}
                                            {{ color }}{% else %} ، {{ color }} {% endif %}{% endfor %}</span></p>
                                    {% endif %}
                                    {% if obj.type %}
                                        <p>جنس: <span> {{ obj.type }}</span></p>
                                    {% endif %}
                                    {% if obj.dimensions %}
                                        <p>ابعاد: <span> {{ obj.dimensions }}</span></p>
                                    {% endif %}
                                    {% if obj.weight != 0 %}<p>وزن: <span> {{ obj.weight|persian_int }} گرم</span></p>
                                    {% endif %}
                                    {% if obj.madeIn %}
                                        <p>تولید: <span> {{ obj.madeIn }}</span></p>
                                    {% endif %}
                                    {% if obj.suitble_for.count > 0 %}
                                        <p>مناسب برای: <span>{% for suitble_for in obj.suitble_for.all %}
                                            {% if forloop.counter == 1 %}{{ suitble_for }}{% else %} ، {{ suitble_for }}
                                            {% endif %}{% endfor %}</span></p>{% endif %}
                                    {% if obj.suitble_age.count > 0 %}
                                        <p>رده سنی: <span>{% for age in obj.suitble_age.all %}
                                            {% if forloop.counter == 1 %}
                                                {{ age }}{% else %} ، {{ age }} {% endif %}{% endfor %}</span></p>
                                    {% endif %}
                                {% endif %}

                            {% else %}
                                <p>ندارد</p>
                            {% endif %}
                        </div>

                        <!-- Tab Additional Info -->

                        <div id="tab_2" class="tab_container">
                            <div class="row">
                                <div class="col additional_info_col">
                                    <div class="tab_title additional_info_title">
                                        {#									<h4>Additional Information</h4>#}
                                    </div>
                                    {{ object.description|safe }}

                                </div>
                            </div>
                        </div>

                        <!-- Tab Reviews -->

                        <div id="tab_3" class="tab_container">
                            <div class="row">

                                <!-- User Reviews -->

                                <div class="col-lg-6 reviews_col">
                                    <div class="tab_title reviews_title">
                                        {#									<h4>Reviews (2)</h4>#}
                                    </div>

                                    <!-- User Review -->
                                    {% if comments %}

                                        {% for comment in comments %}
                                            <div class="comment-info">
                                                <h5><a href="#">{{ comment.author.user.first_name }}</a></h5>
                                                <span>{{ comment.created_date|to_jalali:'%y/%m/%d _ %H:%M:%S' }}</span>
                                                <p>{{ comment.text }}</p>



                                                {% for child_comment in comment.children %}
                                                    <blockquote>
                                                        <h5>
                                                            <a href="#">{{ child_comment.author.user.first_name }}</a>
                                                        </h5>
                                                        <span>{{ child_comment.created_date }}</span>
                                                        <p>{{ child_comment.text }}</p>
                                                    </blockquote>
                                                {% endfor %}



                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type="text" name="text" id="text" class="form-control">
                                                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                                    <input type="submit" value="جواب دادن"
                                                           class="flex-c-m  bg1 bo-rad-23 hov1 s-text1 trans-0-4 p-l-5 p-r-5">
                                                </form>
                                            </div>




                                        {% endfor %}
                                    {% else %}
                                        <div class="s-text8">نظری برای نمایش وجود ندارد</div>
                                    {% endif %}
                                    <div class="comment-form">
                                        {% if not request.user.is_authenticated %}
                                            <h3>برای ثبت نظر وارد <a href="{% url 'accounts:login' %}">حساب کاربری </a>
                                                خود
                                                شوید</h3>

                                        {% else %}
                                            <div class="row">
                                                <div class="col col-md-6">
                                                    <div class="s-text8">نظر خود را بنویسید</div>
                                                </div>
                                                <div class="col col-md-6">
                                                    <div class="s-text8">امتیاز شما:</div>
                                                    <div class='rating-stars text-center'>
                                                        <ul id='stars'>
                                                            <li class='star' data-value='1'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                            <li class='star' data-value='2'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                            <li class='star' data-value='3'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                            <li class='star' data-value='4'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                            <li class='star' data-value='5'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>


                                            </div>
                                            <form method="post" class="user_comment">
                                                {% csrf_token %}

                                                <div class="row">
                                                    <div class="col-sm-6 col-xs-12">
                                                        {{ request.user.first_name }} {{ request.user.last_name }}
                                                    </div>

                                                    <div class="col-xs-12">
                                                        {{ form.text }}
                                                    </div>
                                                    <div class="col-lg-offset-9 col-lg-3 col-md-offset-8 col-md-4  col-sm-4 col-sm-offset-8 col-xs-12">
                                                        <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4"
                                                                type="submit"> ارسال نظر
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="modal fade" id="#exampleModal" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header text-center">
                                                            <h4 class="modal-title w-100 font-weight-bold">با
                                                                تشکر از
                                                                شما
                                                                شده</h4>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body mx-3">


                                                            <div class="form-group label-floating">
                                                                <label class="control-label">نظر شما ثبت شد و
                                                                    منتظر
                                                                    تایید
                                                                    مدیر است
                                                                </label>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        {% endif %}


                                        <!-- User Review -->


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'products/single_custom.js' %}"></script>
    {#    <script src="{% static 'products/js/jquery-2.1.1.js' %}"></script>#}
    {#    <script src="{% static 'products/js/jquery.mobile.min.js' %}"></script>#}
    <script src="{% static 'products/js/main.js' %}"></script> <!-- Resource jQuery -->
    <script type="text/javascript" src="{% static 'products/animsition/js/animsition.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'products/bootstrap/js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'products/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'products/select2/select2.min.js' %}"></script>
    {#<script type="text/javascript" src="{% static 'dikko/js/persianumber.min.js' %}"></script>#}

    <script type="text/javascript">
        $(".selection-1").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });

        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect2')
        });
    </script>
    <script>
        $(document).ready(function () {
            {#$('span').persiaNumber();#}
            var colorSelect = $('#colorSelect');
            var sizeSelect = $('#sizeSelect');
            var productformDetail = $(".form-product-ajax");
            var colorValue = colorSelect.find("option:selected").text();
            $('<input>').attr({
                type: 'hidden',
                name: 'product_color',
                class: 'product_color',
                value: colorValue,
            }).appendTo(productformDetail);
            colorSelect.change(function () {
                var thisvalue = $(this).find("option:selected").text();
                productformDetail.find('.product_color').val(thisvalue)

            });


            var sizeValue = sizeSelect.find("option:selected").text();
            $('<input>').attr({
                type: 'hidden',
                name: 'product_size',
                class: 'product_size',
                value: sizeValue,
            }).appendTo(productformDetail);
            sizeSelect.change(function () {
                var thisvalue = $(this).find("option:selected").text();
                productformDetail.find('.product_size').val(thisvalue)
            });
            var ratingValue;
            $('#stars li').on('mouseover', function () {
                var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
                // Now highlight all the stars that's not after the current hovered star
                $(this).parent().children('li.star').each(function (e) {
                    if (e < onStar) {
                        $(this).addClass('hover');
                    } else {
                        $(this).removeClass('hover');
                    }
                });

            }).on('mouseout', function () {
                $(this).parent().children('li.star').each(function (e) {
                    $(this).removeClass('hover');
                });
            });


            /* 2. Action to perform on click */
            $('#stars li').on('click', function () {
                var onStar = parseInt($(this).data('value'), 10); // The star currently selected
                var stars = $(this).parent().children('li.star');
                for (i = 0; i < stars.length; i++) {
                    $(stars[i]).removeClass('selected');
                }

                for (i = 0; i < onStar; i++) {
                    $(stars[i]).addClass('selected');
                }
                ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
            });


            var commentform = $(".user_comment");
            commentform.submit(function (event) {
                data = {'score': ratingValue, 'product_id':{{object.id}}};
                $.ajax({
                    url: "/products/score/",
                    method: "GET",
                    data: data,
                    success: function (data) {
                        console.log(data);
                    }

                });
            });


        });
    </script>


    <script src="{% static 'products/main.js' %}"></script>


















    {% if successful_submit %}
        <script type="text/javascript">
            $(document).ready(function () {
                $("#exampleModal").modal('show');
            });
        </script>
    {% endif %}

    <script>

        $(document).ready(function () {


            var ajax_url = '/favorite_list/check';
            var ajax_method = 'GET';
            var data = {"product_id":{{product.id}}};
            $.ajax({
                url: ajax_url,
                method: ajax_method,
                data: data,
                success: function (data) {
                    var valid = data.valid
                    if (valid === 1) {
                    } else {
                        $("#add_wishlist_p").hide();
                        $("#label_like").hide();
                    }
                }

            });


            $("#like").click(function () {
                add_favorite();
            });
        });


        function add_favorite() {
            var ajax_url = '/favorite_list/add';
            var ajax_method = 'GET';
            var data = {"product_id":{{product.id}}};
            $.ajax({
                url: ajax_url,
                method: ajax_method,
                data: data,
                success: function (data) {
                    var valid = data.valid
                    if (valid === 1) {
                        {#                        $("#add_favorite_btn").html("حذف از علاقه مندی ها")#}
                        console.log("valiid")
                        var nameProduct = $('.product-detail-name').html();
                        swal(nameProduct, "  به لیست علاقه مندی ها اضافه شد", "success");

                        {#swal.fire()#}

                        $("#label_like").hide();
                        $("#like").hide();
                        $("#add_wishlist_p").hide();
                    } else {
                        console.log("noottt")
                        {#                        $("#add_favorite_btn").html("اضافه به علاقه مندی ها")#}
                        var nameProduct = $('.product-detail-name').html();

                        swal(nameProduct, "از لیست علاقه مندی ها حذف شد", "success");

                    }
                }

            });

        }
    </script>
{% endblock %}