<form class="form-product-ajax" class="form">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">

    <input type="hidden" name="product_name" class="product_name" value="{{ product.title }}">

    <span class="submit-span">


            {% if product.is_active and product.available_quantity > 0 %}
                <button type="submit" style="
                width:100%;
                height:50px;
                color:#fff;
                border:1px solid transparent;
                background:#ff0061;
                font-weight:400;
                border-radius:5px;
                margin-bottom:10px;
            ">اضافه به سبد خرید</button>
                {% else %}
                 <button disabled type="submit" style="
                width:100%;
                height:50px;
                color:#fff;
                border:1px solid transparent;
                background:black;
                font-weight:400;
                border-radius:5px;
                margin-bottom:10px;
            " >ناموجود!</button>
            {% endif %}

    </span>
</form>