{% extends 'dashboard.html' %}
{% load staticfiles %}
{% load filter_numbers %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'dashboard/style_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'carts/css/cart.css' %}">
{% endblock %}
{% block dashboard %}

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4 class="title">سفارش {{ object }}</h4>
                        <h5>وضعیت سفارش {{ object.status }}</h5>
                        <a href="{% url 'dashboard:dashboard_notifications_orders' %}">
                            بازگشت
                        </a>
                    </div>

                    <div class="shopping-cart">
                        <!-- Title -->


                        {% for entry in order.cart.entrys.all %}
                            <div class="item">
                                <div class="description">
                                    <span>محصول:</span>
                                    {{ entry.product }}
                                </div>


                                <div class="description">
                                    <span>تعداد:</span>
                                    {{ entry.quantity|persian_int }}

                                </div>
                                <div class="description">
                                    <span>موجودی فعلی:</span>
                                    {{ entry.product.available_quantity|persian_int }}
{#                                    {{ subProd.color.all }}#}
                                </div>

                                <div class="description">
                                    <span>جزئیات سفارش: </span>
                                    {% if entry.color %}
                                        رنگ: {{ entry.color }}
                                        <br>
                                    {% endif %}
                                    {% if entry.size %}
                                        سایز: {{ entry.size }}
                                    {% endif %}

                                </div>


                            </div>
                        {% endfor %}
                        <div class="item">
                            <div class="description">
                                <span>کل مبلغ پرداختی:</span>
                                {{ object.total|persian_int }} تومان
                            </div>
                        </div>
                        <div class="item">
                            <div class="notification-event">
                                <a href="" data-toggle="modal" data-target="#details"
                                   class="notification-link">
                                    {% if object.status == 'تایید شده' %}
                                        ثبت کد پیگیری پست
                                    {% else %}
                                        مشاهده اطلاعات ارسال و تایید سفارش
                                    {% endif %}

                                </a>
                                <div class="modal fade" id="details" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title w-100 font-weight-bold">اطلاعات ارسال
                                                    کالا</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body mx-3">


                                                <div class="form-group label-floating">
                                                    <label class="control-label">نام خریدار:
                                                    </label>
                                                    {{ object.address.profile.user.get_full_name }}
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">نام دریافت کننده:
                                                    </label>
                                                    {{ object.address.receiver_name }}
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">شماره تماس دریافت کننده: </label>
                                                    {{ object.address.receiver_phone_number }}
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">آدرس دریافت کننده: </label>
                                                    استان {{ object.address.state }} شهر
                                                    {{ object.address.city }}{{ object.address.address }}
                                                </div>
                                            </div>


                                            {% if object.status == 'تایید شده' %}
                                                <form class="address_form" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="orderId"
                                                       value="{{ object.id }}">
                                                <input type="text" name="tracePost" class="form-control" placeholder="کد رهگیری پست" style="font-size: large">
                                                <div class="modal-footer d-flex justify-content-center">
                                                    <button class="btn btn-default" type="submit">ثبت کد</button>
                                                </div>
                                            </form>
                                            {% else %}
                                              <form class="address_form" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="orderId"
                                                       value="{{ object.id }}">

                                                <div class="modal-footer d-flex justify-content-center">
                                                    <button class="btn btn-default" type="submit">تایید سفارش</button>
                                                </div>
                                            </form>

                                            <form class="address_form" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="orderId"
                                                       value="{{ object.id }}">
                                                <input type="hidden" name="rejectOrder"
                                                       value="True">
                                                <div class="modal-footer d-flex justify-content-center">
                                                    <button class="btn btn-warning" type="submit">رد سفارش</button>
                                                </div>
                                            </form>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Notification List -->

                    {#                    <ul class="notification-list">#}
                    {#                        <li>#}
                    {#                            <div class="shoping-cart-wrap table-responsive mb-30">#}
                    {#                                <table>#}
                    {#                                    <thead>#}
                    {#                                    <tr>#}
                    {#                                        <th class="shoping-cart-img">محصول</th>#}
                    {#                                        <th class="shoping-cart-name">تعداد سفارش</th>#}
                    {#                                        <th class="shoping-cart-price">موجودی فعلی</th>#}
                    {#                                        <th class="shoping-cart-quantity">مبلغ کل</th>#}
                    {#                                        <th class="shoping-cart-quantity">هزینه ارسال</th>#}
                    {#                                        <th class="shoping-cart-quantity">جزئیات</th>#}
                    {#                                <th class="shoping-cart-total">وضعیت پرداخت</th>#}
                    {#                                <th class="shoping-cart-remove">جزئیات</th>#}
                    {#                                    </tr>#}
                    {#                                    </thead>#}
                    {#                                </table>#}
                    {#                                <div class="table-wrap">#}
                    {#                                    <table class="cart-table">#}
                    {#                                        <tbody class="cart-body">#}
                    {#                                        {% for entry in object.cart.entrys.all %}#}
                    {##}
                    {#                                            <tr class="cart-entry">#}
                    {#                                                <td class="shoping-cart-img">#}
                    {#                                                {% if entry.product.image %}#}
                    {#                                                    <img src="{{ entry.product.image.url }}" alt="" />#}
                    {#                                                    {% else %}#}
                    {#                                                    <img src="" alt="" />#}
                    {#                                                {% endif %}#}
                    {#                                                    {{ entry.product }}#}
                    {##}
                    {#                                                </td>#}
                    {#                                                <td class="shoping-cart-name">#}
                    {#                                                    {{ entry.quantity|persian_int }}#}
                    {#                                                </td>#}
                    {#                                                <td class="shoping-cart-price">#}
                    {#                                                    {{ entry.product.available_quantity|persian_int }}#}
                    {#                                                </td>#}
                    {#                                                <td class="shoping-cart-quantity">#}
                    {#                                                    {{ object.total }}#}
                    {#                                                </td>#}
                    {#                                                <td class="shoping-cart-total">#}
                    {#                                                    {{ object.shipping_total }}#}
                    {#                                                </td>#}
                    {#                                                <td class="shoping-cart-remove">#}
                    {#                                                    {% if details != '' %}#}
                    {#                                                        {{ details.color }}#}
                    {#                                                        <br>#}
                    {#                                                        {{ details.size }}#}
                    {#                                                    {% else %}#}
                    {#                                                        خالی#}
                    {#                                                    {% endif %}#}
                    {#                                                </td>#}
                    {#                                            </tr>#}
                    {#                                        {% endfor %}#}
                    {##}
                    {#                                        </tbody>#}
                    {#                                    </table>#}
                    {##}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </li>#}
                    {##}
                    {##}
                    {#                        <li>#}
                    {#                            <div class="notification-event">#}
                    {#                                <a href="" data-toggle="modal" data-target="#details"#}
                    {#                                   class="notification-link">مشاهده اطلاعات ارسال و تایید سفارش</a>#}
                    {#                                <div class="modal fade" id="details" tabindex="-1" role="dialog"#}
                    {#                                     aria-labelledby="myModalLabel" aria-hidden="true">#}
                    {#                                    <div class="modal-dialog" role="document">#}
                    {#                                        <div class="modal-content">#}
                    {#                                            <div class="modal-header text-center">#}
                    {#                                                <h4 class="modal-title w-100 font-weight-bold">اطلاعات ارسال#}
                    {#                                                    کالا</h4>#}
                    {#                                                <button type="button" class="close" data-dismiss="modal"#}
                    {#                                                        aria-label="Close">#}
                    {#                                                    <span aria-hidden="true">&times;</span>#}
                    {#                                                </button>#}
                    {#                                            </div>#}
                    {##}
                    {#                                            <div class="modal-body mx-3">#}
                    {##}
                    {##}
                    {#                                                <div class="form-group label-floating">#}
                    {#                                                    <label class="control-label">نام خریدار:#}
                    {#                                                    </label>#}
                    {#                                                    {{ object.address.profile.user.get_full_name }}#}
                    {#                                                </div>#}
                    {#                                                <div class="form-group label-floating">#}
                    {#                                                    <label class="control-label">نام دریافت کننده:#}
                    {#                                                    </label>#}
                    {#                                                    {{ object.address.receiver_name }}#}
                    {#                                                </div>#}
                    {#                                                <div class="form-group label-floating">#}
                    {#                                                    <label class="control-label">شماره تماس دریافت کننده: </label>#}
                    {#                                                    {{ object.address.receiver_phone_number }}#}
                    {#                                                </div>#}
                    {#                                                <div class="form-group label-floating">#}
                    {#                                                    <label class="control-label">آدرس دریافت کننده: </label>#}
                    {#                                                    استان {{ object.address.state }} شهر#}
                    {#                                                    {{ object.address.city }}{{ object.address.address }}#}
                    {#                                                </div>#}
                    {#                                            </div>#}
                    {#                                            <form class="address_form" method="post">#}
                    {#                                                {% csrf_token %}#}
                    {#                                                <input type="hidden" name="orderId"#}
                    {#                                                       value="{{ object.id }}">#}
                    {##}
                    {#                                                <div class="modal-footer d-flex justify-content-center">#}
                    {#                                                    <button class="btn btn-default" type="submit">تایید سفارش</button>#}
                    {#                                                </div>#}
                    {#                                            </form>#}
                    {##}
                    {#                                            <form class="address_form" method="post">#}
                    {#                                                {% csrf_token %}#}
                    {#                                                <input type="hidden" name="orderId"#}
                    {#                                                       value="{{ object.id }}">#}
                    {#                                                <input type="hidden" name="rejectOrder"#}
                    {#                                                       value="True">#}
                    {#                                                <div class="modal-footer d-flex justify-content-center">#}
                    {#                                                    <button class="btn btn-warning" type="submit">رد سفارش</button>#}
                    {#                                                </div>#}
                    {#                                            </form>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </li>#}
                    {#                    </ul>#}

                    <!-- ... end Notification List -->

                </div>


                <!-- Pagination -->


                <!-- ... end Pagination -->

            </div>


        </div>
    </div>
{% endblock %}