{% extends 'dashboard.html' %}
{% load jalali_tags %}
{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4 class="title">خبرنامه</h4>
                    </div>
                    <ul class="notification-list">
                        {% for message in messages %}
                        <li>
                            <a href="{{ message.get_absolute_url }}">{{ message }} در تاریخ  {{ message.date|to_jalali:'%y/%m/%d _ %H:%M:%S'  }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}