{% extends 'dashboard.html' %}
{% block dashboard %}
    {#    <div class="main ptb-50 bg-2">#}
    <!-- blog-details-area start -->
    {#		<div class="blog-details-area bg-2 ptb-70">#}
    <div class="container">
        <div class="row">
            <!-- sidebar-area start-->

            <!-- sidebar-area end-->
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    {% if user.staff %}

                        {% if "remove" in request.path %}
                            <div class="ui-block-title">
                                <h4 class="title">محصول برای حذف را انتخاب کنید</h4>
                                <a href="#" class="more">
                                    <svg class="olymp-three-dots-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <ul class="notification-list">
                                {% for obj in object_list %}
                                    <li>
                                        <div class="author-thumb">
                                            <img src="{{ obj.image.all.first.image.url }}" alt="product">
                                        </div>
                                        <div class="notification-event">
                                            <a href="{% url 'dashboard:dashboard_dikko_management_remove_product' pk=dikko.pk pro=obj.pk %}"
                                               class="h6 notification-friend">{{ obj }}</a>


                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>

                        {% else %}
                            <div class="ui-block-title">
                                <h4 class="title">محصول برای ویرایش را انتخاب کنید</h4>
                                <a href="#" class="more">
                                    <svg class="olymp-three-dots-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <ul class="notification-list">
                                {% for obj in object_list %}
                                    <li>
                                        <div class="author-thumb">
                                            <img src="{{ obj.image.all.first.image.url }}" alt="author">
                                        </div>
                                        <div class="notification-event">
                                            <a href="{% url 'dashboard:dashboard_dikko_management_edit_product' pk=dikko.pk pro=obj.pk %}"
                                               class="h6 notification-friend">{{ obj }}</a>


                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>




                        {% endif %}

                    {% endif %}


                </div>

            </div>
        </div>
    </div>
    {#		</div>#}
    {#    </div>#}
    <!-- blog-details-area end -->
{% endblock %}
<!-- newsletter-area start -->
