{% extends 'dashboard.html' %}
{% block dashboard %}
{#    <div class="main ptb-50 bg-2">#}
		<!-- blog-details-area start -->
{#		<div class="blog-details-area bg-2 ptb-70">#}
			<div class="container" >
				<div class="row">
					<!-- sidebar-area start-->

					<!-- sidebar-area end-->
					<div class="col-lg-9 col-md-8 col-xs-12">
						<div class="blog-details-wrap mb-20">

                            {% if user.staff %}

                                 <a href="{% url 'dashboard:dashboard_dikko_info' %}"> <button class="btn btn primary" >بازگشت</button></a>
                               <form class="dikko_form" method="post" enctype="multipart/form-data" data-cities-url="{% url 'dashboard:ajax_load_fields' %}" novalidate>
                                  {% csrf_token %}
                                {{ form.errors }}
                                <div class="row">
                                    <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                            <label class="control-label"> نام دیکو</label>
                                            {{ form.name }}
                                        </div>

                                        <div class="form-group label-floating">
                                            <label class="control-label">آدرس اختصاصی دیکو</label>
                                            {{ form.url }}
                                        </div>
                                     <div class="form-group label-floating">
                                            <label class="control-label">تصویر دیکو</label>
                                            {{ form.image }}
                                        </div>
                                    </div>



                                    		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">حوزه کاری دیکو</label>
									{{ form.field }}
								</div>

								<div class="form-group label-floating is-empty">
									<label class="control-label">زیر شاخه</label>
									{{ form.sfield }}
								</div>


							</div>
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                            <input type="hidden"  name="owner" value="{{ user.profile.seller_profile }}" id="id_owner">
								<button class="btn btn-primary btn-lg full-width">ثبت تغییرات</button>
							</div>

                                </div>
                                </form>
                            {% endif %}





						</div>

					</div>
				</div>
			</div>
{#		</div>#}
{#    </div>#}
		<!-- blog-details-area end -->
{% endblock %}
{% block javascript %}

<script>
    $("#id_field").change(function () {
        console.log("kjk");
      var url = $(".dikko_form").attr("data-cities-url");  // get the url of the `load_cities` view
      var stateId = $(this).val();  // get the selected country ID from the HTML input
        console.log(stateId);

      $.ajax({
        url: url,
        data: {
          'field': stateId
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_sfield").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
    $(document).ready(function (){
        var insert=$(".inser-info-success").val();
        if(insert=='True'){
             $('#overlay2').modal('show');

                            setTimeout(function() {
                                $('#overlay2').modal('hide');
                            }, 2000);
        }
    })
  </script>

{% endblock %}
		<!-- newsletter-area start -->
