{% extends 'dashboard.html' %}

{% block dashboard %}
{#    <div class="main ptb-50">#}
		<!-- blog-details-area start -->
{#		<div class="blog-details-area bg-2 ptb-70">#}
			<div class="container" >
				<div class="row">
					<!-- sidebar-area start-->

					<!-- sidebar-area end-->
					<div class="col-lg-9 col-md-8 col-xs-12">
						<div class="blog-details-wrap mb-20">
                            <div class="row">
                                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <p>مدیریت دیکو</p>


                                </div>
                            </div>






						</div>

					</div>
				</div>
			</div>
{#		</div>#}
{#    </div>#}
		<!-- blog-details-area end -->
{% endblock %}
		<!-- newsletter-area start -->
