{% extends 'dashboard.html' %}
{% load staticfiles %}
{#{% block stylesheet %}#}
{#<link rel="stylesheet" href="{% static 'dashboard/main.css' %}">#}
{#{% endblock %}#}
{% block dashboard %}

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4 class="title">لیست علاقه مندی ها</h4>
                        <a href="#" class="more">
                            <svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>
                        </a>
                    </div>


                    <!-- Notification List -->

                    <ul class="notification-list">
                        {% for obj in object_list %}
                            <li>
                             <a href="{{ obj.get_absolute_url }}">
                                <div class="author-thumb">
                                    <img src="{{ obj.image.all.first.image.url }}" alt="author">
                                </div></a>
                                <div class="notification-event">
                                    <a href="{{ obj.get_absolute_url }}"
                                       class="h6 notification-friend">{{ obj }}</a>

                                <span class="notification-date" id="remove_fave" style="cursor: pointer">حذف از لیست</span>
                            <input type="hidden" name="fave_id" class="fave_id" value="{{ obj.id }}">
                                    <input type="hidden" name="fave_name" class="fave_name" value="{{ obj.title }}">
                                </div>


                            </li>


                            {#                        {{ notification }}#}
                        {% endfor %}

                    </ul>

                    <!-- ... end Notification List -->

                </div>


                <!-- Pagination -->
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}

                <!-- ... end Pagination -->

            </div>


        </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function () {
$("#remove_fave").click(function () {
                add_favorite();
            });

    function add_favorite() {
            var ajax_url = '/favorite_list/add';
            var ajax_method = 'GET';
            var fave_id = $(".fave_id");
            var data = {"product_id":fave_id.val()};
            $.ajax({
                url: ajax_url,
                method: ajax_method,
                data: data,
                success: function (data) {
                    var valid = data.valid
                    if (valid === 1) {
                        var nameProduct = $('.product-detail-name').html();
                        swal(nameProduct, "به لیست علاقه مندی ها اضافه شد", "success");
                        $("#label_like").hide();
                        $("#like").hide();
                        $("#add_wishlist_p").hide();
                    }
                    else {
{#                        $("#add_favorite_btn").html("اضافه به علاقه مندی ها")#}
                        var fave_name = $(".fave_name");
                        var nameProduct = fave_name.val();

{#                        swal(nameProduct, "از لیست علاقه مندی ها حذف شد", "success");#}

                    }
                    location.reload();
                }

            });

        }


})


</script>
{% endblock %}