{% extends 'dashboard.html' %}
{% block dashboard %}
<div class="container" >
{% if request.user.is_staff %}

				<div class="row">
					<!-- sidebar-area start-->

					<!-- sidebar-area end-->
					<div class="col-lg-9 col-md-8 col-xs-12">
						<div class="blog-details-wrap mb-20">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.verb }}
                                <button class="btn btn-primary btn-lg full-width" type="submit">ثبت تغییرات</button>
                            </form>

                        </div>
                    </div>
                </div>
{% endif %}
</div>
{% endblock %}