{% extends 'dashboard.html' %}
{% load staticfiles %}
{% load jalali_tags %}
{#{% block stylesheet %}#}
{#<link rel="stylesheet" href="{% static 'dashboard/main.css' %}">#}
{#{% endblock %}#}
{% block dashboard %}

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4 class="title">اعلانیه های سفارشات</h4>

                    </div>


                    <!-- Notification List -->

                    <ul class="notification-list">
                        {% for notification in notifications %}
                            <li>

                                <div class="notification-event">
                                    <a href="#"
                                       class="h6 notification-friend">{{ notification.actor }}</a> {{ notification.verb }}
                                    <a href="{% url 'dashboard:dashboard_notifications_orders_details' pk=notification.content_object.pk %}" class="notification-link">{{ notification.content_object }}</a>.
                                    <span class="notification-date"><time class="entry-date updated"
                                                                          datetime="2004-07-24T18:18">{{ notification.timestamp|to_jalali:'%y/%m/%d _ %H:%M:%S' }}</time>

                                    <p>{{ notification.content_object.status }}</p>
                                    </span>
                                </div>


                            </li>


                            {#                        {{ notification }}#}
                        {% endfor %}

                    </ul>

                    <!-- ... end Notification List -->

                </div>


                <!-- Pagination -->

                               {% if notifications.has_other_pages %}
  <ul class="pagination">
    {% if notifications.has_previous %}
      <li><a href="?page={{ notifications.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in notifications.paginator.page_range %}
      {% if notifications.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if notifications.has_next %}
      <li><a href="?page={{ notifications.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
                <!-- ... end Pagination -->

            </div>


        </div>
    </div>
{% endblock %}