{% extends 'dashboard.html' %}
{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4 class="title">اعلانیه ها</h4>
                        <a href="#" class="more">
                            <svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>
                        </a>
                    </div>


                    <!-- Notification List -->

                    <ul class="notification-list">
                        {% for obj in object_list %}
                            <li>
                                {#                                <div class="author-thumb">#}
                                {#                                    <img src="{{ obj.image.url }}" alt="author">#}
                                {#                                </div>#}
                                <div class="notification-event">
                                    <a href="" data-toggle="modal" data-target="#my_modal"
                                       class="h6 notification-friend">{{ obj.verb }}</a>
                                    <span class="notification-date">
                                        {% if obj.is_read  %}
                                        خوانده شده
                                        {% else %}
                                        خوانده نشده
                                        {% endif %}
                                    </span>

                                    <div class="modal fade" id="my_modal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title w-100 font-weight-bold">اعلانیه از طرف بق بند
                                                    </h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body mx-3">

                                                    {{ obj.verb }}
                                                    <input type="hidden" class="notifId"
                                                           value="{{ obj.id }}">

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </li>


                            {#                        {{ notification }}#}
                        {% endfor %}

                    </ul>

                    <!-- ... end Notification List -->

                </div>


                <!-- Pagination -->
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}

                <!-- ... end Pagination -->

            </div>


        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#my_modal').on('hidden.bs.modal', function (e) {
                var notif = $(this).find('.notifId')
                console.log(notif.val())
                 var data = {"notif_id":notif.val()};
                $.ajax({
                    url: "/notifications/read_notif_api/",
                    method: "GET",
                    data: data,
                    success: function (data) {
                        location.reload()
                    }
                });
            })
        })
    </script>
{% endblock %}