{% extends 'dashboard.html' %}
{% load staticfiles %}
{% load jalali_tags %}
{% load filter_numbers %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'dashboard/style_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'carts/css/cart.css' %}">
{% endblock %}
{% block javascript %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}
{% block dashboard %}
    {# 	    <div class="main ptb-50">#}
    <!-- blog-details-area start -->
    {#		<div class="blog-details-area bg-2 ptb-70">#}
    <div class="container">
        <div class="row">
            <!-- sidebar-area start-->

            <!-- sidebar-area end-->
            <div class="col-lg-10 col-md-10 col-xs-12">
                <div class="blog-details-wrap mb-20">
                    <div class="shopping-cart">
                        <!-- Title -->
                        {% for order in orders %}



                            {#                        {% for entry in order.cart.entrys.all %}#}
                            <div class="item">
                                <div class="description">
                                    <span>شماره سفارش:</span>
                                    {{ order }}
                                </div>


                                <div class="description">
                                    <span>تاریخ سفارش:</span>
                                    {{ order.created_date|to_jalali }}

                                </div>
                                <div class="description">
                                    <span>وضعیت سفارش: </span>
                                    {{ order.status }}
                                </div>

                                <div class="description">
                                    <span>جزئیات</span>
                                    <a href="" data-toggle="modal" data-target="#{{ order }}">مشاهده</a>
                                </div>


                            </div>
                            <hr style="height:1px;border:none;color:#333;background-color:#333;">
                            <div class="modal fade" id="{{ order }}" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                            <h4 class="modal-title">سفارش {{ order }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="checkout-form">
                                                <ul>
                                                    {% for entry in order.cart.entrys.all %}

                                                        <li>{{ entry.product }}<span>x{{ entry.quantity|persian_int }}</span><strong>{{ entry.total|persian_int }}
                                                            تومان</strong>
                                                        </li>



                                                    {% endfor %}
                                                </ul>
                                                {% if order.status == 'اولیه' %}
                                                    <p>هنوز سفارش خود را پرداخت نکرده اید.</p>
                                                {% elif order.status == 'پرداخت شده' %}
                                                    <p>سفارش شما با موفقیت پرداخت شده است و منتظر تایید بق بند
                                                        است</p>
                                                {% elif order.status == 'تایید شده' %}
                                                    <p>سفارش شما تایید شده است و در حال آماده سازی برای ارسال
                                                        است.</p>
                                                {% elif order.status == 'ارسال شده' %}
                                                    <p>سفارش شما تحویل پست شده است</p>
                                                    <p>کدپیگیری پست: </p>{{ order.tracePost }}
                                                {% elif order.status == 'رد شده' %}

                                                {% elif order.status == 'تحویل شده' %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                بستن
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {#                        {% endfor %}#}
                        {% endfor %}

                    </div>


                    {#                    <div class="container-table-cart pos-relative">#}
                    {#                        <div class="wrap-table-shopping-cart bgwhite">#}
                    {#                            <table class="table-shopping-cart">#}
                    {#                                <tr class="table-head">#}
                    {#                                    <th class="column-1">شماره سفارش</th>#}
                    {#                                    <th class="column-1">تاریخ ثبت سفارش</th>#}
                    {#                                    <th class="column-1">وضعیت سفارش</th>#}
                    {#                                    <th class="column-1">جزئیات</th>#}
                    {#                                </tr>#}
                    {#                                {% for order in orders %}#}
                    {#                                    <tr class="table-row">#}
                    {#                                        <td class="column-1">#}
                    {#                                            {{ order }}#}
                    {#                                        </td>#}
                    {#                                        <td class="column-1">{{ order.created_date|to_jalali }}</td>#}
                    {#                                        <td class="column-1">{{ order.status }}</td>#}
                    {#                                        <td class="column-1">#}
                    {#                                            <a href="" data-toggle="modal" data-target="#{{ order }}">مشاهده</a>#}
                    {##}
                    {#                                        </td>#}
                    {#                                    </tr>#}
                    {#                                    <div class="modal fade" id="{{ order }}" role="dialog">#}
                    {#                                        <div class="modal-dialog">#}
                    {#                                            <div class="modal-content">#}
                    {#                                                <div class="modal-header">#}
                    {#                                                    <button type="button" class="close" data-dismiss="modal">&times;#}
                    {#                                                    </button>#}
                    {#                                                    <h4 class="modal-title">سفارش {{ order }}</h4>#}
                    {#                                                </div>#}
                    {#                                                <div class="modal-body">#}
                    {#                                                    <div class="checkout-form">#}
                    {#                                                        <ul>#}
                    {#                                                            {% for entry in order.cart.entrys.all %}#}
                    {##}
                    {#                                                                <li>{{ entry.product }}<span>x{{ entry.quantity|persian_int }}</span><strong>{{ entry.total|persian_int }}#}
                    {#                                                                    تومان</strong>#}
                    {#                                                                </li>#}
                    {##}
                    {##}
                    {##}
                    {#                                                            {% endfor %}#}
                    {#                                                        </ul>#}
                    {#                                                        {% if order.status == 'اولیه' %}#}
                    {#                                                            <p>هنوز سفارش خود را پرداخت نکرده اید.</p>#}
                    {#                                                        {% elif order.status == 'پرداخت شده' %}#}
                    {#                                                            <p>سفارش شما با موفقیت پرداخت شده است و منتظر تایید بق بند#}
                    {#                                                                است</p>#}
                    {#                                                        {% elif order.status == 'تایید شده' %}#}
                    {#                                                            <p>سفارش شما تایید شده است و در حال آماده سازی برای ارسال#}
                    {#                                                                است.</p>#}
                    {#                                                        {% elif order.status == 'ارسال شده' %}#}
                    {#                                                            <p>سفارش شما تحویل پست شده است</p>#}
                    {#                                                            <p>کدپیگیری پست: </p>#}
                    {#                                                        {% elif order.status == 'رد شده' %}#}
                    {##}
                    {#                                                        {% elif order.status == 'تحویل شده' %}#}
                    {##}
                    {#                                                        {% endif %}#}
                    {#                                                    </div>#}
                    {#                                                </div>#}
                    {#                                                <div class="modal-footer">#}
                    {#                                                    <button type="button" class="btn btn-default" data-dismiss="modal">#}
                    {#                                                        بستن#}
                    {#                                                    </button>#}
                    {#                                                </div>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                {% endfor %}#}
                    {##}
                    {#                            </table>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <!-- Cart -->
                    {#                                        <div class="col-md-12 col-sm-12 col-xs-12">#}
                    {#                    <div class="panel panel-danger">#}
                    {#                        <div class="panel-heading">#}
                    {#                            <h3 class="panel-title">لیست سفارشات</h3>#}
                    {##}
                    {#                        </div>#}
                    {##}
                    {#                        <table class="table table-hover" id="dev-table">#}
                    {#                            <thead>#}
                    {#                            <tr>#}
                    {#                                <th>شماره سفارش</th>#}
                    {#                                <th>تاریخ ثبت سفارش</th>#}
                    {#                                <th>وضعیت سفارش</th>#}
                    {#                                <th> جزئیات</th>#}
                    {#                            </tr>#}
                    {#                            </thead>#}
                    {#                            <tbody>#}
                    {#                            {% for order in orders %}#}
                    {#                                <tr>#}
                    {#                                    <td>{{ order.order_id }}</td>#}
                    {#                                    <td>{{ order.created_date|to_jalali }}</td>#}
                    {#                                    <td>{{ order.status }}</td>#}
                    {#                                    <td><a href="" data-toggle="modal" data-target="#{{ order }}">مشاهده</a></td>#}
                    {##}
                    {#                                    <!-- Modal -->#}
                    {#                                    <div class="modal fade" id="{{ order }}" role="dialog">#}
                    {#                                        <div class="modal-dialog">#}
                    {##}
                    {#                                            <!-- Modal content-->#}
                    {#                                            <div class="modal-content">#}
                    {#                                                <div class="modal-header">#}
                    {#                                                    <button type="button" class="close" data-dismiss="modal">&times;#}
                    {#                                                    </button>#}
                    {#                                                    <h4 class="modal-title">سفارش {{ order }}</h4>#}
                    {#                                                </div>#}
                    {#                                                <div class="modal-body">#}
                    {#                                                    <div class="checkout-form">#}
                    {#                                                        <ul>#}
                    {#                                                            {% for entry in order.cart.entrys.all %}#}
                    {##}
                    {#                                                                <li>{{ entry.product }}<span>x{{ entry.quantity|persian_int }}</span><strong>{{ entry.total|persian_int }}#}
                    {#                                                                    تومان</strong>#}
                    {#                                                                </li>#}
                    {##}
                    {##}
                    {##}
                    {#                                                            {% endfor %}#}
                    {#                                                        </ul>#}
                    {#                                                        {% if order.status == 'اولیه' %}#}
                    {#                                                        <p>هنوز سفارش خود را پرداخت نکرده اید.</p>#}
                    {#                                                        {% elif order.status == 'پرداخت شده' %}#}
                    {#                                                        <p>سفارش شما با موفقیت پرداخت شده است و منتظر تایید بق بند است</p>#}
                    {#                                                        {% elif order.status == 'تایید شده' %}#}
                    {#                                                         <p>سفارش شما تایید شده است و در حال آماده سازی برای ارسال است.</p>#}
                    {#                                                        {% elif order.status == 'ارسال شده' %}#}
                    {#                                                         <p>سفارش شما تحویل پست شده است</p>#}
                    {#                                                            <p>کدپیگیری پست: </p>#}
                    {#                                                        {% elif order.status == 'رد شده' %}#}
                    {##}
                    {#                                                        {% elif order.status == 'تحویل شده' %}#}
                    {##}
                    {#                                                        {% endif %}#}
                    {#                                                    </div>#}
                    {#                                                </div>#}
                    {#                                                <div class="modal-footer">#}
                    {#                                                    <button type="button" class="btn btn-default" data-dismiss="modal">#}
                    {#                                                        بستن#}
                    {#                                                    </button>#}
                    {#                                                </div>#}
                    {#                                            </div>#}
                    {##}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                </tr>#}
                    {#                            {% endfor %}#}
                    {#                            </tbody>#}
                    {#                        </table>#}
                    {#                    </div>#}
                </div>

                {#                    <div class="row">#}
                {#                        <div class="col-xs-12">#}
                {#                            <div class="shoping-cart-wrap table-responsive mb-30">#}
                {#                                <table>#}
                {#                                    <thead>#}
                {#                                    <tr>#}
                {#                                        <th class="shoping-cart-img">شماره سفارش</th>#}
                {#                                        <th class="shoping-cart-name"> تاریخ ثبت سفارش</th>#}
                {#                                        <th class="shoping-cart-price">وضعیت سفارش</th>#}
                {#                                        <th class="shoping-cart-quantity">مبلغ کل</th>#}
                {#                                        <th class="shoping-cart-total">وضعیت پرداخت</th>#}
                {#                                        <th class="shoping-cart-remove">جزئیات</th>#}
                {#                                    </tr>#}
                {#                                    </thead>#}
                {#                                </table>#}
                {#                                <div class="table-wrap">#}
                {#                                    <table class="cart-table">#}
                {#                                        <tbody class="cart-body">#}
                {#                                        {% for order in orders %}#}
                {##}
                {#                                            <tr class="cart-entry">#}
                {#                                                <td class="shoping-cart-img">#}
                {#                                                {% if entry.product.image %}#}
                {#                                                    <img src="{{ entry.product.image.url }}" alt="" />#}
                {#                                                    {% else %}#}
                {#                                                    <img src="" alt="" />#}
                {#                                                {% endif %}#}
                {#                                                    {{ order.order_id }}#}
                {##}
                {#                                                </td>#}
                {#                                                <td class="shoping-cart-name">#}
                {#                                                    {{ order.created_date|to_jalali:'%y/%m/%d _ %H:%M:%S' }}#}
                {#                                                </td>#}
                {#                                                <td class="shoping-cart-price">#}
                {#                                                    {{ order.status }}#}
                {#                                                </td>#}
                {#                                                <td class="shoping-cart-quantity">#}
                {#                                                    {{ order.total|persian_int }}#}
                {#                                                </td>#}
                {#                                                <td class="shoping-cart-total">#}
                {#												<span>{% widthratio entry.quantity 1 entry.product.price %} تومان</span>#}
                {#                                                </td>#}
                {#                                                <td class="shoping-cart-remove">#}
                {#                                                {% include 'carts/remove-product.html' with entry_id=entry.id  %}#}
                {#                                                </td>#}
                {#                                            </tr>#}
                {#                                        {% endfor %}#}
                {##}
                {#                                        </tbody>#}
                {#                                    </table>#}
                {#                                    <div class="cart-item-remove-form" style="display: none">#}
                {#                                        {% include 'carts/remove-product.html' %}#}
                {#                                    </div>#}
                {#								<div class="shoping-cart-btn">#}
                {#									<a href="#">بروزرسانی</a>#}
                {#									<a href="#">ادامه خرید</a>#}
                {#								</div>#}
                {#                                </div>#}
                {#                            </div>#}
                {##}
                {#                        </div>#}
                {#                    </div>#}


                {#                </div>#}

            </div>
        </div>
    </div>
    {#		</div>#}
    {#    </div>#}
{% endblock %}