{% extends 'dashboard.html' %}
{% load staticfiles %}
{% load jalali_tags %}
{#{% block stylesheet %}#}
{#<link rel="stylesheet" href="{% static 'dashboard/main.css' %}">#}
{#{% endblock %}#}
{% block dashboard %}

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4 class="title">اعلانیه های نظرات</h4>
                        <a href="#" class="more">
                            <svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>
                        </a>
                    </div>


                    <!-- Notification List -->

                    <ul class="notification-list">

                        {% for notification in notifications %}
                            <li>

                                <div class="notification-event">
                                    <a href="#"
                                       class="h6 notification-friend">{{ notification.actor }}</a> {{ notification.verb }}
                                    <a href="" data-toggle="modal" data-target="#{{ notification.id }}"
                                       class="notification-link">{{ notification.content_object }}</a>.

                                    <span class="notification-date"><time class="entry-date updated"
                                                                          datetime="2004-07-24T18:18">{{ notification.timestamp|to_jalali:'%y/%m/%d _ %H:%M:%S' }}</time>
                                        {% if notification.content_object.approved_comment %}
                                            <p> تایید شده</p>
                                        {% else %}
                                            <p>منتظر تایید</p>
                                        {% endif %}

                                        <a href="{{ notification.content_object.get_absolute_url }}">مشاهده پست</a>
                                    </span>

                                    <div class="modal fade" id="{{ notification.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title w-100 font-weight-bold">جزئیات نظر ثبت
                                                        شده</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body mx-3">


                                                    <div class="form-group label-floating">
                                                        <label class="control-label">متن نظر:
                                                        </label>
                                                        {{ notification.content_object.text }}
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">وضعیت تایید</label>
                                                        {{ notification.content_object.approved_comment }}
                                                    </div>
                                                </div>
                                                <form class="address_form" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="commentId"
                                                           value="{{ notification.content_object.id }}">

                                                    <div class="modal-footer d-flex justify-content-center">
                                                        <button class="btn btn-default" type="submit">تایید نظر</button>
                                                    </div>
                                                </form>

                                                    <form class="address_form" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="commentId"
                                                           value="{{ notification.content_object.id }}">
                                                    <input type="hidden" name="deleteComment"
                                                           value="True">
                                                    <div class="modal-footer d-flex justify-content-center">
                                                        <button class="btn btn-warning" type="submit">حذف نظر</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </li>


                            {#                        {{ notification }}#}
                        {% endfor %}

                    </ul>

                    <!-- ... end Notification List -->

                </div>


                <!-- Pagination -->
                {% if notifications.has_other_pages %}
  <ul class="pagination">
    {% if notifications.has_previous %}
      <li><a href="?page={{ notifications.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in notifications.paginator.page_range %}
      {% if notifications.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if notifications.has_next %}
      <li><a href="?page={{ notifications.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

                <!-- ... end Pagination -->

            </div>


        </div>
    </div>
{% endblock %}