{% extends 'dashboard.html' %}
{% load static %}
{% block dashboard %}

    {{ another_form.media }}
    {#    <div class="main ptb-50 bg-2">#}
    <!-- blog-details-area start -->
    {#		<div class="blog-details-area bg-2 ptb-70">#}
    <div class="container">
        <div class="row">
            <!-- sidebar-area start-->

            <!-- sidebar-area end-->
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="blog-details-wrap mb-20">
                        {{ another_form.errors }}
                        {% if user.staff %}
                            <form method="post" enctype="multipart/form-data">
                                {#                                     <div class="modal-body mx-3">#}

                                {% csrf_token %}
                                {#                                            <div class="form-group label-floating">#}
                                {#									            <label class="control-label">نام محصول</label>#}
                                {#									            {{ form.title }}#}
                                {##}
                                {#								            </div>#}
                                {#                                            <div class="form-group label-floating">#}
                                {#									            <label class="control-label">توضیحات</label>#}
                                {#									            {{ form.description }}#}
                                {#								            </div>#}
                                {#                                            <div class="form-group label-floating">#}
                                {#                                                <label class="control-label">قیمت محصول</label>#}
                                {#                                                {{ form.price }}#}
                                {#                                            </div>#}
                                {#                                            <div class="form-group label-floating">#}
                                {#									            <label class="control-label">عکس محصول</label>#}
                                {#									            {{ form.image }}#}
                                {#								            </div>#}
                                {#                                            <div class="form-group label-floating">#}
                                {#									            <label class="control-label">2عکس محصول</label>#}
                                {#									            {{ form.image2 }}#}
                                {#								            </div>#}
                                {#                                            <div class="form-group label-floating">#}
                                {#									            <label class="control-label">3عکس محصول</label>#}
                                {#									            {{ form.image3 }}#}
                                {#								            </div>#}
                                {#                                            <div class="form-group label-floating">#}
                                {#									            <label class="control-label">4عکس محصول</label>#}
                                {#									            {{ form.image4 }}#}
                                {#								            </div>#}
                                <div class="row">
                                    <div class="col col-md-12">
                              <div class="form-group ">
                                            <label class="control-label">  {{ another_form.title.label }}</label>

                                            {{ another_form.title }}
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label">{{ another_form.description.label }}</label>

                                            {{ another_form.description }}
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label">عکس ها</label>

                                            <input name="files" type="file" size="50" accept="image/*" multiple>
                                        </div>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-lg-6 col-md-6 col-sm-12 col-12">


                                    </div>
                                    {% for item in another_form %}
                                        {% if item.name != 'title' and item.name != 'description' and item.name != 'image' %}
                                            {#                                            {{ item }}#}
                                            {#                                         {% if item.count > 0 %}#}

                                            {#                                             {% else %}#}
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label class="control-label">{{ item.label }}</label>

                                                    {{ item }}
                                                </div>
                                            </div>
                                            {#                                        {% endif %}#}
                                        {% endif %}




                                        {#                                        {% for i in item %}#}
                                        {#                                            <div class="col-md-9">#}
                                        {##}
                                        {##}
                                        {##}
                                        {#                                            	<input type="checkbox" name="check" checked> <span class="label-text">{{ i }}</span>#}
                                        {#                                            </div>#}
                                        {#                                        {% endfor %}#}




                                    {% endfor %}


                                </div>


                                {#                                           <div class="form-group label-floating">#}
                                {#									            <label class="control-label">تگ ها</label>#}
                                {#									            {{ form.tags }}#}
                                {#								            </div>#}


                                {#                                     </div>#}
                                <div class="modal-footer d-flex justify-content-center">
                                    <input type="hidden" value="charm2" name="hidden_input">
                                    <button class="btn btn-default" type="submit">ثبت</button>
                                </div>
                            </form>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    {#		</div>#}
    {#    </div>#}
    <!-- blog-details-area end -->
{% endblock %}
<!-- newsletter-area start -->
