{% extends 'base.html' %}
{% load staticfiles %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'dashboard/style_dashboard.css' %}">

    {#    <link rel="stylesheet" href="{% static 'dashboard/main.css' %}">#}
{% endblock %}
{% block content %}

    <!-- header start -->

    <!-- breadcumb-area start -->
    <div class=" ptb-70 bg-account">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-account">
                        {% if user.admin %}
                            <h2>پروفایل مدیریت {{ profile.user.first_name }}</h2>
                            <p>به صفحه مدیریت خود خوش آمدید.تمامی تنظیمات کاربری را در اینجا پیدا میکنید</p>
                        {% else %}
                            <h2>پروفایل کاربری {{ profile.user.first_name }}</h2>
                            <p>به صفحه پروفایل کاربری خود خوش آمدید.تمامی تنظیمات کاربری را در اینجا پیدا میکنید</p>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    {% if user.admin %}
        <img class="img-bottom" src="{% static 'dashboard/img/statistics-bottom.png' %}" alt="friends">

{#        <img class="img-bottom" src="{% static 'dashboard/img/bg-section4.png' %}" alt="friends">#}
    {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-4">
                <div class="sidebar-wrap">
                    <h3 class="sidebar-title">حساب کاربری شما</h3>
                    <div class="recent-product-wrap">
                        <ul>
                            <li>
                                <div class="recent-product-img">
                                    <img src="{% static 'dashboard/img/profile.png' %}" alt=""/>
                                </div>
                                <div class="recent-product-content">

                                    {% if request.path == "/dashboard/" %}
                                        <a href="{% url 'dashboard:dashboard_account_information' %}"
                                           style="color:#ff0061">اطلاعات
                                            شخصی</a>
                                    {% else %}
                                        <a href="{% url 'dashboard:dashboard_account_information' %}">اطلاعات شخصی</a>
                                    {% endif %}


                                </div>
                            </li>
                            {% if not request.user.is_admin %}
                                <li>

                                    <div class="recent-product-img">
                                        <img src="{% static 'dashboard/img/notification.png' %}" alt=""/>
                                    </div>
                                    <div class="recent-product-content">

                                        {% if request.path == "/dashboard/notifications/list" %}
                                            <a href="{% url 'dashboard:dashboard_notifications_list' %}"
                                               style="color:#ff0061">اعلانیه ها</a>
                                        {% else %}
                                            <a href="{% url 'dashboard:dashboard_notifications_list' %}">اعلانیه ها</a>
                                        {% endif %}


                                    </div>
                                </li>
                            {% endif %}
                            <li>
                                <div class="recent-product-img">
                                    <img src="{% static 'dashboard/img/wishlist.png' %}" alt=""/>
                                </div>
                                <div class="recent-product-content">

                                    {% if request.path == "/dashboard/favorite_list/" %}
                                        <a href="{% url 'dashboard:dashboard_favorite_list' %}" style="color:#ff0061">
                                        لیست علاقه مندی ها
                                    {% else %}
                                        <a href="{% url 'dashboard:dashboard_favorite_list' %}">لیست علاقه مندی ها</a>
                                    {% endif %}


                                </div>
                            </li>
                            {% if user.admin %}
                                <li>
                                    <div class="recent-product-img">
                                        <img src="{% static 'dashboard/img/dikko-icon.png' %}" alt=""/>
                                    </div>

                                    <div class="recent-product-content">
                                        {% if request.path == "/dashboard/create_dikko/" %}
                                            <a href="{% url 'dashboard:dashboard_create_dikko' %}"
                                               style="color: #ff0061">ساخت
                                                دیکو</a>
                                        {% else %}
                                            <a href="{% url 'dashboard:dashboard_create_dikko' %}">ساخت دیکو</a>
                                        {% endif %}
                                        {#												<span>12 مهر 1396</span>#}
                                    </div>
                                </li>

                                <li>
                                    <div class="recent-product-img">
                                        <img src="{% static 'dashboard/img/discount.png' %}" alt=""/>
                                    </div>

                                    <div class="recent-product-content">
                                        {% if request.path == "/dashboard/discount_codes/" %}
                                            <a href="{% url 'dashboard:dashboard_discount_codes' %}"
                                               style="color: #ff0061">
                                                کدهای تخفیف</a>
                                        {% else %}
                                            <a href="{% url 'dashboard:dashboard_discount_codes' %}">کدهای تخفیف</a>
                                        {% endif %}
                                        {#												<span>12 مهر 1396</span>#}
                                    </div>
                                </li>
                                <li>
                                    <div class="recent-product-img">
                                        <img src="{% static 'dashboard/img/discount.png' %}" alt=""/>
                                    </div>

                                    <div class="recent-product-content">
                                        {% if request.path == "/dashboard/analytics/" %}
                                            <a href="{% url 'dashboard:dashboard_analytics' %}"
                                               style="color: #ff0061">
                                                آمار</a>
                                        {% else %}
                                            <a href="{% url 'dashboard:dashboard_analytics' %}">آمار</a>
                                        {% endif %}
                                        {#												<span>12 مهر 1396</span>#}
                                    </div>
                                </li>


                                <li>

                                    <div class="recent-product-img">
                                        <img src="{% static 'dashboard/img/dikko-icon.png' %}" alt=""/>
                                    </div>

                                    <div class="recent-product-content">
                                        {% if request.path == "/dashboard/dikko_info/" %}
                                            <a href="{% url 'dashboard:dashboard_dikko_info' %}" style="color: #ff0061">اطلاعات
                                                دیکو</a>
                                        {% else %}
                                            <a href="{% url 'dashboard:dashboard_dikko_info' %}">اطلاعات دیکو</a>
                                        {% endif %}
                                        {#												<span>12 مهر 1396</span>#}
                                    </div>
                                </li>

                                <li>
                                    <div class="recent-product-img">
                                        <img src="{% static 'dashboard/img/manage.png' %}" alt=""/>
                                    </div>
                                    <div class="recent-product-content">
                                        {% if request.path == "/dashboard/dikko_management/" %}
                                            <a href="#collapseDikko" data-toggle="collapse" role="button"
                                               aria-expanded="false" aria-controls="collapseDikko"
                                               style="color: #ff0061">مدیریت
                                                دیکو</a>

                                        {% else %}
                                            <a href="#collapseDikko" data-toggle="collapse" role="button"
                                               aria-expanded="false" aria-controls="collapseExample">مدیریت دیکو</a>
                                        {% endif %}
                                        <div class="collapse" id="collapseDikko">
                                            <div class="card card-body" style="padding-top: 15px;padding-right: 8px">
                                                <div>
                                                    <a href="{% url 'dashboard:dashboard_dikko_pre_add' %}"
                                                       style="font-size: 10px">اضافه کردن محصول</a>
                                                    <a href="{% url 'dashboard:dashboard_dikko_pre_remove' %}"
                                                       style="font-size: 10px">حذف کردن محصول</a>
                                                    <a href="{% url 'dashboard:dashboard_dikko_pre_edit' %}"
                                                       style="font-size: 10px">ویرایش محصول</a>
                                                </div>
                                            </div>
                                        </div>
                                        {#												<span>12 مهر 1396</span>#}
                                    </div>
                                </li>
                                <li>
                                    <div class="recent-product-img">
                                        <img src="{% static 'dashboard/img/notification.png' %}" alt=""/>
                                    </div>
                                    <div class="recent-product-content">
                                        {% if request.path == "/dashboard/notifications/" %}
                                            <a href="#collapseNotif" data-toggle="collapse" role="button"
                                               aria-expanded="false" aria-controls="collapseNotif"
                                               style="color: #ff0061">اعلانیه ها</a>
                                        {% else %}
                                            <a href="#collapseNotif" data-toggle="collapse" role="button"
                                               aria-expanded="false" aria-controls="collapseNotif">اعلانیه ها</a>
                                        {% endif %}


                                        <div class="collapse" id="collapseNotif">
                                            <div class="card card-body" style="padding-top: 15px;padding-right: 8px">
                                                <div>
                                                    <a href="{% url 'dashboard:dashboard_notifications_orders' %}"
                                                       style="font-size: 10px">سفارشات</a>
                                                    <a href="{% url 'dashboard:dashboard_notifications_comments' %}"
                                                       style="font-size: 10px">نظرات</a>
                                                    <a href="{% url 'dashboard:dashboard_notifications_create' %}"
                                                       style="font-size: 10px">ایجاد اعلانیه</a>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="recent-product-img">
                                        <img src="{% static 'dashboard/img/news-feed.png' %}" alt=""/>
                                    </div>

                                    <div class="recent-product-content">
                                        {% if request.path == "/dashboard/subcribers/" %}
                                            <a href="{% url 'dashboard:dashboard_subscribers_communities' %}"
                                               style="color: #ff0061">مدیریت خبرنامه</a>
                                        {% else %}
                                            <a href="{% url 'dashboard:dashboard_subscribers_communities' %}">مدیریت خبرنامه</a>
                                        {% endif %}
                                        {#												<span>12 مهر 1396</span>#}
                                    </div>
                                </li>
                                     <li>
                                    <div class="recent-product-img">
                                        <img src="{% static 'dashboard/img/complain.png' %}" alt=""/>
                                    </div>

                                    <div class="recent-product-content">
                                        {% if request.path == "/dashboard/complains/" %}
                                            <a href="{% url 'dashboard:dashboard_complains_list' %}"
                                               style="color: #ff0061">شکایات</a>
                                        {% else %}
                                            <a href="{% url 'dashboard:dashboard_complains_list' %}">شکایات</a>
                                        {% endif %}
                                        {#												<span>12 مهر 1396</span>#}
                                    </div>
                                </li>
                            {% endif %}
                            <li>
                                <div class="recent-product-img">
                                    <img src="{% static 'dashboard/img/orders.png' %}" alt=""/>
                                </div>
                                <div class="recent-product-content">
                                    {% if request.path == "/dashboard/orders/" %}
                                        <a href="{% url 'dashboard:dashboard_orders' %}" style="color: #ff0061">همه
                                            سفارشات</a>
                                    {% else %}
                                        <a href="{% url 'dashboard:dashboard_orders' %}">همه سفارشات</a>
                                    {% endif %}
                                </div>
                            </li>


                            <li>
                                <div class="recent-product-img">
                                    <img src="{% static 'dashboard/img/address.png' %}" alt=""/>
                                </div>
                                <div class="recent-product-content">
                                    {% if request.path == "/dashboard/addresses/" %}
                                        <a href="{% url 'dashboard:dashboard_addresses' %}" style="color: #ff0061">آدرس
                                            ها</a>
                                    {% else %}
                                        <a href="{% url 'dashboard:dashboard_addresses' %}">آدرس ها</a>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12  col-md-8 col-lg-8">
                {% block dashboard %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
