{% extends 'dashboard.html' %}
{% block dashboard %}
    {#    <div class="main ptb-50 bg-2">#}
    <!-- blog-details-area start -->
    {#		<div class="blog-details-area bg-2 ptb-70">#}
    <div class="container">
        <div class="row">
            <!-- sidebar-area start-->

            <!-- sidebar-area end-->
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">

                    {% if user.staff %}
                        {% if request.path == "/dashboard/dikko_management/" %}
                            {% for dikko in object_list %}
                                <a href="{% url 'dashboard:dashboard_dikko_management_add_product' pk=dikko.pk %}">
                                    <button class="btn btn primary">{{ dikko }}</button>
                                </a>
                            {% endfor %}
                            <a href="{% url 'dashboard:dashboard_dikko_management_remove_product'  pk=17 pro=47 %}">
                                <button class="btn btn primary">حذف</button>
                            </a>
                        {% elif request.path == "/dashboard/dikko_info/" %}
                            <div class="ui-block-title">
                                <h4 class="title">اطلاعات دیکو ها</h4>
                                <a href="#" class="more">
                                    <svg class="olymp-three-dots-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <ul class="notification-list">
                                {% for obj in object_list %}
                                    <li>
                                        <div class="notification-event">
                                            <a href="{% url 'dashboard:dashboard_dikko_info_details' pk=obj.pk %}"
                                               class="h6 notification-friend">{{ obj }}</a>


                                        </div>
                                        {#                                          <a href="{% url 'dashboard:dashboard_dikko_info_details' pk=obj.pk %}"> <button class="btn btn primary" >{{ obj }}</button></a>#}
                                    </li>
                                {% endfor %}

                            </ul>


                        {% elif request.path == "/dashboard/dikko_management/pre_add" %}
                              <div class="ui-block-title">
                                <h4 class="title">دیکو برای اضافه کردن محصول را انتخاب کنید</h4>
                                <a href="#" class="more">
                                    <svg class="olymp-three-dots-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <ul class="notification-list">
                                {% for obj in object_list %}
                                    <li>
                                        <div class="notification-event">
                                            <a href="{% url 'dashboard:dashboard_dikko_management_add_product' pk=obj.pk %}"
                                               class="h6 notification-friend">{{ obj }}</a>


                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>



                        {% elif request.path == "/dashboard/dikko_management/pre_remove" %}


                                     <div class="ui-block-title">
                                <h4 class="title">دیکو برای حذف محصول را انتخاب کنید</h4>
                                <a href="#" class="more">
                                    <svg class="olymp-three-dots-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <ul class="notification-list">
                                {% for obj in object_list %}
                                    <li>
                                        <div class="notification-event">
                                            <a href="{% url 'dashboard:dashboard_dikko_products_list_remove' pk=obj.pk %}"
                                               class="h6 notification-friend">{{ obj }}</a>


                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>


                        {% elif request.path == "/dashboard/dikko_management/pre_edit" %}

                                        <div class="ui-block-title">
                                <h4 class="title">دیکو برای ویرایش محصول را انتخاب کنید</h4>
                                <a href="#" class="more">
                                    <svg class="olymp-three-dots-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <ul class="notification-list">
                                {% for obj in object_list %}
                                    <li>
                                        <div class="notification-event">
                                            <a href="{% url 'dashboard:dashboard_dikko_products_list_edit' pk=obj.pk %}"
                                               class="h6 notification-friend">{{ obj }}</a>


                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>



                        {% endif %}
                    {% endif %}


                </div>
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {#		</div>#}
    {#    </div>#}
    <!-- blog-details-area end -->
{% endblock %}
<!-- newsletter-area start -->
