{% extends 'dashboard.html' %}
{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4 class="title">خبرنامه</h4>
                    </div>
                    <ul class="notification-list">
                        {% for community in communities %}
                            <li>
                                <div class="recent-product-content">

                                        <a href="#collapseCommunity" data-toggle="collapse" role="button"
                                           aria-expanded="false" aria-controls="collapseCommunity">{{ community }}</a>


                                    <div class="collapse" id="collapseCommunity">
                                        <div class="card card-body" style="padding-top: 15px;padding-right: 8px">
                                            <div>
                                                <a href="{% url 'dashboard:dashboard_subscribers_message_list' slug=community.slug %}"
                                                   style="font-size: 10px">مشاهده پیام های قبلی</a>
                                                <br>
                                                <a href="{% url 'dashboard:dashboard_subscribers_create_message' slug=community.slug %}"
                                                   style="font-size: 10px">ساخت پیام جدید</a>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            {#                         <li><a href="{{ community.get_absolute_url }}">{{ community }}</a></li>#}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}