{% extends 'dashboard.html' %}
{% load jalali_tags %}
{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4 class="title">شکایات</h4>
                    </div>
                    <ul class="notification-list">
                        {% for complain in complains %}
                            <li>
                                <div class="notification-event">
                                    <a href="" data-toggle="modal" data-target="#{{ complain.id }}"
                                       class="notification-link">  {{ complain }} در
                                        تاریخ {{ complain.created_date|to_jalali:'%y/%m/%d _ %H:%M:%S' }}</a>

                                    <div class="modal fade" id="{{ complain.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title w-100 font-weight-bold">جزئیات شکایت ثبت
                                                        شده</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body mx-3">


                                                    <div class="form-group label-floating">
                                                        <label class="control-label">متن شکایت:
                                                        </label>
                                                        {{ complain.text }}
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">وضعیت شکایت</label>
                                                        {{ complain.status }}
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}