{% extends 'dashboard.html' %}

{% load jalali_tags %}
{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="blog-details-wrap mb-20">

                    <p>اطلاعات کد تخفیف را وارد کنید</p>
                <p>{{ request.user.date_joined|to_jalali:'%y/%m/%d _ %H:%M:%S' }}</p>


                    {% if user.staff %}
                        <form method="post">
                         {{ form.media }}
                            {% csrf_token %}
                            <div class="row">
                                {{ form.errors }}
                                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">نام کد</label>
                                        {{ form.name }}
                                    </div>

                                    <div class="form-group label-floating">
                                        <label class="control-label">کد تخفیف</label>
                                        {{ form.code }}
                                    </div>
                                    <div class="form-group label-floating">
                                        <label class="control-label">شریک تجاری</label>
                                        {{ form.partner }}
                                    </div>
                                </div>


                                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">درصد</label>
                                        {{ form.percent }}
                                    </div>

                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">حداکثر سقف</label>
                                        {{ form.upper_limit }}
                                    </div>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">حدااقل سقف</label>
                                        {{ form.down_limit }}
                                    </div>

                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">تاریخ انقضا</label>
                                        {{ form.expire_date }}
                                    </div>
                                </div>
                                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">

                                    <button class="btn btn-primary btn-lg full-width">ثبت تغییرات</button>
                                </div>

                            </div>


                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}