{% extends 'dashboard.html' %}

{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4 class="title">آمار</h4>
                    </div>
                    <ul class="notification-list">
                        <li id="sell_per_product" data-url="{% url 'dashboard:dashboard_analytics_sell_per_product' %}">
                        </li>
                        <li id="sell_per_dikko" data-url="{% url 'dashboard:dashboard_analytics_sell_per_dikko' %}">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script src="https://code.highcharts.com/highcharts.src.js" charset="UTF-8"></script>
    <script charset="UTF-8">
    $.ajax({
      url: $("#sell_per_product").attr("data-url"),
      dataType: 'json',
      success: function (data) {
        Highcharts.chart("sell_per_product", data);
      }
    });

  </script>
      <script charset="UTF-8">
    $.ajax({
      url: $("#sell_per_dikko").attr("data-url"),
      dataType: 'json',
      success: function (data) {
        Highcharts.chart("sell_per_dikko", data);
      }
    });

  </script>
{% endblock %}