{% extends 'dashboard.html' %}
{% block dashboard %}
    {{ form.media }}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4 class="title">{{ community }} ساخت پیام</h4>
                    </div>
                    <div class="blog-details-wrap mb-20">
                        {{ form.errors }}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col col-md-12">
                                    <div class="form-group ">
                                        <label class="control-label">  {{ form.title.label }}</label>

                                        {{ form.title }}
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label">{{ form.message.label }}</label>

                                        {{ form.message }}
                                    </div>
                                    <button class="btn btn-default" type="submit">ارسال پیام</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}