{% extends 'dashboard.html' %}
{% load jalali_tags %}
{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h4 class="title">{{ message }}</h4>
                    </div>
                    <div class="blog-details-wrap mb-20">
                         تعداد کاربران {{ message.community.subscriber_set.count }}
 نویسنده                        {{ message.writer }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}