{% extends 'dashboard.html' %}
{% block dashboard %}
{#    <div class="main ptb-50 bg-2">#}
		<!-- blog-details-area start -->
{#		<div class="blog-details-area bg-2 ptb-70">#}
			<div class="container" >
				<div class="row">
					<!-- sidebar-area start-->

					<!-- sidebar-area end-->
					<div class="col-lg-9 col-md-8 col-xs-12">
						<div class="blog-details-wrap mb-20">
                            {% if user.staff %}
                                {% if request.path == "/dashboard/dikko_management/" %}
                                    {% for dikko in object_list %}
                                      <a href="{% url 'dashboard:dashboard_dikko_management_add_product' pk=dikko.pk %}"> <button class="btn btn primary" >{{ dikko }}</button></a>
                                    {% endfor %}
                                    <a href="{% url 'dashboard:dashboard_dikko_management_remove_product'  pk=17 pro=47 %}"> <button class="btn btn primary" >حذف</button></a>
                                    {% else %}


                                    {% for dikko in object_list %}
                                      <a href="{% url 'dashboard:dashboard_dikko_info_details' pk=dikko.pk %}"> <button class="btn btn primary" >{{ dikko }}</button></a>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}





						</div>

					</div>
				</div>
			</div>
{#		</div>#}
{#    </div>#}
		<!-- blog-details-area end -->
{% endblock %}
		<!-- newsletter-area start -->
