<option value="" class="dropdown-menu">---------</option>
{% for sfield in sfields %}
    {% for s in sfield %}
        <option value="{{ s.pk }}">{{ s.name }}</option>
        {% endfor %}

{% endfor %}