{% extends 'base.html' %}

{% block content %}



    <!-- contact-area start-->
    <div class="contact-area ptb-70 bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-wrap">
                        <h2 class="contact-title">در تماس باشید</h2>
                        <form method="post" id="contactForm">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.user_email }}
                                </div>

                                <div class="col-md-6">
                                   {{ form.subject }}
                                </div>
                                <div class="col-xs-12">
                                   {{ form.message }}
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn-style" type="submit">ارسال پیام</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-wrap">
                        <h2 class="contact-title">ارتباط با ما</h2>
                        <p>از طریق این فرم پیام خود را برای ما ارسال کنید</p>
                        <div class="row">
                            <div class="col-md-6">
                                <span><i class="fa fa-location-arrow"></i>خراسان جنوبی بیرجند </span>
                            </div>
                            <div class="col-md-6">
                                <span><i class="fa fa-phone"></i>05632438821</span>
                            </div>
                            <div class="col-md-6">
                                <span><i class="fa fa-envelope"></i>support@boghband.com</span>
                            </div>
                            <div class="col-md-6">
                                <span><i class="fa fa-clock-o"></i>پشتیبانی 24/7</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function () {
      var contactForm=$('#contactForm');
      contactForm.submit(function (event) {
          event.preventDefault();
          var email=$('#id_user_email').val();
          var subject=$('#id_subject').val();
          var message=$('#id_message').val();
          var data={
              'email':email,
              'subject':subject,
              'message':message,
          };
          console.log(data);
          $.ajax({
              url:'/contactUs/',
              method:'GET',
              data:data,
              success: function (data) {

                  if(data['valid']===1)
                    swal('کاربر عزیز', "پیام شما با موفقیت ارسال شد", "success");
                  else swal('کاربر عزیز', "متاسفانه خطا رخ داد.لطفا دوباره امتحان کنید", "error");
              }
          });
      });

  })
</script>
{% endblock %}